.crx_MultiSelectBoxLight {
    min-height: 30px;
    .MuiFormControl-root {
        max-height: inherit;
        min-height: 30px;
        margin: 0px;
        border: 0px;
        .MuiInputBase-root {
            padding: 5px 0 0;
            // height: 24px;
            min-height: 30px;
            max-height: inherit;
            border: 0px;
            background-color:var(--color-transparent);
            border-radius: 0px;
            &::before {
                border-bottom: 0px !important;
            }
            &::after {
                border-bottom: 0px !important;
            }
            .MuiAutocomplete-input {
                padding: 0px;
                font-size: 14px;
                position: relative;
                min-width: 0px;
                top: -2px;
                padding-left: 10px;
            }
        }
       
    }

    .selectChip {
        &:hover {
            color: var(--color-333333);
            i {
                color: var(--color-333333);
            }
        }
    }

    .MuiAutocomplete-tag {
        position: relative;
        .MuiChip-deleteIcon {
            opacity: 0;
            position: relative;
            z-index: 5;
            &:hover {
                cursor: pointer;
            }
        }
        &::after {
            position: absolute;
            content: "\f00d";
            font-family: "Font Awesome 5 Pro";
            color: var(--color-d1d2d4);
            font-size: 14px;
            right:7px;
            top: 0;
            &:hover {
                color: var(--color-333333);
            }
        }
    }

    &.inputError{
        outline: 2px solid var(--color-aa1d1d) !important;
        border:1px solid var(--color-transparent);
    }
    .MuiInputBase-adornedEnd {min-height: 29px;}

    .MuiFormControl-root {
        .MuiInputBase-root {
            .MuiAutocomplete-tag {
                .MuiChip-label {
                    padding-left: 5px;
                    padding-right: 8px;
                }
            }
        }
    }
    .selectBoxCloseIcon{
        font-size: 16px;
        top: 2px;
    }
}

.checkIconSingle {
    color: var(--color-F5F5F5);
    font-size:15px;
    margin-right: 12px;
    padding-left: 10px;
}

.singleLabel {
    padding-left: 15px;
}

@media screen and(max-width : 1366)  {
    .makeStyles-paper-350 {
        width: 481px !important;
        margin-top: 0px !important;
        max-height: 164px !important;
        margin-left: -8px !important;
    }
}