.create_category_view {
  padding-top: 58px !important;
  .create_category_form_area {
    .formDetailInfo {
      position: relative;
      top: 55px;
      width: calc(100% - 535px);
      margin: 0 auto;
      z-index: 9;
      .category_create_form_fields {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-basis: inherit;
        place-items: center;
        justify-content: space-evenly;
        .text-field {
          display: flex;
          align-items: center;

          flex-direction: row;
          flex-wrap: wrap;
          label {
            font-size: 14px;
            color: #333;
            padding-right: 20px;
            display: flex;
            width: 85px;
            span {
              padding-left: 8px;
              font-size: 18px;
              font-weight: bold;
              position: relative;
              top: -5px;
              &.staric-error {
                color: var(--color-aa1d1d);
              }
            }
          }
          .CBX-input {
            display: flex;
            width: 310px;
            position: relative;
            .name-field {
              border: 0px;
              width: 100%;
            }
            &.error {
              border: none;
              .name-field {
                border: none;
                outline: 2px solid var(--color-aa1d1d);
              }
            }
          }
          .errorTenantStyle {
            color: var(--color-aa1d1d);
            font-size: 14px;
            font-weight: var(--Font-style-normal);
            font-family: var(--Arial-font-family);
            position: absolute;
            left: -2px;
            top: 36px;
            white-space: nowrap;
            i {
              margin-right: 4px;
            }
          }
        }
      }
    }
    .formFieldBtn {
      padding-bottom: 25px;
      padding-top: 25px;
      position: sticky;
      top: 111px;
      background-color: #fff;
      z-index: 8;

      .create_form_field_button {
        float: right;
      }
    }
    .create_category_Content {
      position: sticky;
      top: 191px;
      z-index: 9;
      .create_category_rows {
        .create_category_column {
          border-right: 1px solid #d1d2d4;
          background: var(--color-333333);
          color: var(--color-d1d2d4);
          text-align: center;
          place-items: center;
          justify-content: center;
          height: 36px;
          font-size: 14px;
          font-family: var(--base-font-family);
        }
      }
    }
    .formFieldFooterButton {
      display: flex;
      margin-top: 35px;
      justify-content: space-between;
      bottom: 0px;
      .submit_cancel_btn {
        .button_save {
          margin-right: 30px;
        }
      }
    }
    .crx_add_ex_from_rows {
      border-left: 1px solid var(--color-ccc);
      border-right: 1px solid var(--color-ccc);
      margin-bottom: 21px;
    //   width: 90.2%;
    // margin: auto;
      .crx-fields-col {
        border-bottom: 1px solid var(--color-ccc);
        .fieldsCol {
          border-right: 1px solid var(--color-ccc);
          padding: 11px;
          color: var(--color-333333);
          font-family: var();
          font-size: 14px;
        }
        .crx-fieldsCol-btn {
          display: flex;
          place-content: center;
        }
      }
    }
  }
}
.Category_Forms_ConFirm_Modal {
  .confirmMessage {
    margin-top: 14px;
    .confirmMessageBottom {
      margin-top: 37px;
      margin-bottom: 45px;
    }
  }
}
