.create_category_view {
    .create_category_form_area {
        .formDetailInfo {
            padding-bottom: 25px;
            padding-top: 12px;
            .category_create_form_fields {
                display: flex;
                flex-direction: row;
                width: 100%;
                flex-basis: inherit;
                place-items: center;
                justify-content: space-evenly;
            }
        }
        .formFieldBtn {
            .add_exist_button {
                margin-bottom: 15px;
            }
        }
        .create_category_Content{
            .create_category_column{
                background: #333;
                padding: 10px;
                color: var(--color-d1d2d4);
                font-size: 14px;
                border-right: 1px solid #d1d2d4;
                text-align: center;
            }
        }
        .formFieldFooterButton {
            display: flex;
            margin-top: 35px;
            justify-content: space-between;
        }
    }
}