.category_tab_parent {
  padding: 25px 100px 0px;
  position: relative;
  z-index: 9;

  .categoryTab_datatable {
    display: block !important;
    padding-bottom: 0px;
    padding-right: 0;
    .CRXDataTableCustom {
      thead{
        &.drag_header{
          tr{
            th{
              &:first-child {
                left: 0px !important;
              }
              &:nth-child(2) {
                left: 60px !important;
              }
            }
          }
        }
        &.searchable_header{
          tr{
            th{
              &:first-child {
                left: 0px !important;
              }
              &:nth-child(2) {
                left: 60px !important;
              }
            }
          }
        }
      }
      tbody{
        &.table_body_{
          tr{
            td{
              &:first-child {
                left: 0px !important;
              }
              &:nth-child(2) {
                left: 60px !important;
              }
            }
          }
        }
      }
    }
  }
}