.add_exisiting_form_modal {
    .MuiDialog-scrollPaper{
        .MuiDialog-paperScrollPaper{
            min-width: 1279px;
            .CRXContent{
                padding-bottom: 0px;
                .add_ex_datatable {
                    .overlayPanel_Right, .overlayPanel, .overlayPanel_bottom{
                        display: none;
                    }
                    .dataTablePages {
                        position: relative;
                        bottom: 0px;
                        width: 100%;
                    }
                    .add_ex_datatable_inner {
                        display: block !important;
                        padding-left: 0px;
                        padding-right: 0px;
                        &::before {
                            display: none;
                        }
                        &::after {
                            display: none;
                        }
                        .CRXDataTableCustom  {
                            .drag_header {
                                tr{
                                    th{
                                        &:first-child {
                                            left: 0px !important;
                                        }
                                    }
                                }
                            }
                            .searchable_header {
                                tr{
                                    th{
                                        &:first-child {
                                            left: 0px !important;
                                        }
                                    }
                                }
                            }
                            .table_body_ {
                                tr{
                                    td {
                                        &:first-child {
                                            left: 0px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .modelTitle {
                padding-bottom: 26px;
            }
        }
    }
    .add_exisiting_field_modal_footer {
        position: sticky;
        bottom: 0;
        background: #fff;
        z-index: 999;
        padding-bottom: 26px;
        padding-top: 26px;
        border-top: 1px solid #d1d3d4;
        .save_button_addEx {
            margin-right: 30px;
        }
    }
}