.add_exisiting_form_modal {
        margin-bottom: 70px;
    .MuiDialog-scrollPaper{
        .MuiDialog-paperScrollPaper{
            min-width: 1279px;
            .CRXContent{
                padding-bottom: 0px;
                padding-top: 32px;
                .add_ex_datatable {
                    margin-bottom: 65px;
                    .overlayPanel_Right, .overlayPanel, .overlayPanel_bottom{
                        display: none;
                    }
                    .dataTablePages {
                        position: relative;
                        bottom: 0px;
                        width: 100%;
                    }
                    .add_ex_datatable_inner {
                        display: block !important;
                        padding-left: 0px;
                        padding-right: 0px;
                        &::before {
                            display: none;
                        }
                        &::after {
                            display: none;
                        }
                        .CRXDataTableCustom  {
                            .drag_header {
                                tr{
                                    th{
                                        &:first-child {
                                            left: 0px !important;
                                        }
                                    }
                                }
                            }
                            .searchable_header {
                                tr{
                                    th{
                                        &:first-child {
                                            left: 0px !important;
                                        }
                                    }
                                }
                            }
                            .table_body_ {
                                tr{
                                    td {
                                        &:first-child {
                                            left: 0px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .modalFooter {
                    z-index: 3;
                }
                &::-webkit-scrollbar-button:vertical:decrement { 
                    height: 88px; 
                    background-position: 0px 72px !important;
                }
            }
            .modelTitle {
                padding-bottom: 0;
            }
        }
    }
.stickyPos  {
    padding-bottom: 27px;
    .dataTableShowHideFilter {
        .MuiTooltip-popper {
            transform: translate3d(-18px, -43px, 0) !important;
        }
    }
}
.MuiDialog-paperScrollPaper {
    &::before {
        content: "";
        position: absolute;
        top: 40px;
        background: white;
        width: 100%;
        height: 30px;
        z-index: 3;
    }
}

}