.map-container{
    display: flex;
    justify-content: center;
    &__map{
        height: 100vh;
        width:80%
    }
}
.mapContainer, #map123{
    height: 100vh;
    width:80%;
    justify-content: center;
}

.customNavBar {
    position:absolute;
    top: 20px;
}