.manageCRXUpdateVersion {
  thead {
      &:nth-child(2) {    
          th {
              &:nth-child(8) {
                 .gridFilterGlobal {
                  .crx-global-Select  {
                      width: 118px;
                  }
                 }
              }
              &:nth-child(9) {
                  .MuiGrid-item {
                      max-width: 100%;
                  }
              }
          }
  
      }
  }
  .manageVersionBtn{
      margin-top: 20px !important;
      color: var(--color-d1d2d4) !important;
      background-color: var(--color-333333) !important;
      height: 30px !important;
      z-index: 99999;
  }
  
}