.CRXBadgeComponent-Grey {
  .MuiBadge-badge {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    height: 13px;
    border-radius: 5px;
    border: 1px solid #8A8888;
    background-color:#333333;
  }
}

.CRXBadgeComponent-Orange {
  .MuiBadge-badge {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    height: 13px;
    border-radius: 5px;
    border: 1px solid #4C4C4D;
    background-color:#D74B00;
  }
}
