.footerDiv {
  padding-left: 64px;
  font-size: 12px;
  position: fixed;
  color: var(--color-666666);
  height: 30px;
  display: flex;
  align-items: center;
  width: 50%;
  bottom: 3px;
  font-family:var(--Arial-font-family);
  z-index: 999;

  i {
    position: absolute;
    right: 29px;
    font-size: 24px;
    color: var(--color-d1d2d4);

    &:hover {
      color: var(--color-333333);
      cursor: pointer;
    }
  }
}
