.crxTabsPermission {
    margin-top: 149px; 
    margin-left: 66px;
    padding-right: 2px;
    div[role="tabpanel"]{
        border-top: 1px solid #878787;
        margin-top: -2px;
    } 

    .MuiTab-root  {
            padding: 0 25px;
        &:nth-child(1) {
            padding: 0 74px;
        }
        &:nth-child(2) {
            padding: 0 97px;
        }
        &:nth-child(4) {
            padding: 0 53px;
        }
    }
    .MuiTab-textColorInherit { 
        width: auto;
    }

    .tab-bottom-buttons {
        padding-top: 23px;
        width: 100%;
        display: flex;
        justify-content: "space-between";

        .save-cancel-button-box {
            width: 100%;
            .groupInfoTabButtons {
                min-width: 80px !important;
                height: 30px;
                margin-right: 31px;
            }
        }
        .groupInfoTabButtons-Close {
            min-width: 80px !important;
            height: 30px;
            margin-right: 0px;
        }

    }

@media(max-width:1200px) {
    .MuiTab-root {
        &:nth-child(1) {
            padding: 0 60px !important;
        }
        &:nth-child(2) {
            padding: 0 60px !important;
        }
        &:nth-child(3) {
            padding: 0 20px !important;
        }
        &:nth-child(4) {
            padding: 0 36px !important;
        }
    }
}

@media(max-width:1090px) {
    .MuiTab-root {
        &:nth-child(1) {
            padding: 0 34px !important;
        }
        &:nth-child(2) {
            padding: 0 43px !important;
        }
        &:nth-child(3) {
            padding: 0 17px !important;
        }
        &:nth-child(4) {
            padding: 0 26px !important;
        }
    }
}
}



.crx-group-info-form {
  width: 745px;
  margin: 0 auto;
  padding-top: 82px;
  .crx-group-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    padding-top: 45px;
    span {
      h6 {
        margin-right: 0px;
        width: 16.6vh;
        place-content: flex-start;
      }
    }
    .requiredLable {
      width: 100vh;
    }
    
    input,textarea {
        width: 50vh;
    }
    .MuiOutlinedInput-multiline {
        padding: 0;
        border-radius: 0;
        fieldset {
            border: 0px;
        }
        &.Mui-focused {
            fieldset {
                border: 0px;
            }
        }
    }
    .groupInfoInputs {
        padding-bottom: 30px;
    }
    .inputLabelNoReq {
        color: #333333;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: normal;
    }
  }
  .indicates-label {
    font-style: italic;
    font-size: 14px;
    color: #333;
    b {
        font-size: 20px;
    }
  }
  
}
