.crxTabsPermission {

    div[role="tabpanel"]{
        border-top: 1px solid #333;
        margin-top: -2px;
    } 

    .MuiTab-root  {
            padding: 0 25px;
        &:nth-child(1) {
            padding: 0 74px;
        }
        &:nth-child(2) {
            padding: 0 97px;
        }
        &:nth-child(4) {
            padding: 0 53px;
        }
    }
    .MuiTab-textColorInherit { 
        width: auto;
    }


@media(max-width:1200px) {
    .MuiTab-root {
        &:nth-child(1) {
            padding: 0 60px !important;
        }
        &:nth-child(2) {
            padding: 0 60px !important;
        }
        &:nth-child(3) {
            padding: 0 20px !important;
        }
        &:nth-child(4) {
            padding: 0 36px !important;
        }
    }
}

@media(max-width:1090px) {
    .MuiTab-root {
        &:nth-child(1) {
            padding: 0 34px !important;
        }
        &:nth-child(2) {
            padding: 0 43px !important;
        }
        &:nth-child(3) {
            padding: 0 17px !important;
        }
        &:nth-child(4) {
            padding: 0 26px !important;
        }
    }
}
}



.crx-group-info-form {
  width: 100%;
  .crx-group-info {
    place-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    span {
      h6 {
        margin-right: 15px;
        width: 20vh;
        place-content: flex-start;
      }
    }
    .requiredLable {
      width: 100vh;
    }
    .requiredLable{
      span{
        margin-top: 0px;
      }
    }
    span {
      margin-top: 10px;
    }
    input,textarea {
        width: 50vh;
    }
    .MuiOutlinedInput-multiline {padding: 18.5px 0px 0 19px;border-radius: 0;}
  }
  .label {
      display: flex;
      place-content: center;
  }
  .label {place-content: center;display: flex;}
}
