.crxTabsPermission {
  margin-top: 154px;
  margin-left: 66px;
  padding-right: 2px;
  .CrxMsgErrorGroup {
    display: inline-flex;
    span {margin: 0 4px;text-transform: uppercase !important;}
  }
  div[role="tabpanel"] {
    border-top: 1px solid #878787;
    margin-top: -2px;
    position: relative;
    &::before {
      width: 1543px;
      height: 9px;
      background: #fff;
      position: fixed;
      content: " ";
      z-index: 3;
      margin-top: -25px;
      margin-left: 74px;
    }
    &::after {
      // width: 1152px;
      // height: 17px;
      // background: #fff;
      // position: fixed;
      // content: " ";
      // z-index: 9999;
      // /* margin-top: -25px; */
      // margin-left: 100px;
      // bottom: 115px;
    }
  }

  .MuiTab-root {
    padding: 0 25px;
    &:nth-child(1) {
      padding: 0 74px;
    }
    &:nth-child(2) {
      padding: 0 97px;
    }
    &:nth-child(4) {
      padding: 0 53px;
    }
  }
  .MuiTab-textColorInherit {
    width: auto;
  }

  .tab-bottom-buttons {
    padding-top: 23px;
    width: 100%;
    display: flex;
    justify-content: "space-between";

    .save-cancel-button-box {
      width: 100%;
      .groupInfoTabButtons {
        min-width: 80px !important;
        height: 30px;
        margin-right: 31px;
      }
    }
    .groupInfoTabButtons-Close {
      min-width: 80px !important;
      height: 30px;
      margin-right: 0px;
    }
  }

  @media (max-width: 1200px) {
    .MuiTab-root {
      &:nth-child(1) {
        padding: 0 60px !important;
      }
      &:nth-child(2) {
        padding: 0 60px !important;
      }
      &:nth-child(3) {
        padding: 0 20px !important;
      }
      &:nth-child(4) {
        padding: 0 36px !important;
      }
    }
  }

  @media (max-width: 1090px) {
    .MuiTab-root {
      &:nth-child(1) {
        padding: 0 34px !important;
      }
      &:nth-child(2) {
        padding: 0 43px !important;
      }
      &:nth-child(3) {
        padding: 0 17px !important;
      }
      &:nth-child(4) {
        padding: 0 26px !important;
      }
    }
  }
  .CrxAlertNotificationGroup {
      padding-right: 2px;
       margin: -10px 0 27px;
      display: inline-flex;
  }
  .showMessageGroup {
    display: inline-flex;
    margin: -10px 0 27px;
  }
  .hideMessageGroup {
    margin: 0;
    display: none;
 
  }
 
}

.crx-group-info-form {
  width: 745px;
  margin: 0 auto;
  padding-top: 82px;
  .crx-group-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    padding-top: 43px;
    span {
      h6 {
        margin-right: 0px;
        width: 125px;
        place-content: flex-start;
      }
    }
    .requiredLable {
      width: 100vh;
    }

    input,
    textarea {
      width: 50vh;
    }
    .MuiOutlinedInput-multiline {
      padding: 0;
      border-radius: 0;
      fieldset {
        border: 0px;
      }
      &.Mui-focused {
        fieldset {
          border: 0px;
        }
      }
    }
    .groupInfoInputs {
      padding-bottom: 30px;
    }
    .inputLabelNoReq {
      color: #333333;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: normal;
    }
  }
  .indicates-label {
    font-style: italic;
    font-size: 14px;
    color: #333;
    b {
      font-size: 20px;
    }
  }
}

.userGroupNameConfirm {
  .crxConfirmFooterModal {
    button {
      &.primary {
        min-width: 90px;
        height: 30px;
        margin-right: 23px;
      }
    }
  }
  .confirmMessage {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding: 13px 13px 0px 2px;
    color: #333;
    padding-top: 13px;
    font-family: Arial, Helvetica, sans-serif;
    strong {
      font-weight: bold;
    }
    .confirmMessageBottom {
      padding-top: 34px;
    }
  }
}
.errorGroupInfo {
  &.errorMessageShow {
    .userError {
      outline: 1px solid #d1d2d4;
    }
  }
}
.errorMessageShow  .userError   {
  outline: 2px solid #aa1d1d;
}
@media only screen and (max-width: 1366px) {
  .crxTabsPermission div[role="tabpanel"]::before {
    width: 1100px !important;
    margin-left: 80px !important;
  }
}

@media only screen and (max-width: 1620px) {
  .crxTabsPermission div[role="tabpanel"]::before {
    width: 1243px;
  }
}
