.CBX-datePicker{
    width: 100%;
    .MuiInput-underline{
        &:before {
            border:0px solid var(--color-d1d2d4);
        }
        &:after {
            border:0px solid var(--color-d1d2d4);
        }
        &:hover{
            border:0px solid var(--color-d1d2d4);
            &:not(.Mui-disabled) {
                &:before{
                    border:0px solid var(--color-d1d2d4);
                }
            }
        }
        &:focus{
            border:0px solid var(--color-d1d2d4);
        }
    }
    input{
        border: 1px solid var(--color-d1d2d4);
        padding: 0px 0px;
        text-indent: 10px;
        height: 28px;

        &:hover{
            border:1px solid var(--color-888787);
        }
        &:focus{
            border:2px solid var(--color-888787);
        }
    }

    .Mui-focused {
        border:2px solid var(--color-888787);
        outline: none !important;
    }
}

.disabled {
    background: var(--color-d1d2d4);
    .MuiInput-underline{
        input {
            background: var(--color-d1d2d4);
            &:hover{
                border:1px solid var(--color-transparent);
            }
            &:focus{
                border-color: var(--color-transparent);
            }
        }
    }
}

.errors{
    .MuiInput-underline{
        input {
            border:1px solid var(--color-aa1d1d);
            &:hover{
                border:1px solid var(--color-aa1d1d);
            }
            &:focus{
                border-color: var(--color-aa1d1d);
            }
        }
    }
}

.errorStateContent{
    color: var(--color-aa1d1d);
    padding-top:7px;
    .errorState{
        color: var(--color-aa1d1d);
        vertical-align: bottom;
    }
}