.CrxCreateDataSource {
    .CRXContent {
      overflow-x: hidden;
    }
    .crxAlertDataSourceEditForm {
      margin-bottom: 20px;
    }
    .MuiDialog-scrollPaper .MuiDialog-paperScrollPaper {
      max-width: 685px;
      min-width: 630px;
    }
    .modelTitle {
      h2 {
        font-size: 16px;
        color: var(--color-333333);
        font-family: var(--base-font-family);
        font-weight: var(--Font-style-normal);
      }
    }
    .CrxEditForm {
      //padding: 40px 52px 47px 26px;
      color: var(--color-333333);
      // height: calc(100% - 97px);
      // overflow-y: auto;
      // overflow-x: hidden;
  
      h6 {
        width: 168.66px;
      }
      > span {
        margin: 0 0 34px;
        display: flex;
        label.requiredLable {
          .inputLabelReq {
            line-height: 24px;
            margin-left: 5px;
            font-size: 20px;
            font-weight: var(--Font-style-bold);
            color: var(--color-333333);
          }
        }
        span {
          font-size: 14px;
          color: var(--color-333333);
          font-family: var(--base-font-family);
          .errors {
            .MuiInput-underline {
              input {
                outline: 2px solid var(--color-aa1d1d);
                border: 1px solid var(--color-transparent);
                height: 28px;
                &:focus,
                &:hover {
                  border: 1px solid var(--color-d1d2d4);
                }
              }
            }
          }
        }
        .users-input {
          width: 380px;
        }
  
        .errorStateContent {
          font-size: 14px;
          color: var(--color-aa1d1d);
          margin: 7px 0 0;
          line-height: 16px;
          padding: 0;
          .crxErrorMsg {
            color: var(--color-aa1d1d) !important;
            font-size: 14px !important;
          }
        }
      }
      .crxCreateEditDate {
        margin-bottom: 33px;
        margin-top: 33px;
        label {
          width: 169px;
        }
        input {
          padding-right: 8px;
          text-indent: 8px;
        }
        .users-input {
          width: 380px;
          padding: 0;
          // left: -51px;
        }
      }
      .crxEditFilter {
        display: flex;
        > span {
          display: inline-flex;
          h6 {
            .requiredLable {
              font-size: 14px;
              color: var(--color-333333);
              font-family: var(--base-font-family);
              span {
                font-size: 20px;
                line-height: 24px;
                margin-left: 2px;
                color: var(--color-333333);
              }
            }
          }
        }
        .CrxDataSourceEditForm {
          
          display: inline-flex;
          input {
            display: inline-block;
            height: auto;
            min-width: auto;
            margin-left: 5px;
            margin-top: -5px;
            font-size: 14px;
          }
          &.inputError {
            margin-bottom: 24px;
          }
          .MuiAutocomplete-tag {
            .MuiChip-label {
              padding-left: 9px;
              padding-right: 2px;
            }
          }
        }
        .crxDropdownValidationError {
          font-size: 14px;
          color: var(--color-aa1d1d);
          margin: 7px 0 0;
          line-height: 16px;
          padding: 0;
        }
        p {
          &.Mui-error {
            margin: 0 -7px;
          }
        }
      }
      
      .crxRadioBtn {
        padding-top: 27px;
        padding-bottom: 29px;
        label {
          margin-right: 45px;
        }
       
  
        .crxEditRadioBtn {
          label {
            margin-bottom: 30px;
            .MuiButtonBase-root {
              padding: 0 13px 0 0;
              &:hover {
                background-color: var(--color-transparent);
              }
            }
            &:last-child {
              margin-bottom: 33px;
            }
          }
  
          .crx-Generate-pass {
            padding: 0 0 0 34px;
            display: block;
            width: 100%;
            .crxGeneratePassword {
              display: flex;
              h6 {
                width: auto;
              }
              .primary {
                margin-right: 33px;
                width: 90px;
                border: none;
              }
            }
            .crx-generate-btn {
              width: 212px;
            }
            .copyButton {
              background: none;
              color: var(--color-979797);
              border: none;
              padding: 0;
              justify-content: flex-end;
              text-align: right;
              font-size: 14px;
              color: var(--color-d74b00);
              padding-top: 4px;
              padding-bottom: 22px;
              font-family: var(--base-font-family);
              &:hover {
                background: none;
                border: none;
              }
              &:focus {
                background: none;
                border: none;
              }
            }
          }
          .MuiCheckbox-root {
            padding-left: 0;
            padding-right: 14px;
          }
          .crx-requird-check {
            label {
              width: 146px;
              display: inline-flex;
              margin-bottom: 27px;
              font-size: 14px;
            }
            .crxSelectedDark {
              color: var(--color-333333);
            }
            // .crxCheckBoxCreate  {
            //   .MuiIconButton-label {
            //     span[class*="makeStyles-icon-"] {
            //       &:hover {
            //         color:var(--color-333333) !important;
            //       }
            //     }
            //   }
            // }
          }
        }
        .crx-manually-generate-pass {
          padding: 0 0 0 35px;
          > span {
            margin: 2px 0 35px;
            display: flex !important;
          }
          h6 {
            font-size: 14px;
            display: inline-block;
            max-width: 132px;
            min-width: 132px;
            margin-right: 30px;
            .requiredLable {
              margin-bottom: 0;
              margin-right: 0;
              .inputLabelReq {
                line-height: 24px;
                margin-left: 7px;
                font-size: 20px;
                color: var(--color-333333);
              }
            }
          }
          .crx-requird-check {
            float: right;
            display: inline-flex;
            margin-top: -2px;
            label {
              margin: -2px 0 33px;
            }
            .CRXCheckBox {
              padding-top: 0;
              align-items: flex-start;
              padding-right: 13px;
            }
          }
          .crx-gente-field {
            width: 173px;
            float: right;
          }
          .errorStateContent {
            width: 224px;
            float: right;
            text-align: left;
            font-size: 14px;
            color: var(--color-aa1d1d);
            margin: 7px 0 -2px;
            line-height: 16px;
            padding: 0;
          }
        }
      }
    }
    .crxFooterEditFormBtn {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0 25px;
      height: 75px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 1px solid var(--color-d1d2d4);
      width: 100%;
      background: var(--color-White);
      button {
        font-size: 14px;
        border-radius: 0;
        height: 30px;
        text-transform: revert;
        font-family: var(--base-font-family);
        width: 80px;
      }
      button.Mui-disabled {
        color: var(--color-979797);
        background: var(--color-e5e5e5);
        border: none;
      }
  
      .primary {
        background: var(--color-333333);
        color: var(--color-d1d2d4);
        margin-right: 32px;
        &:hover {
          background: var(--color-6e6e6e);
          color: var(--color-f5f5f5);
          border: 1px solid var(--color-transparent);
        }
        &:focus {
          background: var(--color-231f20);
          color: var(--color-f5f5f5);
        }
      }
      .secondary {
        border: 1px solid var(--color-878787);
        background: var(--color-White);
        color: var(--color-333333);
        box-shadow: none;
        margin: 0;
        &:hover {
          border: 1px solid var(--color-878787);
          background: var(--color-White) !important;
          color: var(--color-333333);
        }
        &:focus {
          background: var(--color-White) !important;
          color: var(--color-333333) !important;
          border: 1px solid var(--color-878787);
        }
      }
    }
    .CRXDivider {
      border: none;
      margin: 0;
      width: 100%;
      height: 1px;
      background: var(--color-d1d2d4);
    }
  
    .CRXPopupCrossButton {
      width: 46px;
      top: 7px;
      right: 7px;
      button {
        &:hover {
          background: var(--color-transparent);
        }
        i {
          &:hover {
            color: var(--color-333333);
          }
          &:focus {
            color: var(--color-333333);
          }
        }
      }
    }
    .modalEditCrx {
      padding-right: 11px;
      padding-top: 2px;
    }
    
  }
  .CreateDataSourceUi {
    margin-left: 62px;
    .grid_spacer {
      width: 92px;
    }
    .modalEditCrx {
      padding: 0 130px 0 30px;
    }
    .gridFilterTextBox {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      .gridFilterSpanUi {
        width: 100%;
      }
    }
    .inputLabelNoReq {
      margin-bottom: 8px;
      display: inline-block;
      font-size: 14px;
      color: var(--color-333333);
    }
    .crxEditFilter {
      flex-direction: column;
    }
    .CrxDataSourceDropDownEditForm {
      width: 100% !important;
    }
    .requiredLable {
      align-items: baseline;
    }
    .inputLabelReq {
      left: 9px !important;
    }
    .DeactivationDateUi {
      flex-direction: row;
      align-items: baseline;
      padding: 0 5px 0 5px !important;
      margin-bottom: 3px !important;
      label {
        margin-bottom: 6px;
      }
      .users-input {
        width: 100% !important;
      }
    }
    .editFilterUi {
      padding: 0 5px 0 5px;
      flex-direction: row;
      .requiredLable {
        margin-bottom: 8px;
        font-size: 14px;
        color: var(--color-333333);
        font-family: var(--Arial-font-family);
        > span {
          font-size: 20px;
          padding-left: 2px !important;
          margin-left: 8px !important;
        }
      }
      .inputError {
        margin-bottom: 0px !important;
      }
      > span {
        width: 167px;
      }
      .selectInner_content {
        width: 100%;
      }
    }
    .crxRadioBtnUi {
      display: flex;
      flex-direction: row;
      padding-left: 3px;
      .user-radio-group {
        margin-top: 4px;
        width: 100% !important;
      
      }
      &.radioBtnUiSpacer {
        .user-radio-group {
        width: 434px !important;
      }
      }
      label {
        font-size: 14px;
        margin-right: 0px !important;
        width: 241px !important;
      }
    }
    .crxFooterEditFormBtn {
      padding: 0 28px 0 89px !important;
      bottom: 55px;
      position: fixed;
      border: none;
      place-content: space-between;
      display: flex;
  
      .groupInfoTabButtons-Close {
        min-width: 80px !important;
      height: 30px;
      border: 1px solid #878787;
      background: #ffffff;
      color: #333333;
      box-shadow: none;
      &:focus {
        border: 1px solid #231f20 !important;
        background: #231f20 !important;
        color: #f5f5f5 !important;
      }
      &:hover {
        border: 1px solid #878787;
        background: #f5f5f5 !important;
        color: #333333 !important;
      }
      }
      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 50%;
        background: white;
        top: 49px;
        right: 0;
      }
      .__crxFooterBtnUser__ {
        display: flex;
      }
    }
    .errorStateContent {
      position: absolute;
    }
    .errors {
      .MuiInput-underline {
        input {
          border: 2px solid var(--color-aa1d1d);
          outline: none;
        }
      }
    }
    .radioBtnUiSpacer,.ManualRadioBtn {
      margin-bottom: 160px;
    }
    .CrxIndicates {
      position: fixed !important;
      top: 87px !important;
      height: 58px;
      background-color: #ffffff !important;
      padding-top: 19px;
      width: calc(100% - 241px);
      padding-bottom: 13px;
      border-bottom: 1px solid #dedede;
    }
    .crxDropdownValidationError {
      i {
        font-size: 12px;
      }
    }
    .crx-Generate-pass {
      .inputLabelNoReq {
        display: inline;
      }
      .gridFilterTextBox {
        margin-bottom: 0px;
      }
      .copyButton {
        padding-bottom: 19px !important;
      }
    }
    .crx-manually-generate-pass {
      .errorStateContent {
        left: 203px;
        right: 6px !important;
        margin-top: 38px !important;
        i {
          font-size: 12px;
        }
      }
      .crx-requird-check {
        position: absolute;
        left: 203px;
        margin-top: -10px !important;
        label {
          width: 320px !important;
        }
      }
      .crx-gente-field {
        width: 100% !important;
      }
      .inputLabelReq {
        left: 2px !important;
      }
    }
    .crx-gente-field-confrim + .errorStateContent {
      width: 250px !important;
      left: 203px;
      bottom: 22px;
    }
  
    .ConfirmCheckUi {
      width: 430px !important;
      label {
        width: 300px !important;
      }
    }
    .btnCancelAssign {
      border: 1px solid #878787 !important;
      color: #333333 !important;
      font-size: 14px;
      width: 80px;
      padding: 6px 0;
      font-family: var(--Arial-font-family);
      text-align: center;
      height: 30px;
      text-decoration: none;
      &:hover {
        border: 1px solid #333333 !important;
        color: #333333 !important;
      }
      &:active,
      &:focus {
        border: 1px solid #231f20 !important;
        background: #231f20 !important;
        color: #f5f5f5 !important;
      }
    }
  
    .crxCreateEditDate {
      margin-top: 23px !important;
      label {
        width: 220px !important;
        font-size: 14px;
      }
    }
    .CrxEditForm {
      h6 {
        width: 220.66px !important;
      }
      ._create_user_pin_field {
        margin-top: 30px;
      }
    }
    .inputLabelNoReq {
      margin-top: 7px;
    }
    .crxGeneratePassword {
      flex-direction: row;
      justify-content: space-between;
      .primary {
        margin-right: 29px !important;
      }
  
      button {
        min-width: 90px;
      }
      .crx-generate-btn {
        width: 100% !important;
      }
      .gridFilterTextBox {
        display: block !important;
        width: 100%;
      }
    }
  
    .First_Name_Field , .Last_Name_Field {
      .errorStateContent  {
        .crxErrorMsg {
          display: inline-flex;
          width: 432px;
          margin-left: 5px;
        }
      }
    }
    .FirstNameField_ErrorEnabled {
      margin-bottom: 44px;
    }
    .crxFooterEditFormBtn {
      &::after {
        content: "";
        background: #d1d2d4 !important;
        width: 93.89%;
        position: absolute;
        top: 0;
        height: 1px;
        /* padding: 0 49px; */
        left: 89px;
      }
    }
  
    @media screen and (max-width: 1026px) {
      .crxFooterEditFormBtn {
        padding-bottom: 60px;
        &::after {
          width: 88.89%;
        }
      }
      
    }
  
    @media screen and (min-width: 2200px) {
      .grid_spacer {
        width: 193px;
      }
    }
  
    @media screen and (min-width: 1700px) and (max-width: 2200px) {
      .grid_spacer {
        width: 144px;
      }
   
    }
  
    @media screen and (max-width: 1786px) {
      .CrxEditForm {
        .crxRadioBtn {
          flex-direction: column;
        }
        .crxRadioBtn {
          .user-radio-group {
            padding-left: 70px;
            padding-top: 20px;
          }
        }
      }
      .CrxEditForm  {
        padding-bottom: 40px;
      }
      .crxFooterEditFormBtn {
        bottom: 21px;
      }
    }
  
    @media screen and (max-width: 1944px) {
      .crxRadioBtn {
        .crx-manually-generate-pass {
          .crx-requird-check {
            label {
              padding-right: 36px;
            }
          }
        }
      }
    }
  
    @media screen and (max-width: 1536px) {
      .crxRadioBtn {
        .crx-manually-generate-pass {
          .crx-requird-check {
            label {
              padding-right: 158px;
            }
          }
        }
      }
      .CrxEditForm  {
        padding-bottom: 40px;
      }
      .crxFooterEditFormBtn {
        bottom: 21px;
      }
    }
  
    @media screen and (max-width: 1346px) {
      .crxRadioBtn {
        .crx-manually-generate-pass {
          .crx-requird-check {
            label {
              padding-right: 193px;
            }
          }
        }
      }
      .CrxEditForm  {
        padding-bottom: 60px;
      }
      .crxFooterEditFormBtn {
        bottom: 21px;
      }
    }
  
    @media screen and (max-width: 1279px) {
      .grid_spacer {
        display: none;
      }
      .modalEditCrx {
        padding: 0 185px !important;
      }
      .crxRadioBtn {
        .crx-manually-generate-pass {
          .crx-requird-check {
            label {
              padding-right: 0px;
            }
          }
        }
      }
      .user-radio-group {
        padding-bottom: 90px;
      }
      .crxFooterEditFormBtn {
        &::before {
          width: 100%;
          top: 70px;
        }
      }
    }
  
    @media screen and (max-width: 1084px) {
      .crxRadioBtn {
        .crx-manually-generate-pass {
          .crx-requird-check {
            label {
              padding-right: 38px;
            }
          }
        }
      }
    }
  
    @media screen and (max-width: 1035px) {
      .crxRadioBtn {
        .crx-manually-generate-pass {
          .crx-requird-check {
            label {
              padding-right: 72px;
            }
          }
        }
      }
    }
  }
  
  .searchComponents {
    padding-top: 96px;
    transition: 1s padding ease-out;
  }
  .HotListGroupCustom {
    .crxEditFilter {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    input {
      width: 184px !important;
      &::placeholder {
        padding-left: 12px;
      }
    }
  }
  .editFilterUi {
    padding: 0 5px 20px 5px;
    flex-direction: row;
    .requiredLable {
      margin-bottom: 8px;
      font-size: 14px;
      color: var(--color-333333);
      font-family: var(--Arial-font-family);
      > span {
        font-size: 20px;
        padding-left: 2px !important;
        margin-left: 8px !important;
      }
    }
    .inputError {
      margin-bottom: 0px !important;
    }
    > span {
      width: 167px;
    }
    .selectInner_content {
      width: 100%;
    }
  }
  
  .CrxDataSourceEditForm {
          width: 380px;
          margin: 0 0 33px;
          .selectBoxTextField {
            .MuiInputBase-adornedEnd {
              padding-left: 7px !important;
              .MuiAutocomplete-tag {
                border: 1px solid #bebebe;
                height: 20px;
                color: #333333;
                border-radius: 1px;
                background-color: #fff;
                font-size: 14px;
                align-items: flex-start;
                margin:4px; 
                .MuiChip-label {
                  padding-left:8px;
                  padding-right:0;
                }
                svg {
                  width: 13px;
                  height: 17px;
                  margin-left: 5px;
                  color: #d1d2d4;
                  margin-right: 5px;
                  font-size: 14px;
                  stroke: #d1d2d4;
                  stroke-width: 2px;
                }
              }
              input {
                outline: none;
              }
            }
          }
        }

        
  .DataSourceAutocomplete {
    .fa-caret-down {
      padding-top: 3px;
    }
  }