._multiExport_asset_model_ {
    .userConfirmTitle  {
        margin-top: 1px !important;
    }
    .cancelConfrimText {
        margin-top: 13px;
        margin-bottom: 37px;
    }
    .modalBottomTextClose {
        margin-top: 11px;
        margin-bottom: 30px;
        padding-right: 1px;
        line-height: 22px;
    }
}