.Alpr_CapturePlateLister_SwitchLeftComponents {
  padding-top: 60px;
  transition: 0.5s padding ease-out;
}
.Alpr_CapturePlateLister_Index {
  thead {
      &:nth-child(2) {    
          th {
              &:nth-child(8) {
                 .gridFilterGlobal {
                  .crx-global-Select  {
                      width: 118px;
                  }
                 }
              }
              &:nth-child(9) {
                  .MuiGrid-item {
                      max-width: 100%;
                  }
              }
          }
  
      }
  }
}
