.MuiPaper-root.DarkTheme{
    background-color: var(--color-404041);
    border-radius: 0px !important;
    ul{
        min-width: 150px;
        li{
            color: var(--color-d1d2d4) !important;
            font-size: 13px;
            min-height: 33px;
            &:hover {
                background-color:var(--color-282828);
                color: var(--color-White) !important
            }
            &:focus {
                background-color:var(--color-282828);
                color: var(--color-White) !important
                }
        }
    }
    &.applicationMenu {
        // left:85px !important;
        // top: 45px !important;
    }
}

.MuiPaper-root.LightTheme{
    background-color: var(--color-White);
    border: 1px solid #bebebe;
    border-radius: 0px !important;
    box-shadow: var(--Box-shadow-2);
    margin-top: 2px;
    min-width: 150px;
    max-width: 220px;
    margin-left: 1px;
    ul{
        min-width: 150px;
        li{
            color: var(--color-333333) !important;
            font-size: 13px;
            min-height: 33px;
            &:hover {
                background-color:var(--color-f5f5f5);
                color: var(--color-333333) !important
            }
            &:focus {
                background-color:var(--color-6e6e6e);
                color: var(--color-f5f5f5) !important
                }
            &.Mui-selected {
                background-color: #6e6e6e;
                color: #f5f5f5;
            }
        }
    }
}
.GetacMenu{
    .active {
        background-Color : var(--color-282828);
        color: var(--color-White),
    }
}

.CRXDropDownBtn {
    border:0px;
    border-radius: 0px;
    box-shadow: none;

    .CRXDRPIcon {
        position: relative;
        top: -8px;
        font-size: 21px;
    }
}