.MuiPaper-root.DarkTheme{
    background-color: var(--color-404041);
    border-radius: 0px !important;
    ul{
        min-width: 150px;
        li{
            color: var(--color-d1d2d4) !important;
            font-size: 13px;
            min-height: 33px;
            &:hover {
                background-color:var(--color-282828);
                color: var(--color-White) !important
            }
            &:focus {
                background-color:var(--color-282828);
                color: var(--color-White) !important
                }
        }
    }
    &.applicationMenu {
        // left:85px !important;
        // top: 45px !important;
    }
}

.GetacMenu{
    .active {
        background-Color : var(--color-282828);
        color: var(--color-White),
    }
}

.CRXDropDownBtn {
    border:0px;
    border-radius: 0px;
    box-shadow: none;

    .CRXDRPIcon {
        position: relative;
        top: -8px;
        font-size: 1rem;
    }
}