.CBX_PopOver {
    z-index: 102;
  ._popover_content{
      position: relative;
  
  ._popover_title{
      padding-bottom: 12px;
      display: flex;
      flex: 2 1;
      justify-content: space-between;

      .title_text{
          color: var(--color-333333);
          font-size: 18px;
          font-family: var(--base-font-family);
      }

      ._cbx_PopupCloseIcon {
          font-size: 16px;
          color: var(--color-d1d2d4);
          position: relative;
          top: -7px;
          left: -5px;
          cursor: pointer;
          background: transparent;
          border: 0px;
          &:hover {
              color: var(--color-333333);
          }
      }
  }    
  }/*....... Popover content..........*/

  .arrowPopper {
    position: absolute;
    font-size: 7px;
    left: 0px;
    width: 3em;
    bottom: 0;
    height: 1em;
    &::before {
        width: 0;
        height: 0;
        margin: auto;
        content: "";
        display: block;
        border-style: solid;
    }
    &::after {
        width: 0;
        height: 0;
        margin:0px auto;
        content: "";
        display: block;
        border-style: solid;
    }
}

&[x-placement*="top-start"] {
    .arrowPopper {
        width: 4em;
        bottom: 0;
        left: 27px;
        height: 2em;
        margin-bottom: -2em;
        &::before {
            border-color: #707070 transparent transparent transparent;
            border-width: 1.2em 1.2em 0 1.2em;
        }
        &::after {
            border-color: #F2F2F2 transparent transparent transparent;
            border-width: 1.2em 1.2em 0 1.2em;
            margin:-9px auto;
        }
    }
}

&[x-placement*="bottom-start"] {
    .arrowPopper {
        width: 4em;
        top: 0;
        left: 27px;
        height: 2em;
        margin-top: 0em;
        &::before {
            border-color: transparent transparent #707070 transparent;
            border-width: 0em 1.2em 1.2em 1.2em;
            margin:-9px auto;
        }
        &::after {
            border-color: transparent transparent #F2F2F2 transparent;
            border-width: 0em 1.2em 1.2em 1.2em;
            margin:2px auto;
        }
    }
}

}/*.......... Popover  ..........................*/


._popover_arrow {
  ._popover_content {
      
      &:after, &:before {
          content: " ";
          display: block;
          height: 0;
          position: absolute;
          pointer-events: none;
          width: 0;
          left: 30px;
      }
      &:before{
          border: solid var(--color-transparent);
          bottom: -34px;
          border-top-color: var(--color-black-7);
          border-color: var(--color-707070) var(--color-black-7) var(--color-black-7);
          margin-left: -20px;
          border-width: 10px;
      }
      &:after {
          border: solid var(--color-transparent);
          bottom: -29px;
          border-top-color: var(--color-black-7);
          border-color: var(--color-f5f5f5) var(--color-black-7) var(--color-black-7);
          margin-left: -18px;
          border-width: 8px;
      }
  }
 
}