@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .crxStationDataUser{
        .AssetsDataGrid {
                border: 1px solid var(--color-ccc);
                margin-top: 0;
                box-shadow: none!important;
                border-radius: 0!important;
                overflow-y: auto;
                height: 100vh !important;
                overflow-x: overlay!important;
        }
    }
    .ManageStationUi {
        .centerGeneralTab {
          .generalContainer {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: flex-end;
          }
        }
        .centerSettingTab{
            margin: initial;
            margin-top: 69px;
        }
      }
      .stationDetailOne  {
        .stationColumnSet{
          width: 100%; 
          .crxStationDetail{
            display: flex;
            flex-direction: column;
            margin: 0 100px !important;
            padding-top: 100px;
          }
        }
      }
}