.crxTabsPermission {
  margin-top: 26px;
  .CrxMsgErrorGroup {
    display: inline-flex;
    span {
      margin: 0 4px;
      text-transform: uppercase !important;
    }
  }
  div[role="tabpanel"] {
    border-top: 1px solid var(--color-878787);
    margin-top: -2px;
    position: relative;
    &::before {
      width: 1606px;
      height: 9px;
      background: var(--color-White);
      position: fixed;
      content: " ";
      z-index: 2;
      margin-top: -25px;
      margin-left: 69px;
    }
  }
  div[aria-labelledby="crx-tab-3"] {
    &::before {
      background: var(--color-transparent);
    }
  }

  .MuiTab-root {
    padding: 0 25px;
    &:nth-child(1) {
      padding: 0 74px;
    }
    &:nth-child(2) {
      padding: 0 97px;
    }
    &:nth-child(4) {
      padding: 0 53px;
    }
  }
  .MuiTab-textColorInherit {
    width: auto;
  }

  .tab-bottom-buttons {
    padding-top: 23px;
    width: 100%;
    display: flex;
    justify-content: "space-between";

    .save-cancel-button-box {
      width: 100%;
      .groupInfoTabButtons {
        min-width: 80px !important;
        height: 30px;
        margin-right: 31px;
      }
    }
    .groupInfoTabButtons-Close {
      min-width: 80px !important;
      height: 30px;
      margin-right: 0px;
    }
  }

  @media (max-width: 1200px) {
    .MuiTab-root {
      &:nth-child(1) {
        padding: 0 60px !important;
      }
      &:nth-child(2) {
        padding: 0 60px !important;
      }
      &:nth-child(3) {
        padding: 0 20px !important;
      }
      &:nth-child(4) {
        padding: 0 36px !important;
      }
    }
  }

  @media (max-width: 1090px) {
    .MuiTab-root {
      &:nth-child(1) {
        padding: 0 34px !important;
      }
      &:nth-child(2) {
        padding: 0 43px !important;
      }
      &:nth-child(3) {
        padding: 0 17px !important;
      }
      &:nth-child(4) {
        padding: 0 26px !important;
      }
    }
  }
  .CrxAlertNotificationGroup {
    padding-right: 2px;
    margin: -10px 0 27px;
    display: inline-flex;
  }
  .showMessageGroup {
    display: inline-flex;
    margin: -10px 0 27px;
  }
  .hideMessageGroup {
    margin: 0;
    display: none;
  }
  div[id*="crx-tabpanel-"] {
    height: calc(100vh - 303px);
  }
}

.crx-group-info-form {
  width: 745px;
  margin: 0 auto;
  padding-top: 82px;
  .crx-group-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    padding-top: 43px;
    span {
      h6 {
        margin-right: 0px;
        width: 125px;
        place-content: flex-start;
      }
    }
    .requiredLable {
      width: 100vh;
    }

    input,
    textarea {
      width: 50vh !important;
      margin-left: 0 !important;
    }
    .MuiOutlinedInput-multiline {
      padding: 0;
      border-radius: 0;
      fieldset {
        border: 0px;
      }
      &.Mui-focused {
        fieldset {
          border: 0px;
        }
      }
    }
    .groupInfoInputs {
      padding-bottom: 30px;

      > span {
        display: flex !important;
        margin-bottom: 0;
        h6 {
          label {
            &.requiredLable {
              .inputLabel {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
    .inputLabelNoReq {
      color: var(--color-333333);
      font-family:var(--base-font-family);
      font-size: 14px;
      font-weight: var(--Font-style-normal);
    }
  }
  .indicates-label {
    font-style: italic;
    font-size: 14px;
    color: var(--color-333333);
    b {
      font-size: 20px;
      margin-right: 8px;
    }
  }
}

.userGroupNameConfirm {
  .crxConfirmFooterModal {
    button {
      &.primary {
        min-width: 90px;
        height: 30px;
        margin-right: 23px;
      }
    }
  }
  .confirmMessage {
    font-size: 14px;
    font-weight: var(--Font-style-normal);
    letter-spacing: 0.3px;
    line-height: 18px;
    padding: 13px 13px 0px 2px;
    color: var(--color-333333);
    padding-top: 13px;
    font-family:var(--base-font-family);

    &.__crx__Please__confirm__modal {
      margin-bottom: 40px;
      .__crx__please_confirm_ {
        display: flex;
      }
    }
    strong {
      font-weight: var(--Font-style-bold);
    }
    .confirmMessageBottom {
      padding-top: 34px;
    }
  }
}
.errorGroupInfo {
  &.errorMessageShow {
    .userError {
      outline: 1px solid var(--color-d1d2d4);
    }
  }
}
.errorMessageShow .userError {
  outline: 2px solid var(--color-aa1d1d);
}
@media only screen and (max-width: 1366px) {
  .crxTabsPermission div[role="tabpanel"]::before {
    width: 1100px !important;
    margin-left: 80px !important;
  }
}

@media only screen and (max-width: 1620px) {
  .crxTabsPermission div[role="tabpanel"]::before {
    width: 1243px;
  }
}
