.crx-progress-br {
    .loader {
        position: relative;
        .progressPercentage {
          position: absolute;
          font-size: 11px;
          color: var(--color-White);
          font-weight: var(--Font-style-bold);
          top: 0px;
          line-height: 14px;
        }
        .loadingIcon {
            position: absolute;
            right: 0px;
            top: -25px;
            font-size: 14px;
            color:var(--color-333333);
            &.assetsLoadingBarIcon {
              top: -1px;
              right: -23px;
            }
        }
        .fileUploadStatus {
            font-size: 10px;
            color: var(--color-333333);
            font-weight: var(--Font-style-bold);
            margin-top: 5px;
        }
    }
    .progressErorr  {
      .MuiLinearProgress-barColorPrimary {
        background-color: var(--color-aa1d1d) !important;
        background-image: none;
      }
    }
    .loadingText {
      font-size: 14px;
      color: var(--color-333333);
      font-weight: var(--Font-style-normal);
      margin-bottom:4px;
    }

    .loadingAssets {
      font-size: 10px;
      color: var(--color-333333);
      font-weight: var(--Font-style-bold);
      margin-bottom:4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}

.rotate {
    animation: rotation 2s infinite linear;
  }
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }