.crxMainTab {
    min-height: 34px !important;
    .MuiTab-root {
        border-top: 1px solid var(--color-333333);;
        border-bottom: 2px solid var(--color-333333);
        border-right: 1px solid var(--color-6e6e6e);
        border-left: 1px solid var(--color-6e6e6e);
        background-color: var(--color-333333);
        width: 225px;
        height: 34px;
        min-height: 34px ;
        span {
            color: var(--color-d1d2d4) ;
            font-size: 14px;
            font-family:var(--base-font-family);
            line-height: 20px;
            margin-top: 2px;
        }   
        &:hover {
            background-color: var(--color-6e6e6e);
            border-bottom: 2px solid var(--color-6e6e6e);
            border-right: 1px solid var(--color-6e6e6e);
            border-left: 1px solid var(--color-6e6e6e);
            border-top: 1px solid var(--color-6e6e6e);
            span {
                color: var(--color-f5f5f5) ;
                font-size: 14px;
                font-family:var(--base-font-family);
                line-height: 20px;
            }
        }
        &:focus {
            background-color: var(--color-White);
            border-bottom: 2px solid var(--color-d74b00) !important;
            border-right: 1px solid var(--color-878787) !important;
            border-left: 1px solid var(--color-878787) !important;
            border-top: 1px solid var(--color-878787) !important;
            transition-duration: 0.30s;
            transition-property: border-bottom;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
            span {
                color: var(--color-333333) !important;
                font-size: 14px;
                font-family:var(--base-font-family);
                line-height: 20px;
            }
        }
        &:active  {
            background-color: var(--color-231f20)  !important;
            border-bottom: 2px solid var(--color-231f20) !important;
            border-right: 1px solid var(--color-231f20) !important;
            border-left: 1px solid var(--color-231f20) !important;
            border-top: 1px solid var(--color-231f20) !important;
            span {
                color: var(--color-f5f5f5) !important ;
                font-size: 14px;
                font-family:var(--base-font-family);
                line-height: 20px;
            }
        }

    }
  
    .MuiTabs-root {
        min-height: 34px;
    }
   
    .MuiTabs-indicator {
        display: none;
    }

    .Mui-selected  {
        background-color: var(--color-White) !important;
        border-bottom: 2px solid var(--color-d74b00) !important;
        border-right: 1px solid var(--color-878787) !important;
        border-left: 1px solid var(--color-878787) !important;
        border-top: 1px solid var(--color-878787) !important;
        span {
            color: var(--color-333333) !important;
            font-size: 14px;
            font-family:var(--base-font-family);
            line-height: 20px;
            white-space: nowrap;
        }
    }
    .MuiTab-textColorInherit {
        padding: 0 25px;
    }  


// media 
    @media(max-width:1200px) {
        .MuiTab-root {
            width: 208px;
        }
    }
    @media(max-width:1100px) {
        .MuiTab-root {
            width: 200px;
        }
    }
}


//Sticky tab button area we need add this one class every tabs container save and close conatiner
.stickyTabButton {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    position: sticky;
    border-top: 1px solid #878787;
    background: #fff;
    padding: 22px 0 0px;
    bottom: 0;
}

