.iconContent {
    .paperStyle {
        padding: 25px;
        position: absolute;
        right: 0px;
        z-index: 9;
        top: 41px;
    }

    .buttonStyle {
        background-color: var(--color-transparent) !important;
        color: var(--color-333333);
        padding: 0;
    }
}