.iconContent {
    .paperStyle {
        padding: 25px;
        position: absolute;
        right: 0px;
        z-index: 9;
        top: 41px;
    }

    .buttonStyle {
        background-color: transparent !important;
        color: #333;
    }
}