.LicensePlate_CaptureDataTableParent {
    // margin: 0px 81px;
    position: relative;
    font-family: var(--base-font-family);
  
    .dataTableColumnShoHide {
      button {
        font-size: 14px;
      }
    }
  
    .stickyPos {
      z-index: 7;
      position: sticky !important;
      padding-right: 0px !important;
      width: 100% !important;
    }
  
    .overlaySticky-content {
      display: none;
    }
  }
  
  .LicensePlateCaptureInnerPage {
    .dataTablePages {
      position: inherit !important;
      border-top: none !important;
    }
  }
  
  .LicensePlate_CaptureDataTable {
    .CRXSimpleSelect {
      background: var(--color-d1d2d4);
      color: var(--color-333333);
    }
  
    .LicensePlate_CRX_Lock {
      margin-top: 30px;
    }
  
    .LicensePlate_CBX_input {
      input {
        background: var(--color-d1d2d4);
        color: var(--color-333333);
        font-size: 14px;
        height: 26px;
        text-indent: 10px;
        outline: 1px solid var(--color-888787);
        border: 2px solid var(--color-transparent);
        margin: 0px 0;
      }
  
      .Mui-focused {
        input {
          border: 2px solid var(--color-White);
          outline: 1px solid var(--color-888787);
        }
      }
    }
  
    .LicensePlate_CRX_DataTableLabelCell {
      .makeStyles-headerStickness-6 {
        label {
          white-space: nowrap;
        }
      }
    }
  
  }
  
  .LicensePlate_UI {
    display: flex;
    justify-content: right;
    align-items: center
  }


  .LicensePlate_TableTemplate {
    margin-top: -3px;
    tr {
      &:nth-child(odd) {
        .col-three {
          background-color: var(--color-White);
          left: 0 !important;
          ::selection {
            background-color: red !important;
          }
        }
        &:hover {
          .col-three {
            background-color: var(--color-333333) !important;
          }
        }
      }
      &:nth-child(even) {
        .col-three {
          background-color: var(--color-f2f2f2) !important;
          left: 0 !important;
        }
        &:hover {
          .col-three {
            background-color: var(--color-333333) !important;
          }
        }
      }
      .col-three {
        position: sticky !important;
        left: 0;
        right: 0;
        button {
          position: relative;
          top: 5px;
        }
      }
    }

    .LicensePlate_CRX_global_Select {
      width: auto !important;
    }

    tbody {
      tr {
        td {
          &:nth-child(3) {
            a {
              color: var(--color-d74b00) !important;
            }
            &:hover {
              a {
                text-decoration: none !important;
              }
            }
          }
        }
      }
    }

    .LicensePlate_DataTableBodyCell {
      vertical-align: middle;
      text-indent: 5px;
      &:first-child {
        text-indent: 5px;
        .CRXCheckBox {
          .fal {
            background: transparent;
          }
        }
      }
    }
    .LicensePlate_CRX_DataTableCustom {
      tbody {
        tr {
          &:first-child {
            td {
              &:nth-child(2) {
                .rc-menu {
                  margin-top: 43px;
                }
              }
            }
          }
        }
      }
    }
  }

  .LicensePlate_Btn {
    margin-top: -16px !important;
    color: var(--color-d1d2d4) !important;
    background-color: var(--color-333333) !important;
    height: 30px !important;
    z-index: 99999;
    .MuiButton-label {
      font-family: var(--base-font-family);
      font-size: 14px !important;
      line-height: 16px !important;
      padding: 0 1px !important;
      font-weight: var(--Font-style-normal);
    }
    &:hover {
      color: var(--color-f5f5f5) !important;
      background-color: var(--color-6e6e6e) !important;
      border-color: var(--color-6e6e6e) !important;
    }
    &:active,
    &:focus {
      color: var(--color-f5f5f5) !important;
      background-color: var(--color-231f20) !important;
      border-color: var(--color-231f20) !important ;
    }
  }