.CreateElementButton {
    background-color: #333333 !important;
    height: 30px;
    padding: 0 18px !important;
    border-radius: 0 !important;
    align-items: center !important;
        &:hover {
            background-color: #6E6E6E !important;
            .MuiButton-label {
                color: #F5F5F5 !important;
            } 
        }
        &:active {
            background-color: #231F20 !important;
            .MuiButton-label {
                color: #F5F5F5 !important;
            }   
        }
    .MuiButton-label{
        color: #D1D2D4;
        font-size: 14px;
        line-height: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .CRXDRPIcon {
        display: none;
    }
}
.CreateElementMenu {
    width: 144px;
    border-radius: 0px !important;
    border: 1px solid #BEBEBE;
    border-top: 0;
    ul {
        padding-top: 2px;
        padding-bottom: 2px;
        li {
            padding-left: 17px;
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 7px;
            padding-top: 7px;
            color: #333333;
            font-family: Arial, Helvetica, sans-serif;
            &:hover {
                background-color: #F5F5F5;
            }
            &:active {
                background-color: #6E6E6E;
                color: #F5F5F5;
            }
        }
    }
}