.gridFilterGlobal {
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
.crx-global-Select{
    width: 325px;
    // min-height: 30px;
    &.dark {
        
        background-color: var(--color-d1d2d4);
    }
    &.light {
        
        background-color: var(--color-White);
    }
    .MuiFormControl-root{
        border-width: 0px !important;
        max-height: inherit;
        .MuiInputBase-root {
            // min-height: 30px;
            max-height: inherit;
        }
        &:hover, &:focus {
            border-width:0px !important;
        }
    }
    fieldset{
        border-width: 0px !important;
        &:hover, &:focus {
            border-width:0px !important;
        }
    }

    .MuiInputBase-root{
        padding:0px !important;
    }

    .selectBoxTextField{
        input{
            font-size: 14px;
            color:var(--color-333333);
            padding: 0px;
            height: 26px;
            position: relative;
            top: 0px;
        }
    }
    .MuiChip-root{
        background-color: var(--color-White);
        border-radius: 1px;
        border: 1pt solid var(--color-888787)
    }

    .MuiAutocomplete-tag {
        position: relative;
        .MuiChip-deleteIcon {
            opacity: 0;
            &:hover {
                cursor: pointer;
            }
        }
        &::after {
            position: absolute;
            content: "\f00d";
            font-family: "Font Awesome 5 Pro";
            color: var(--color-d1d2d4);
            font-size: 14px;
            right:7px;
            &:hover {
                color: var(--color-333333);
            }
        }
    }

}
.afterSelectedValue {
    position: absolute;
    background: var(--color-404041);
    display: flex;
    width: 100%;
    z-index: 1;
    height: 32px;
    place-content: center;
    place-items: center;
    button {
        background: var(--color-transparent);
        border:0px;
        outline: 0px;
        color: var(--color-d1d2d4);
        width: 40px;
        &:hover {
            background: var(--color-transparent);
        }
        &:focus {
            background: var(--color-transparent);
            outline: none;
        }
    }
}
}
.error{
    border:2px solid var(--color-aa1d1d)
}

.MuiInput-underline{
    &::before {
        border: 0px !important;
    }
    &::after {
        border: 0px !important;
    }
}

.topLevel{
    margin-top: 25px;
}

.filteredStyle {
    .selectBoxTextField {
        // position: relative;
        // top: 28px;
        // background: #444;
        // width: 302px;
        // left: -9px;
        // padding: 10px 0;
    }
}

.checkIcon {
    padding-right: 12px;
}

.selectBoxIcon, .selectBoxIconCecked {
    color: var(--color-d1d2d4) !important;
    font-size: 18px;
    font-weight: var(--Font-style-normal);
}

.selectBoxIcon:hover, .selectBoxIconCecked:hover {
    background: var(--color-transparent) !important;
}