.getac-simple-select {
  border: 1px solid #d1d2d4;
  transition: all 0.25s ease-in-out;
  height:30px;
  select {
    padding: 5px;
    min-width: 250px;
    font-size: 14px;
    color: #444;
  }
  &:hover {
    border: 1px solid #888787;
    transition: all 0.25s ease-in-out;
  }
  &:focus {
    border: 3px solid #888787;
    transition: all 0.25s ease-in-out;
  }
  .MuiFormControl-root {
    border-width: 0px !important;
    &:hover,
    &:focus {
      border-width: 0px !important;
    }
  }
  fieldset {
    border-width: 0px !important;
    &:hover,
    &:focus {
      border-width: 0px !important;
    }
  }

  .MuiInputBase-root {
    padding: 0px !important;
  }

  .selectBoxTextField {
    input {
      font-size: 14px;
      color: #74767c;
      height: 10px;
      &:focus {
        outline: 3px solid #888787;
        height: 9px;
      }
    }
    .MuiAutocomplete-clearIndicator {
      padding: 2px 0px;
    }
    &.MuiIconButton-root:hover {
      background-color: transparent !important;
    }
  }
  .MuiChip-root {
    background-color: #d7efff;
    border-radius: 4px;
  }
}
.error {
  border: 2px solid #aa1d1d;
}

.MuiInput-underline {
  &::before {
    border: 0px !important;
  }
  &::after {
    border: 0px !important;
  }
}

.topLevel {
  margin-top: 25px;
}
// .MuiIconButton-label {
//   visibility: hidden;
// }
