.crx-datapermission-tab {
  padding-top: 22px;
  .dataPermissionContent {
    margin: 0 86px;
  }
  .crxPermissionPageScroll {
    padding: 0;
    width: 100%;
    max-height: 415px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: overlay;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
  .crxPermissionBtnUSers {
    padding: 0 0 0 0;
    margin: 0 86px;
    border-top: 1px solid #333;
  }
  .dataPermissionColumn {
    background: #333333;
    color: #d1d2d4;
    text-align: center;
    place-items: center;
    justify-content: center;
    height: 50px;
    font-size: 14px;
    font-family: Arial;
    &:nth-child(2) {
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
    }
  }

  .dataPermissionContent {
    .MuiGrid-container {
      place-content: center;
    }
  }
  .PreSearchButton {
    background-color: #333333;
    color: #d1d2d4 !important;
    font-size: 14px;
    margin-top: 27px;
    height: 30px;
    box-shadow: none !important;
    &:hover {
      background-color: #6e6e6e;
      color: #f5f5f5 !important;
    }
    &:focus {
      background-color: #231f20 !important;
      color: #f5f5f5 !important;
    }
  }
  .crx-datapermission-col {
    margin: 0 86px;
    padding: 10px 0 27px;

    .crx-datapermission-item {
      padding: 17px 0;
      position: relative;
      &:last-child {
        &:nth-of-type(odd) {
          padding-bottom: 0;
        }
      }
      &:nth-of-type(even) {
        background: #f2f2f2;
      }
      &:nth-of-type(odd) {
        background: #fff;
      }
      .permissionCol {
        padding: 0 33px;
        &:nth-child(2) {
          padding: 0 35px;

          .adVSelectBox {
            width: 100%;
            color: #333333;
            border: none;
            outline: transparent;
            padding-left: 0;
            .MuiFilledInput-adornedEnd.Mui-focused {
              outline: 3px solid #888787;
              border: transparent;
              &:hover {
                border: none;
              }
            }
            .MuiFilledInput-adornedEnd.Mui-disabled {
              border: none;
              color: #979797;
              &:hover {
                border: none;
              }
            }
            .MuiFilledInput-adornedEnd {
              height: 30px;
              padding-left: 11px;
              border: 1px solid #d1d2d4;
              color: #333333;
              font-size: 14px;
              padding-left: 17px;
              padding-right: 0;
              outline: 3px solid transparent;
              input {
                color: #333333;

                &::-webkit-input-placeholder {
                  /* Edge */
                  color: #74767c;
                }

                &:-ms-input-placeholder {
                  /* Internet Explorer 10-11 */
                  color: #74767c;
                }

                &::placeholder {
                  color: #74767c;
                }
              }
              &:hover {
                border: 1px solid #888787;
              }
              .MuiAutocomplete-popupIndicator {
                font-size: 21px !important;
                &:hover {
                  background-color: transparent;
                }
                .MuiTouchRipple-root {
                  display: none;
                }
              }
              .MuiAutocomplete-clearIndicatorDirty {
                margin-right: 0;
                margin-top: 3px;
                visibility: hidden;
                .MuiTouchRipple-root {
                  display: none;
                }
                .MuiIconButton-label {
                  color: #333333;
                  &::before {
                    content: "\f00d";
                    font-family: "Font Awesome 5 Pro";
                    font-weight: normal;
                    font-size: 14px;
                  }
                  svg {
                    display: none;
                  }
                }
                &:hover {
                  background-color: transparent;
                }
              }
              .MuiAutocomplete-endAdornment {
                right: 12px;
              }
            }
          }
        }
        .adVSelectBox {
          width: 100%;
          height: 30px !important;
          margin: 0 auto;
          i.Mui-disabled {
            background-color: #e5e5e5;
          }
          .Mui-disabled {
            background-color: #e5e5e5;
            color: #979797 !important;
            font-size: 14px;
            &:hover {
              border: none;
            }
            &:focus {
              border: none;
            }
            &::before {
              color: #979797 !important;
            }
            .MuiIconButton-label {
              color: #979797;
            }
          }
        }
        .adVSelectBox.Mui-disabled {
          background-color: #e5e5e5;
          color: #979797;
          border: none;
          &:hover {
            border: none;
          }
          &:focus {
            border: none;
          }
        }
        .createUserSelectBox.Mui-focused {
          outline: 3px solid #888787;
          border: transparent;
          &:hover {
            border: none;
          }
        }
        .createUserSelectBox {
          padding: 0 18px;
          border: 1px solid #d1d2d4;
          background-color: #ffffff;
          outline: 3px solid transparent;
          color: #333333;
          .crxArrowDownSelect {
            background-color: #fff;
            padding-left: 5px !important;
          }
          .crxArrowDownSelect.MuiSelect-iconOpen {
            padding-left: 0 !important;
            padding-right: 5px !important;
            height: 28px;
            margin: 2px 0;
          }
          .MuiSelect-select {
            color: #333333;
            text-overflow: initial;
          }
          input {
            &::-webkit-input-value {
              /* Edge */
              color: #74767c;
            }

            &:-ms-input-value {
              /* Internet Explorer 10-11 */
              color: #74767c;
            }

            &::value {
              color: #74767c;
            }
          }

          &:hover {
            border: 1px solid #888787;
          }
        }
        .Mui-focused.crxDataPermissionArrowHide {
          .MuiAutocomplete-endAdornment {
            .MuiAutocomplete-popupIndicator {
              visibility: visible !important;
            }
            .MuiAutocomplete-clearIndicator {
              visibility: hidden !important;
            }
          }
        }
        .crxDataPermissionArrowHide {
          .MuiAutocomplete-endAdornment {
            .MuiAutocomplete-clearIndicator {
              visibility: visible !important;
              margin-right: -15.5px !important;
            }
            .MuiAutocomplete-popupIndicator {
              visibility: hidden;
            }
          }
        }
      }
      .crx-permission-btn {
        position: absolute;
        right: -38px;
        width: auto;
        bottom: auto;
        height: 30px;
        top: auto;
      }
    }
  }
}
.crxSelectPermissionGroup {
  border: 1px solid #bebebe;
  box-shadow: 0px 0px 5px #00000033 !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  margin-top: 9px !important;
  margin-left: 0 !important;
  .MuiMenu-list {
    padding: 0;
    li {
      height: 33px;
      font-family: Arial;
    }
  }
}

.removeBtn {
  padding: 0;
  line-height: 0;
  background: transparent;
  font-size: 18px;
  border: 0px;
  color: #333;
  border-radius: 100px;
  vertical-align: middle;
  position: relative;
  &::before {
    content: "\10f056";
    font-family: "Font Awesome 5 Duotone";
    position: relative;
    right: 0px;
    top: 0px;
  }
  .MuiSvgIcon-root {
    fill: #fff;
    position: relative;
    top: -5px;
    font-size: 1em;
  }
  &:hover {
    cursor: pointer;
  }
}

.userDataTableParent {
  margin: 0px 81px;
  position: relative;
  top: -20px;
  font-family: Arial, Helvetica, sans-serif;
  .crxClearfilter {
    position: sticky !important;
    top: -19px;
    background: #fff;
    z-index: 99;
    padding-bottom: 4.2px;
  }
  .usersGroupDataTable {
    overflow-x: initial !important;
    margin-top: 0px;
    table {
      tbody {
        tr {
          td {
            &:last-child {
              border-right: none;
            }
          }
        }
        tr {
          &:nth-child(even) {
            td {
              &:first-child {
                background: #f2f2f2;
                .fal {
                  position: relative;
                  &::after {
                    content: "";
                    color: #fff;
                    left: 0;
                    position: absolute;
                    font-family: "Font Awesome 5 Duotone";
                    font-weight: 900;
                    right: 0;
                    top: 0;
                  }
                  &.crxCheckForDarBg {
                    &::after {
                      color: transparent;
                    }
                  }
                }
              }
            }
          }
          td {
            &:first-child {
              background: #fff;
              &:hover {
                border: 0px;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
              }
            }
          }
          &.DataTableBodyCell {
            text-indent: 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 18px;
            text-align: left;
            vertical-align: middle;
            padding-top: 7px;
            padding-bottom: 7px;
            &:last-child {
              .dataTableSimpleText {
                white-space: nowrap;
                overflow: hidden;
                width: 318px;
                text-overflow: ellipsis;
              }
            }
            .CRXCheckBox {
              position: relative;
              left: 10px;
              span {
                input {
                  &:hover {
                    & ~ span {
                      color: #f5f5f5 !important;
                    }
                  }
                }
              }
            }
          }
          &.Mui-selected {
            background-color: #231f20 !important;
            td[scope="row"] {
              background-color: #231f20 !important;
            }
          }
        }
      }
      tbody {
        tr:nth-child(even) {
          td:nth-child(3) {
            background: inherit;
          }
        }
      }
      thead {
        tr {
          th {
            &.CRXDataTableLabelCell {
              top: 45px !important;
            }
            &.TableSearchAbleHead {
              top: 80px !important;
              padding:12px 14px 12px;
            }
            &:last-child {
              border-right: none;
              .crxTableHeaderSize {max-width: 100% !important;}
            }
            span {
              span {
                width: 100%;
              }
            }
            .crx-global-Select {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .dataTablePages {
    position: fixed;
    bottom: 12vh;
    width: 1573px;
    background: #fff;
    /* left: 0; */
    z-index: 999;
    border-top: 1px solid #ccc;
  }

  .usersGroupDataTable {
    height: 100% !important;
  }
}

@media only screen and (max-width: 1366px) {
  .userDataTableParent {
    .dataTablePages {
      position: fixed;
      bottom: 21.6vh !important;
      width: 1019px !important;
      background: #fff;
      /* left: 0; */
      z-index: 999;
      // border-top: 1px solid #ccc;
      .MuiIconButton-root {
        padding: 0px !important;
        span {
          .MuiSvgIcon-root {
            width: 23px !important;
          }
        }
      }
    }
    .crxClearfilter {
      padding-left: 0px !important;
      padding-right: 0px !important;
      min-height: 70px;
      top: -25px;
    }
    .dataTableColumnShoHide {
      .dataIconButton {
        padding-right: 4px;
      }
    }
  }

 
}

@media (max-width: 1600px) and (max-height : 900px) 
{
  .userDataTableParent {
    .dataTablePages {
      position: fixed;
      bottom: 10vh;
      width: 1174px;
      background: #fff;
      /* left: 0; */
      z-index: 999;
      // border-top: 1px solid #ccc;
    }
  }
  .crxGroupTab1 {
    &.crxScrollGroupTop {
      .userDataTableParent {
        .crxClearfilter {
          top: -25px;
          min-height: 70px;
        }
        // .dataTablePages {
        //   bottom: 114px;
        // }
      }
     
    }
    &.crxScrollGroup {
      .userDataTableParent {
        .crxClearfilter {
          top: -25px;
          min-height: 70px;
        }
      }
     
    }
  }
  .hiddenArea {
    &.crxScrollGroup {
      top: 216px;
    }
  }
}
