.CRXEvidencePage {
    .rc-menu-container {
        position: relative !important;
    }
    .rc-menu--open {
        margin-left: 34px;
        margin-top: -8px;
    }
    .rc-menu__arrow--dir-right {
        top: 21px !important;
    }
}