.toasterMsg {
    padding: 0px !important;
    border: 1px solid var(--color-646464);
    background: var(--color-White-1) !important;
    height: 35px;
    padding-left: 13px !important;
    #notistack-snackbar {
        padding: 0px !important;
    }
    .toasterContent {
        font-size: 12px;
        color:var(--color-666666);
        span {
            padding: 0px 2px 0px 8px;
            &:first-letter {
                text-transform: uppercase;
            }
        }
        .warning-stater {
            color: var(--color-8b5c2e);
            font-weight: var(--Font-style-bold);
        }
        .success-stater {
            color: var(--color-317427);
            font-weight: var(--Font-style-bold);
        }
        .error-stater {
            color: var(--color-aa1d1d);
            font-weight: var(--Font-style-bold);
        }
        .info-stater {
            color: var(--color-2259aa);
            font-weight: var(--Font-style-bold);
        }
    }
    &.success{ 
        .successIcon {
            color: var(--color-317427);
            font-size: 18px;
        }
    }
    &.error { 
        .errorIcon {
            color: var(--color-aa1d1d);
            font-size: 18px;
        }
    }
    &.warning { 
        .warningIcon {
            color: var(--color-8b5c2e);
            font-size: 18px;
        }
    }
    &.info{ 
        .infoIcon {
            color: var(--color-2259aa);
            font-size: 18px;
        }
    }
    .closeToaster {
        background: var(--color-transparent);
        color: #999999;
        border: 0px;
        padding-right: 15px;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            color: var(--color-646464);
        }
      }
}

div[class^="SnackbarItem-wrappedRoot-"] {
    top: 49px;
    left: -6px;
}