.create_Internal_Sharing_Form {
    &.crx-model {
        .MuiDialog-scrollPaper {
            .MuiDialog-paperScrollPaper {
                min-width: 1143px;
                top: 151px;
                .modelTitle {
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid var(--color-d1d2d4);
                    padding-bottom: 12px;
                }
                .optionalSticky {
                        display: none;
                }
                .CRXContent_user {
                    min-height : 352px;
                    margin-top: 23px;
                    .create_internal_sharing_form_field_content {
                        .crx_form_Field {
                            display: flex;
                            flex-direction: column;
                        }
                        .crx_form_internal_sharing_row_userGroup {
                            display: flex;
                            .createInternalSharingColUserGroup {
                                display: flex;
                                justify-content: space-evenly;
                                .label {
                                    font-weight: var(--Font-style-bold);
                                    line-height: 30px;
                                    font-size: 14px;
                                }
                                .selectInner_content_autoComplete  {
                                    .caseInternalAutoComplete {
                                        height: auto !important;
                                    }
                                }
                            }
                        }
                        .crx_form_internal_sharing_row_startDate {
                            .dateTimeHeading {
                                display: flex;
                                align-items: center;
                                .span {
                                    padding-right: 2px;
                                }
                            }
                            display: flex;
                            margin-top: 31px;
                            margin-left: 10px;
                            .dateTimeHeading {
                                font-size: 14px;
                                font-weight: var(--Font-style-bold);
                                display: flex;
                                align-items: center;
                                .Requiredlabel {
                                    color: #aa1d1d;
                                }
                            }
                            .startDatelabelUi {
                                display: flex;
                                align-items: center;
                            }
                            .DateTimeUi_picker {
                                border: 1px solid #d1d2d4;
                                width: 415px;
                                margin-left: 10px;
                                position: relative;
                                .errorStyle{
                                    position: absolute;
                                    bottom: -22px;
                                    left: 0px;
                                    border: navajowhite;
                                    color: #aa1d1d;
                                    padding: 2px;
                                    .fas {
                                        padding-right: 3px !important;
                                     }
                                }
                                .CBX-inputDatePicker {
                                    width : 100% !important;
                                    .MuiInput-input {
                                    padding: 8px !important;
                                    }
                                }
                                .datepicker_error {
                                    outline: 1px solid var(--color-aa1d1d);
                                }
                            }
                            .errorBrdr {
                                outline: 1px solid var(--color-aa1d1d);
                            }
                        }
                        .crx_form_internal_sharing_row_endDate {
                            display: flex;
                            margin: 24px 0px;
                            .MuiGrid-item {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                margin-left: 68px;
                            }
                            .DateTimeUi_picker {
                                border: 1px solid #d1d2d4;
                                width: 415px;
                                margin-left: 40px;
                                position: relative;
                                    .errorStyle{
                                        position: absolute;
                                        bottom: -22px;
                                        left: 0px;
                                        border: navajowhite;
                                        color: #aa1d1d;
                                        padding: 2px;
                                        .fas {
                                            padding-right: 3px !important;
                                         }
                                    }
                                .CBX-inputDatePicker {
                                    width : 100% !important;
                                    .MuiInput-input {
                                        padding: 8px !important;
                                    }
                                }
                            }
                            .errorBrdr {
                                outline: 1px solid var(--color-aa1d1d);
                            }
                            .IndefiniteUi {
                                display: flex;
                                justify-content: flex-start;
                                margin-left: 24px;
                                .inputIndefiniteLabel {
                                    font-weight: var(--Font-style-bold);
                                }
                            }
                        }
                        .crx_form_internal_sharing_row_radioBtn {
                            .radioUI  {
                                display: flex;
                                justify-content: center;
                                margin-left: 24px;
                                .internalSharingRadioBtn {
                                    flex-direction: row !important;
                                    .MuiFormControlLabel-root {
                                        margin-left : 73px !important;
                                        .MuiFormControlLabel-label {
                                            font-weight: var(--Font-style-bold);
                                        }
                                    }
                                }
                            }
                        }
                        .CRXFooter {
                            border-top:none;
                        }
                    }
                }
            }
        }
    }
}

