.categoryFormDropDown_UI {
    margin-bottom: 16px;
    .MuiInputBase-root {
        padding-right: 0px !important;
        input {
            top:-5px !important;
            padding-left: 0px !important;
        }
    }
    .MuiAutocomplete-root {
        padding-left: 0px;
    }
    .MuiAutocomplete-clearIndicator {
        margin-top: -2px;
    }
       
}

.categoryInnerField  {
    margin-top: 20px;
}

.categoryFormLabel_UI {
    display: flex;
    div {
        font-weight: bold;
    }
}