.ManageAssetDataTable {
    .CRXSimpleSelect {
        background: #d1d2d4;
        color:#333;
    }

    .CBX-input {
        input {
            background: #d1d2d4;
            color:#333;
        }
    }

    .CRXDataTableLabelCell {
        .makeStyles-headerStickness-6 {
            label {
                white-space: nowrap; 
            }
        }
    }
}

.assetThumb {
    width: 138px;
    height: 77px;
    margin: 12px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tumbPlayIcon {
        position: absolute;
        font-size: 30px;
        color: #fff;
        display: flex;
        visibility: hidden;
    }
    &:hover {
        .tumbPlayIcon {
            visibility: visible;
            &:hover {
                font-size: 36px;
            }
        }
    }
}

.selectFilter {
    width: 100%;
}

.AssetsDataGrid{

    &::-webkit-scrollbar {
        width: 1em;
        height: 15px;
      }
      
      &::-webkit-scrollbar-track {
        border-radius: 0px;
        margin-left: 0px;
        border-right: 0px;
        margin-left: 0px;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #C8C8C8 ;
        outline: 0px solid slategrey;
        border: 2px solid rgba(0, 0, 0, 0);
        background-clip: content-box;
      }
      
      &::-webkit-scrollbar-track-piece {
        background-color: #f1f1f1;
        border: 1px solid #D1D2D4;
        border-right: 0px;
        border-left: 0px;
        margin-left: 0px;
    }

    &::-webkit-scrollbar-button:horizontal:decrement {
        width: 210px;
        height: 30px;
        border: 0px solid transparent;
        background:url('../../../../Assets/Images/scrollLeft21.jpg') no-repeat top right ;
        background-size: contain;
        background-position: 197px;
        background-clip: border-box;
        position: relative;
        left: 190px;
        margin-left: 180px;
    }

    &::-webkit-scrollbar-button:horizontal:increment {
        width: 13px;
        height: 2px;
        border: 1px solid #D1D2D4;
        border-left: 0px;
        background:url('../../../../Assets/Images/scrollIconRight.png') no-repeat center center #f1f1f1; 
        position: relative;
        left: 180px;
    }

    &::-webkit-scrollbar:vertical {
        display: none;
    }
}


.hide{
    display: none;
}
.alignLeft{
    text-align: left;
    padding-top: 7px;
}

.centerPosition{
    text-align: center;
    width: 300px;
    background-color: #333 !important;
}