.ManageAssetDataTable {
    .CRXSimpleSelect {
        background: #d1d2d4;
        color:#333;
    }

    .CBX-input {
        input {
            background: #d1d2d4;
            color:#333;
        }
    }

    .CRXDataTableLabelCell {
        .makeStyles-headerStickness-6 {
            label {
                white-space: nowrap; 
            }
        }
    }
}

.assetThumb {
    width: 138px;
    height: 77px;
    margin: 12px 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.selectFilter {
    width: 100%;
}

.dropdownPaper {
    // min-width: 257px !important
}