.CRXSimpleSelect {
  border: 1px solid var(--color-White-4);
  transition: all 0.25s ease-in-out;
  padding: 0px 10px;
  min-width: 100px;
  min-height: 30px;
  font-size: 14px !important;
  color: var(--color-333333);
  background-color: var(--color-White);

  .crxArrowDownSelect {
    right: 12px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    &::before {
      font-size: 21px !important;
      color: var(--color-333333);
    }
    &.MuiSelect-iconOpen {
      transform: rotate(0deg);
    }
  }

  .MuiInputBase-input {
    padding: 0px;
  }
  select {
    padding: 5px;
    min-width: 250px;
    width: 100%;
    font-size: 14px;
    color: var(--color-444);
  }

  .MuiSelect-select {
    &:focus {
      background: var(--color-transparent);
    }
  }
  &:hover {
    border: 1px solid var(--color-888787);
    transition: all 0.25s ease-in-out;
  }
  &:focus {
    border: 3px solid var(--color-888787);
    transition: all 0.25s ease-in-out;
  }
  .MuiFormControl-root {
    border-width: 0px !important;
    &:hover,
    &:focus {
      border-width: 0px !important;
    }
  }
  fieldset {
    border-width: 0px !important;
    &:hover,
    &:focus {
      border-width: 0px !important;
    }
  }

  .MuiInputBase-root {
    padding: 0px !important;
  }

  .selectBoxTextField {
    input {
      font-size: 14px;
      color: var(--color-74767c);
    }
  }
  .MuiChip-root {
    background-color: var(--color-d7efff);
    border-radius: 4px;
  }

  .CRXSelectIcon {
    padding: 0px 0px;
  }
  .CRXSelectIconArrow {
    position: relative;
    top: -1px;
    font-size: 14px;
  }
  &.Mui-focused {
    outline: 3px solid var(--color-888787);
    border: none !important;
  }
}
.error {
  border: 2px solid var(--color-aa1d1d);
}

.MuiInput-underline {
  &::before {
    border: 0px !important;
  }
  &::after {
    border: 0px !important;
  }
}

.topLevel {
  margin-top: 25px;
}

.paperStyle {
  border-radius: 0px !important;
  border: 1px solid var(--color-bebebe);
  min-width: "200px";
  margin-left: 0px !important;
  margin-top: 8px !important;
}

.MuiInputBase-root.Mui-disabled {
  background-color: #e5e5e5;
  color: #979797;
  font-size: 14px;
  border: 1px solid transparent;
}
