.crxSelectedDark {
    color: #333;
    font-size: 18px;
}

.crxSelectedLight {
    color: #F2F2F2;
    font-size: 18px;
    width: 16px;
    height: 16px;

    &::before {
        position: relative;
        left: -4px;
    }
}

.crxCheckForDarBg {
    color: #F2F2F2;
}

.CRXCheckBox {
    &:hover {
        background: none !important;
    }
}