.crxSelectedDark {
  color: #333;
  font-size: 18px;
  .error {
    color:  #aa1d1d;
  }
}

.crxSelectedLight {
  color: #333 !important;
  font-size: 18px;

  &::before {
    position: relative;
    left: 0px;
  }
  .error {
    color: transparent !important;
  }
}
.crxCheckForDarBg {
  color: #d1d2d4 !important;
  border: none;
  font-size: 18px;
}
.ManageAssetDataTable {
  .crxCheckForDarBg {
    color: #d1d2d4;
    font-size: 18px;
    &::before {
      position: static;
    }
  }
  .CRXCheckBox {
    .MuiIconButton-label {
      &:hover {
        span {
          color:#F5F5F5;
        }
      }
    }
  }
  .CRXCheckBox.Mui-checked {
    .MuiIconButton-label {
      &:hover {
        span {
         color:#F5F5F5 !important;
        }
      }
    }
  }
  .CRXCheckBox {
    span[class*="MuiIconButton-label-"] {
      span {
        color:#d1d2d4;
      }
      &:hover {
        span {
          color:#F5F5F5;
        }
      }
    }
  }
  .CRXCheckBox.Mui-checked {
    span[class*="MuiIconButton-label-"] {
      &:hover {
        span {
          color:#F5F5F5 !important;
        }
      }
    }
  }
}
.CRXCheckBox.MuiCheckbox-colorSecondary.Mui-disabled {
  .crxSelectedDark {
    background-color: #979797;
    color: #e5e5e5;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    font-size: 15px !important;
  }
  .crxSelectedLight {
    color: transparent !important;
  }
}
.CRXCheckBox {
  &:hover {
    background: none !important;
  }
}
.CRXCheckBox {
  .error {
    color: #aa1d1d !important;
    border: none;
  }
  .crxSelectedLight.error {
  color:#aa1d1d;
  border: none;
  }
}
.AssetsDataGrid table tbody tr td {
  .CRXCheckBox  {
    margin-left: -5px;
  }
}