.CBX-input{
    width: 100%;
    .MuiInput-underline{
        &:before {
            border:0px solid #d1d2d4;
        }
        &:after {
            border:0px solid #d1d2d4;
        }
        &:hover{
            border:0px solid #d1d2d4;
            &:not(.Mui-disabled) {
                &:before{
                    border:0px solid #d1d2d4;
                }
            }
        }
        &:focus{
            border:0px solid #d1d2d4;
        }
        input{
            border: 1px solid #d1d2d4;
            padding: 7px 0px;
            text-indent: 10px;

            &:hover{
                border:1px solid #888787;
            }
            &:focus{
                border-color: #888787;
            }
        }
    }
}

.disabled {
    background: #d1d2d4;
    .MuiInput-underline{
        input {
            background: #d1d2d4;
            &:hover{
                border:1px solid transparent;
            }
            &:focus{
                border-color: transparent;
            }
        }
    }
}

.errors{
    .MuiInput-underline{
        input {
            border:1px solid #aa1d1d;
            &:hover{
                border:1px solid #aa1d1d;
            }
            &:focus{
                border-color: #aa1d1d;
            }
        }
    }
}

.errorStateContent{
    color: #aa1d1d;
    padding-top:7px;
    .errorState{
        color: #aa1d1d;
        vertical-align: bottom;
    }
}