.CRXLeftPanel {
  .MuiDrawer-paper {
    top: 57px !important;
    background: var(--color-282828);
    overflow: visible;
    width: 63px;
    box-shadow: var(--Box-shadow);
  }
}

.p-tieredmenu-overlay {
  position: absolute;
}

.p-tieredmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.p-tieredmenu .p-submenu-list {
  position: absolute;
  min-width: 100%;
  z-index: 1;
  display: none;
}

.p-tieredmenu .p-menuitem-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.p-tieredmenu .p-menuitem-text {
  line-height: 1;
}

.p-tieredmenu .p-menuitem {
  position: relative;
}

.p-tieredmenu .p-menuitem-link .p-submenu-icon {
  margin-left: auto;
}

// .p-tieredmenu .p-menuitem-active > .p-submenu-list {
//   display: block;
//   left: 100%;
//   top: 0;
// }

.CRXLogoMenu {
  display: flex;
  height: 57px;
  .appLogo {
    display: inline-block;
    width: 216px;
    position: relative;
    top: 11px;
    height: 32px;
  }
  .toggleIcon {
    color: var(--color-d1d2d4);
    height: auto !important;
  }

  .AppName {
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
    line-height: 54px;
    position: relative;
    &:before {
      position: absolute;
      height: 32px;
      width: 1px;
      left: 16px;
      top: 10.5px;
      background: var(--color-e6e6e6);
      content: ' ';
    }
  }
}

.panelButton {
  padding-left: 25px;
  padding-top: 7px;
  padding-right: 30px;
  .MuiIconButton-root {
    padding: 7px 0px;

    .icon-menu {
      font-size: 26px;
      color: var(--color-d1d2d4);
    }
  }
}

.MasterHeadRight {
  text-align: right;
  padding-right: 17px;

  ul#rightMenu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      display: inline-block;
      padding: 0 10px;
      position: relative;
      top: -4px;
      &:after {
        width: 2px;
        height: 14px;
        background: var(--color-585858);
        position: absolute;
        content: ' ';
        top: 7px;
        right: 0px;
      }
      &:last-child {
        padding-right: 0px;
        &:after {
          width: 0px;
        }
      }
    }
  }
  .panelContent {
    display: flex;
    justify-content: right;
    align-items: baseline;
    place-content: flex-end;
  }
}

.CRXActiveBreadcrumb {
  padding-left: 41px;
  padding-top: 8px;
  .li {
    color: var(--color-C34400);
    text-decoration: none;
    font-size: 12px;
  }

  .active {
    color: var(--color-C34400);
    font-size: 12px;
    font-family:var(--base-font-family);

    &:hover {
      color: var(--color-C34400);
      text-decoration: var(--Text-decoration-underline);
      cursor: pointer;
    }
    &:focus {
      color: var(--color-C34400);
      text-decoration: var(--Text-decoration-underline);
      cursor: pointer;
    }
  }

  .spratorBread {
    position: relative;
    top: 0px;
    font-size: 12px;
    display: inline-block;
    margin-right: 4px;
    margin-left: 8px;
    color: var(--color-333333);
  }
}

.applicationsMenu {
  margin-top: 14px;
  margin-right: 9px;
  .MuiSvgIcon-root {
    font-size: 24px;
    color: var(--color-d1d2d4);
  }
  .CRXDropDownBtn {
    min-width: 30px;
  }
  .applicationIcon {
    font-size:16px;
  }
}

.applicationMenu {
  margin-top: -4px;
  margin-left: 70px;
}

.titlePage {
  position: relative;
  top: -11px;
  h2 {
    padding: 2px 0 0 0;
    margin: 0px;
    color: var(--color-333333);
    font-size: 24px;
    font-weight: 500;
    font-family:var(--base-font-family);
    margin-top: 5px;
  }
  .bottomLine {
    position: absolute;
    left: 0px;
    top: 41px;
    bottom: 0px;
    width: 100%;
    background-color: var(--color-d1d2d4);
    height: 1px;
    box-shadow: var(--color-black-10) 0px 0px 15px 0px;
  }
}
