.crx-message-alert {
    .MuiTouchRipple-root {
      display: none !important;
    }
    .MuiAlert-action {
      display: block;
      margin-top:-2px;
      .MuiButtonBase-root {
        justify-content: flex-end !important;
  
        i {
          font-size: 12px;
          color: #999999;
          &:hover {
            color: #646464;
          }
          &:focus {
            color: #646464;
          }
        }
        &:hover {
            background-color: transparent !important;
          }
          &:focus {
            background-color: transparent !important;
          }
      }
    }
    .MuiAlert-icon {
      font-size: 1.125em;
      display: block;
      padding: 0;
      margin-right: 13px;
      margin-top: 3px;
      span {
           font-size: 1.125em;
      }
    }
    .MuiAlert-message {
      padding: 0;
      display: block;
    }
    .MuiAlert-standardInfo {
      .MuiAlert-icon {
        color: #2259aa;
      }
      span {
        span {
          color: #2259aa;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
    .MuiAlert-standardSuccess {
      .MuiAlert-icon {
        color: #317427;
      }
      span {
        span {
          color: #317427;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
    .MuiAlert-standardWarning {
      .MuiAlert-icon {
        color: #8b5c2e;
      }
      span {
        span {
          color: #8b5c2e;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
    .MuiAlert-standardError {
      .MuiAlert-icon {
        color: #aa1d1d;
        display: block;
      }
      span {
        span {
          color: #aa1d1d;
          font-weight: bold;
          text-transform: capitalize;
        
        }
        a {
          text-decoration: underline;
          font-weight: bold;
          color:#666666;
        }
        ul {
          padding:5px 15px;
        }
      }

    }
  }
.crx-alert-notification {
    margin-top:18px;
}
.crx-message-toast {
    margin-top: 45px;
}
