@use './Assets/css/library' as lib;


.language_selector_app {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    height: 41px;
    background: var(--color-0F0D0E99);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    &:focus-within {
        outline: 1px solid var(--color-White) !important;
      }
    .CRXSimpleSelect  {
        background-color: var(--color-transparent);
        border: none;
        padding-right: 28px;
        &:hover {
                border: none;
                transition: none;
        }
        .MuiSelect-select {
            color: var(--color-White);
            font-size: 14px;
            line-height: 16px;
            font-family:var(--base-font-family);
        }
        .MuiSelect-icon {
  
            right: 23px;
            top: 2px;
            position: unset !important;
        }
        .MuiPopover-paper  {
            top: 33px !important;
            left: 1081px !important; 
            width: 139px !important;
        }
        .MuiSelect-select {
            padding-right: 7px;
            width: auto;
        } 
    }
    .world_language_icon {
        color: var(--color-White);
        font-size: 20px;
        padding-left: 33px;
        padding-right: 3px;
    }
   
    .MuiSelect-iconOpen {
        .paperStyle  {
            background: var(--color-antiquewhite);
        }
    }
    .crxArrowDownSelect {
        &::before {
          color: white !important;
          font-size: 20px !important;
        }
      }
      .MuiSelect-iconOpen {
          transform: rotate(0deg) !important;
      }
}
.language_dropDown_en  {
    margin-left: -29px;
}
.language_dropDown_fr  {
    margin-left: -52px;
}
.language_dropDown_pl  {
    margin-left: -29px;
}
.language_dropDown_uk  {
    margin-left: -53px;
}
.language_dropDown_hr  {
    margin-left: -31px;
}
.language_selector_dropDown {
    background: #404041 !important ;
    margin-top: 12px !important;
    border-radius: 0px !important;
    ul { 
         border-radius: 0px;

        li {
            color: #d1d2d4;
            height: 33px ;
            &:hover {
                color: #f5f5f5 !important;
                background-color: #231f20 !important;
            }
            &:active , &:focus {
                color: #d1d2d4 !important;
                background-color: #6e6e6e !important;
            }
            .MuiTouchRipple-root {
                display: none;
            }
        }
    }   
}

 .paperStyle {
    background-color:var(--color-404041) !important;
    min-width: 158px;
    width: 115px !important;
    margin-left: 18px !important;
    margin-top: 12px!important;
    margin-left: -27px !important;

    border: none;
    li {
        height: 33px !important;
        color: var(--color-d1d2d4);
        font-size: 14px;
        line-height: 16px;
        font-family: var(--base-font-family);
        &:hover {
            color: var(--color-f5f5f5) !important;
            background-color: var(--color-231f20) !important;
        }
        &:focus , &:visited , &:active {
            background-color: var(--color-6e6e6e) !important;
            color: var(--color-d1d2d4) !important;
        }
        &:first-child {
            display: none;
        }
    }
}

iframe {
    display: none;
}

.map-container{
    display: flex;
    justify-content: center;
    &__map{
        height: 50vh;
        width:100%
    }
}
.mapContainer, #map123{
    height: 100vh;
    width:80%;
    justify-content: center;
}

.customNavBar {
    position:absolute;
    top: 20px;
}


.assetIdx {
    width: 100%;
    position: relative;
    min-height: 61px;
}


.eyeIconOptional {
    &.crxTooltipAll {
      margin-top:30px;
      margin-left: 10px;
    }
  }

  .map-container__map {
    height: 57vh;
    width: 100%;
}


.iconButton_global {
    height: 30px;
    background: transparent;
    border:1px solid transparent;
    font-size: 14px;
    font-family: var(--Arial-font-family);
    padding: 0px 16px;
    display: flex;
    place-items: center;
    &:hover {
        background: var(--color-f5f5f5);
        border: 1px solid var(--color-333333);
    }
    &:focus {
        background: var(--color-231F20);
        border:1px solid transparent;
        color: var(--color-f5f5f5);
    }
    &:disabled {
        color: #979797;
        &:hover {
            background: transparent;
            border:1px solid transparent;
        }
        &:focus {
            background: transparent;
            border:1px solid transparent;
        }
    }

    i {
        font-size: 20px;
        padding-right: 17px;
    }
}

// Asset Drag Ui start
.divInner {
    .onDraggingThumb {
        margin: 0 16px;
    }
    .divAssetId {
        display: flex;
        align-items: center; 
        padding: 0 6px;
        .linkColor {
            word-break: break-all;
        } 
    }
    .dragging {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            position: unset;
        }
    }
}

// Asset Drag Ui end

#customizedStickyHeader {
    position: sticky;
    overflow-x: hidden !important;
    z-index: 102;
}

.stickyFooter_Tab {
    padding-top: 23px;
    width: calc(100% - 117px);
    display: flex;
    position: fixed;
    bottom: 1px;
    background: #fff;
    z-index: 999;
    padding-bottom: 20px;
    border-top: 1px solid var(--color-878787);
  }

  .touch-baseLink {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    a {
        width: 100%;
        height: 100%;
        display: block;
    }
   
  }

//html horizontal scroll bar css
html {
    overflow-x: overlay;
    &::-webkit-scrollbar {
      width: 1em;
      height: 15px;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 0px;
      margin-left: 0px;
      border-right: 0px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background-color: var(--color-c8c8c8);
      outline: 0px solid var(--color-slategrey);
      border: 2px solid var(--color-black-3);
      background-clip: content-box;
    }
  
    &::-webkit-scrollbar-track-piece {
      background-color: var(--color-f1f1f1);
      border: 1px solid var(--color-d1d2d4);
      border-right: 0px;
      border-left: 0px;
      margin-left: 0px;
    }
  
    &::-webkit-scrollbar-button:horizontal:decrement {
      width: 255px;
      height: 30px;
      border: 0px solid var(--color-transparent);
      background: url("./Assets/Images/scrollLeft21.jpg") no-repeat top right;
      background-size: contain;
      background-position: 242px;
      background-clip: border-box;
      position: relative;
      left: 240px;
      margin-left: 160px;
    }
  
    &::-webkit-scrollbar-button:horizontal:increment {
      width: 13px;
      height: 2px;
      border: 1px solid var(--color-d1d2d4);
      border-left: 0px;
      background: url("./Assets/Images/scrollIconRight.png") no-repeat
        center center var(--color-f1f1f1);
      position: relative;
      left: 180px;
    }
  
  }

  /*Controle margin and padding*/

  .pd-t-10 {
    padding-top: 10px;
  }

  .pd-b-10 {
    padding-bottom: 10px;
  }

  .pd-l-10 {
    padding-left: 10px;
  }

  .pd-r-10 {
    padding-right: 10px;
  }

  .pd-b-50 {
    padding-bottom: 50px;
  }

  .makeStyles-content-9 {
    .AssetsDataGrid {
      
        &::before {
            background: transparent;
        }
    }
 
    &.makeStyles-contentShift-10 {
       
        .AssetsDataGrid {
            &::before {
                background: var(--color-ccc);
            }
        }
    }
  }

  .stickyBorder_Add {
    .stickyPos {
      z-index: 9;
    }
  }
  
  .dataTableStickyBodyPos {
    .CRXAppBar {
      z-index: 1202;
    }
    .stickyBorder_Add {
      .stickyPos {
        z-index: 1203;
      }
    }
    .dataTableStickyPos {
      z-index: 1204;
    }
  }

  .stickyPos {
    .toolbar_counter_text {
        padding-top: 8px;
    }
  }

  .dataTableColumnShoHide {
    position: relative;
    top: 12px;
  }


  .dataTableExpandView {
    &::before {
      background: #fff;
      height: 27px;
      width: 100%;
      content: "";
      left: 0px;
      display: block;
      position: fixed;
      top: 108px;
      z-index: 9999;
    }
  }

  .drawerOff  {
    .AssetsDataGrid {
      .CRXDataTableCustom {
        .drag_header, .searchable_header  {
          tr {
            th{
              &.dataTableActionColumn {
                left: 25px !important;
              }
              &.dataTableCheckBoxColumn {
                left: 84px !important;
              }
            }
          }
        }
        .table_body_ {
          tr{
            td{
              &.dataTableActionColumn{
                left: 25px !important;
              }
              &.dataTableCheckBoxColumn {
                left: 84px !important;
              }
            }
          }
        }
      }
    }
   
    .dataTableECollapseView {
      .overlayPanel_Right {
        left: -3px;
        z-index: 999;
      }
      .overlayPanel_bottom {
        left: 0px;
      }
    }
    .footerDiv {
      padding-left: 0px;
    }
    .stickyPos {
     width: -webkit-fill-available !important;
     padding-right: 25px;
    }
  }