@use './Assets/css/library' as lib;


.language_selector_app {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    height: 41px;
    background: var(--color-0F0D0E99);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    &:focus-within {
        outline: 1px solid var(--color-White) !important;
      }
    .CRXSimpleSelect  {
        background-color: var(--color-transparent);
        border: none;
        padding-right: 28px;
        &:hover {
                border: none;
                transition: none;
        }
        .MuiSelect-select {
            color: var(--color-White);
            font-size: 14px;
            line-height: 16px;
            font-family:var(--base-font-family);
        }
        .MuiSelect-icon {
  
            right: 23px;
            top: 2px;
            position: unset !important;
        }
        .MuiPopover-paper  {
            top: 33px !important;
            left: 1081px !important; 
            width: 139px !important;
        }
        .MuiSelect-select {
            padding-right: 7px;
            width: auto;
        } 
    }
    .world_language_icon {
        color: var(--color-White);
        font-size: 20px;
        padding-left: 33px;
        padding-right: 3px;
    }
   
    .MuiSelect-iconOpen {
        .paperStyle  {
            background: var(--color-antiquewhite);
        }
    }
    .crxArrowDownSelect {
        &::before {
          color: white !important;
          font-size: 20px !important;
        }
      }
      .MuiSelect-iconOpen {
          transform: rotate(0deg) !important;
      }
}
.language_dropDown_en  {
    margin-left: -29px;
}
.language_dropDown_fr  {
    margin-left: -52px;
}
.language_dropDown_pl  {
    margin-left: -29px;
}
.language_dropDown_uk  {
    margin-left: -53px;
}
.language_dropDown_hr  {
    margin-left: -31px;
}
.language_selector_dropDown {
    background: #404041 !important ;
    margin-top: 12px !important;
    border-radius: 0px !important;
    ul { 
         border-radius: 0px;

        li {
            color: #d1d2d4;
            height: 33px ;
            &:hover {
                color: #f5f5f5 !important;
                background-color: #231f20 !important;
            }
            &:active , &:focus {
                color: #d1d2d4 !important;
                background-color: #6e6e6e !important;
            }
            .MuiTouchRipple-root {
                display: none;
            }
        }
    }   
}

 .paperStyle {
    background-color:var(--color-404041) !important;
    min-width: 158px;
    width: 115px !important;
    margin-left: 18px !important;
    margin-top: 12px!important;
    margin-left: -27px !important;

    border: none;
    li {
        height: 33px !important;
        color: var(--color-d1d2d4);
        font-size: 14px;
        line-height: 16px;
        font-family: var(--base-font-family);
        &:hover {
            color: var(--color-f5f5f5) !important;
            background-color: var(--color-231f20) !important;
        }
        &:focus , &:visited , &:active {
            background-color: var(--color-6e6e6e) !important;
            color: var(--color-d1d2d4) !important;
        }
        &:first-child {
            display: none;
        }
    }
}

iframe {
    display: none;
}

.map-container{
    display: flex;
    justify-content: center;
    &__map{
        height: 50vh;
        width:100%
    }
}
.mapContainer, #map123{
    height: 100vh;
    width:80%;
    justify-content: center;
}

.customNavBar {
    position:absolute;
    top: 20px;
}


.assetIdx {
    width: 100%;
    position: relative;
    min-height: 61px;
    .popoverChar {

    }
}


.eyeIconOptional {
    &.crxTooltipAll {
      margin-top:30px;
      margin-left: 10px;
    }
  }

  .map-container__map {
    height: 57vh;
    width: 100%;
}


.iconButton_global {
    height: 30px;
    background: transparent;
    border:1px solid transparent;
    font-size: 14px;
    font-family: var(--Arial-font-family);
    padding: 0px 16px;
    display: flex;
    place-items: center;
    &:hover {
        background: var(--color-f5f5f5);
        border: 1px solid var(--color-333333);
    }
    &:focus {
        background: var(--color-231F20);
        border:1px solid transparent;
        color: var(--color-f5f5f5);
    }
    &:disabled {
        color: #979797;
        &:hover {
            background: transparent;
            border:1px solid transparent;
        }
        &:focus {
            background: transparent;
            border:1px solid transparent;
        }
    }

    i {
        font-size: 20px;
        padding-right: 17px;
    }
}


/*Will remove from here*/
#data-table-filter-select {
    transform: translate3d(-1px, 31px, 0px) !important;
  }

.cbx_multi_data_filter {
    .clickable_input {
        &.selectedInput{
            border: 2px solid #fff;
        }
    }
}

.select_popper {
    border:2px solid #888787;
    width: calc(100% - 0px);
    .MuiAutocomplete-hasPopupIcon {
            border:0px;
            background: #404041;
            border-radius: 0px;
            padding: 0px;
            min-height: 50px;
            .MuiOutlinedInput-root {
                border: 0px;
                box-shadow: none;
                outline: 0px;
                border-radius: 0px;
                padding: 0px;
                border: 0px solid #888787;
                &.Mui-focused {
                    .MuiOutlinedInput-notchedOutline {
                        border: 0px;
                        box-shadow: none;
                        outline: 0px;
                        border-radius: 0px;
                    }
                }
                .MuiOutlinedInput-notchedOutline {
                    border: 0px;
                    box-shadow: none;
                    outline: 0px;
                    border-radius: 0px;
                }
               
            }
        .select_input_field {
            // background-color: #d1d2d4;
            // border:1px solid #888787;
            padding: 0px;
            &.bg-dp-value{
                &::before {
                    background: #d1d2d4;
                    border: 1px solid #888787 !important;
                    position: absolute;
                    content: "";
                    height: calc(100% - 20px);
                    width: calc(100% - 32px);
                    border: 0px solid #404041;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin: auto;
                    padding: 2px;
                }
                #multiple-limit-tags {
                    border:0px solid #888787
                }
            }
            
            #multiple-limit-tags {
                height: 30px;
                padding: 0px;
                background : #d1d2d4;
                border:1px solid #888787
            }
        }
    }
    .data_filter_select_list {
        .select_custom_chips{
            top: 0px;
            color: #333;
            font-size: 14px;
            font-family: var(--Arial-font-family);
            border: 1px solid #BEBEBE;
            height: 20px;
            padding: 0px 3px 0px 5px;
            position: relative;
            margin-top: 2px;
            margin-left: 3px;
            margin-right: 2px;
            border-radius: 1px;
            margin-bottom: 2px;
            background-color: #fff;
            &:hover {
                color: #333333;
                border: 1px solid #888787;
                background-color: #F3F4F5;
                cursor: pointer;
                .chips_btn {
                    i{
                        color: var(--color-333333);
                    } 
                }
                
            }
            .chips_btn {
                border:0px;
                outline: 0px;
                background: none;
                padding-left: 10px;
                cursor: pointer;
                &:focus {
                    border:0px;
                    outline: 0px;
                    background: none;
                }
                i{
                    color: var(--color-d1d2d4);
                }
            }
        }
    }
}

#multiple-limit-tags-popup {
    li{
        .select_checkbox {
            i{
                font-size: 16px;
                color: var(--color-d1d2d4);
                &.checkbox_icon_default {

                }
            }
        }
        .selectBox_Tick_Marked {
            margin-right: 10px;
            opacity: 0;
        }
        &:hover {
            .selectBox_Tick_Marked {
                opacity: 1;
                color: #f5f5f5;
            }
        }
        &[aria-selected="true"] {
            .selectBox_Tick_Marked {
                opacity: 1;
                color: #f5f5f5;
            }
        }
    }
}

// Asset Drag Ui start
.divInner {
    .onDraggingThumb {
        margin: 0 16px;
    }
    .divAssetId {
        display: flex;
        align-items: center; 
        padding: 0 6px;
        .linkColor {
            word-break: break-all;
        } 
    }
    .dragging {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            position: unset;
        }
    }
}
// Asset Drag Ui end
