body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif, "Segoe UI" !important; */
  /*   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  overflow-x: hidden;
  width: 100%;
}

.rdrCalendarWrapper {
  position: absolute;
  right: -9px;
  top: 32px;
  background: var(--color-White);
  border: 1px solid var(--color-ccc);
}

.dataTabAssets {
  margin-top: 28px;
}

.makeStyles-content-9 .searchComponents {
  padding: 0 4px 0px 0px;
  padding-top: 44px;
}

.jss9 .searchComponents {
  padding-top: 118px;
  transition: 1s padding ease-out;
}

.mainContainer {
  padding-top: 70px !important;
}

.CRXActiveBreadcrumb {
  background: var(--color-White);
  margin-top: -3px;
}

/* .linkColor {
  color: var(--color-c34400);
  cursor: pointer;
  box-shadow: none !important;
}

.linkColor:hover {
  text-decoration: underline;
  color: var(--color-ff6e20) !important;
} */

.linkColor > div {
  line-height: 17px;
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.testClass {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100vh;
}

.abcd {
  transform: none;
}

.draggingDropOn tr {
  position: relative;
}

.draggingDropOn td {
  position: unset !important;
  z-index: 0 !important;
}

.draggableCellIcon {
  z-index: 999999999 !important;
}

.divInner {
  background: var(--color-transparent);
  border: 1px solid var(--color-ccc);
  width: 332px;
  height: 89px;
}

.divInner div[id^='innerDrag'] {
  width: 56px;
  border: 3px solid var(--color-ccc);
  border-right: 0px;
  float: left;
  background: var(--color-333333);
  height: 100%;
  text-indent: 0;
  height: 87px;
}

.divInner div[id^='innerImg'] {
  width: 144px;
  border-right: 1px solid var(--color-ccc);
  float: left;
  height: 88.5px;
  background: var(--color-White-3) 0% 0% no-repeat padding-box;
  text-indent: 0;
  text-align: center;
}

.divInner div[id^='innerAssetId'] {
  float: left;
  width: 130px;
  height: 88.5px;
  padding-top: 4px;
  text-align: left;
  padding-left: 8px;
  line-height: 21px;
  text-indent: 0px;
  font-size: 14px;
  background: var(--color-White-3) 0% 0% no-repeat padding-box;
}

#draggingStartBorder {
  position: absolute;
  border: 3px solid var(--color-ddd);
  border-right: 0px;
  left: 0px;
  width: 60px;
  top: 0px;
  line-height: 92px;
  height: 91.5px;
  text-indent: 0;
}

.AssetsDataGrid table tbody tr td:first-child {
  z-index: 40;
}


.AssetsDataGrid table tbody tr td:first-child:hover::before {
  border: 2px solid var(--color-transparent);
  border-right: 0px;
}

#draggingStartBorder .iconStartdrag {
  font-size: 16px;
  color: var(--color-d1d2d4);
  text-align: center;
  position: relative;
  left: -23px;
  top: -16px;
}

.divCount {
  position: absolute;
  top: -5px;
  left: 325px;
  z-index: 999 !important;
  background-color: var(--color-Black);
}

.icondrag {
  font-size: 18px;
  color: var(--color-d1d2d4);
  text-align: center;
  position: relative;
  top: 24px;
}

.divImg i {
  color: var(--color-333333);
  font-size: 55px;
  position: relative;
}
.imgdrag {
  width: 115px;
  height: 63px;
  position: relative;
  top: 7px;
  right: 3px;
}

.assetIdText {
  width: 70px;
}

.divOuter .divCount.crxBadgeComponent-Grey {
  padding-left: 0;
  padding-right: 0;
  font-size: 11px;
  width: 20px;
  height: 13px;
  border-radius: 5px;
  border: 1px solid var(--color-8a8888);
  background-color: var(--color-333333);
  line-height: 1;
  text-align: center;
  text-indent: 0;
}
.crx-main-container {
  min-height:calc(100vh - 30px) !important;
  width: 100%;
}

.divOuter .onDraggingThumb {
  display: flex;
  margin: 14px auto;
}

.divOuter .onDraggingThumb > img {
  object-fit: cover;
}

.assetThumb.onDraggingThumb .tumbPlayIcon {
  visibility: visible;
}

.testClass {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100vh;
}

.inlineDiv {
  display: flex;
}

.columnse {
  padding: 0 15px;
}

.crx-ToasterContainer {
  margin-top: 48px;
  margin-right: 8px;
}

.croseIcon {
  font-size: 16px;
  position: relative;
  top: 3px;
}

.accrodialTest {
  margin-top: 30px;
}

.stickyPos {
  position: sticky !important;
  top: 125px;
  background: var(--color-White) !important;
  height: 59px;
  width: 100%;
  left: 7px;
  z-index: 1200;
  padding-top: 4px;
}
.stickyPos.dataTableStickyPos {
  z-index: 1099;
}

.stickyPos:hover {
  background: var(--color-White) !important;
}
.stickyTableHeader {
  overflow-x: 'hidden';
  position: 'sticky';
  top: '186px';
  z-index: '999';
  transition: all 5s ease-in-out !important;
  visibility: collapse;
}

.selectionBg {
  background: var(--color-333333);
  color: var(--color-d1d2d4);
}

::selection {
  background-color: var(--color-6D6E71);
  color: var(--color-f5f5f5);
}

.linkColor::selection,
.anchorStyle::selection {
  color: #c34400;
  background-color: transparent;
}
a::selection {
  color: #c34400;
  background-color: transparent;
}

.selectionBg::selection {
  background: var(--color-d1d2d4);
  color: var(--color-333333);
}

.CRXDataTableCustom .Mui-selected ::selection,
.CRXDataTableCustom tr th ::selection,
.CRXDataTableCustom tr:hover ::selection,
.CRXMultiDataTableCustom tr th ::selection,
.crx-datapermission-tab .dataPermissionColumn::selection {
  background-color: #d1d2d4;
  color: #333333;
}
.CRXDataTableCustom .Mui-selected .linkColor::selection,
.CRXDataTableCustom tr:hover .linkColor::selection,
.CRXDataTableCustom .Mui-selected .anchorStyle::selection,
.CRXDataTableCustom tr:hover .anchorStyle::selection {
  color: #ff6e20;
  background-color: transparent;
}

.CRXDataTableCustom tr:hover .linkColor::selection,
.CRXDataTableCustom tr:hover .anchorStyle::selection {
  color: #ff6e20;
  text-decoration: underline;
  background-color: transparent;
}

.progressBar {
  padding-top: 10px;
}

.stickyTable {
  position: sticky;
  top: 186px;
}

.LocationMap {
  width: 100%;
}

.DataTableBodyCell .rc-menu-container{
  position: unset;
  width: auto;
  height: auto;
}

._CBX_customized_Switcher .small_toggle_button.lightBorder.toggleFocus
 {
  outline: 2px solid #888787 !important;
  border: 1px solid #FFF !important;
  border-radius: 12px !important;
  position: relative;
}

._CBX_customized_Switcher .small_toggle_button.darkBorder.toggleFocus {
  outline: 2px solid #888787 !important;
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  position: relative;
}

._CBX_customized_Switcher .large_toggle_button.lightBorder.toggleFocus {
  outline: 2px solid #888787 !important;
  border: 1px solid #FFF !important;
  border-radius: 12px !important;
  position: relative;
}

._CBX_customized_Switcher .large_toggle_button.darkBorder.toggleFocus {
  outline: 2px solid #888787 !important;
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  position: relative;
}


input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
}


.demo-div {
  height: calc(100vh - 198px);
  width: 100%;
  background: #dedede;
  text-align: center;
  font-size: 20px;
  line-height: 38;
}


.selectItems {
  background: #888787;
  border: 1px solid #333;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  
}

.whitePaper {
  width: 300px;
  border:1px solid transparent;
  background: white;
  height: 30px;
}

.demoDiv {
  margin-top: 20px;
}

.overlayPanel{
  background-color: #fff;
  height: calc(100vh - 60px);
  width: 28px;
  position: fixed;
  right: 0px;
  top: 60px;
  z-index: 999;
}

/* .AssetsDataGrid table thead  {
  transition:transform 0s;
  position: sticky;
  z-index: 99;
} */

.AssetsDataGrid {
  overflow-x: overlay !important;
}

.scrollControler {
  height: 15px;
  width: 100%;
  position: relative;
  display: block;
}


.select_popper_Checkbox {
  height: 0px;
  opacity: 0px;
}

.noDataInTable {
  font-size: 14px;
  padding: 30px 0px 15px 0px;
  text-indent: 25px;
  color: #333;
  white-space: nowrap;
}
.dataTableShowHideFilter .MuiTooltip-popper {
  position: absolute !important;
  transform: translate3d(15px, -43px, 0) !important;
  top: auto !important;
  left: 0 !important;
  right: 0;
 

}
.dataTableShowHideCustomizeColumn .MuiTooltip-popper  {
  position: absolute !important;
  transform: translate3d(-79px, -43px, 0) !important;
  top: auto !important;
  width: 158px;
}

.crxDropdownValidationError {
    color : var(--color-aa1d1d);
    padding-top: 7px;
    font-size: 14px;
}
