body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.rdrCalendarWrapper {
  position: absolute;
    right: -9px;
    top: 32px;
    background: #fff;
    border: 1px solid #ccc;
}

.dataTabAssets {
  margin-top: 28px;
}

.makeStyles-content-9 .searchComponents{
    padding: 0 4px 0px 0px;
    padding-top: 44px;
}

.mainContainer{
  padding-top: 70px !important;
}

.CRXActiveBreadcrumb {
    background: #fff;
    margin-top: -3px;
}

.linkColor {
  color: #FF6E20;
  cursor: pointer;
}

.linkColor:hover {
  text-decoration: underline;
}

.dragging{
  border: 1px solid #000;
  padding: 5px;
  background: rgba(255,255,255,0.5);
  position: relative;
  z-index: 5;
  height: 76px;
  background: #404041;
  height: 89px;
  width: 58px;
}

.divImg{
  border: 1px solid grey;
  padding: 5px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 5;
  height: 89px;
  width: 144px;
}

.divAssetId{
  border: 1px solid grey;
  padding: 5px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 5;
  height: 89px;
  width: 130px;
  text-align: left;
}

.icondrag {
  font-size: 1.2em;
  color: #d1d2d4;
  text-align: left;
  padding-right: 21px;
}

.imgdrag {
  width: 115px;
  height: 63px;
  position: relative;
  top: 7px;
  right: 3px;
}

.assetIdText {
  width: 70px;
}

.divInner {
  display: flex;
  border: 3px solid #f2f2f2;
}

.divCount {
  position: absolute;
  top: 0px;
  left: 320px;
  z-index: 999 !important;
  background-color: black;
}