$Crx-Black  : #000;
$Crx-White  : #fff;
$Crx-cccccc : #cccccc;
$Crx-d1d2d4 : #d1d2d4;
$Crx-d74b00 : #d74b00;
$Crx-231f20 : #231f20;
$Crx-e5e5e5 : #e5e5e5;
$Crx-979797 : #979797;
$Crx-707070 : #707070;
$Crx-333333 : #333333;
$Crx-e74c3c : #e74c3c;
$Crx-666666 : #666666;
$Crx-878787 : #878787;
$Crx-282828 : #282828;
$Crx-f2f2f2 : #f2f2f2;
$Crx-c34400 : #c34400;
$Crx-6D6E71 : #6D6E71;
$Crx-8a8888 : #8a8888;
$Crx-231f20 : #231f20;
$Crx-6e6e6e : #6e6e6e;
$Crx-e7e7e7 : #e7e7e7;
$Crx-f5f5f5 : #f5f5f5;
$Crx-404041 : #404041;

