#data-table-filter-select {
    transform: translate3d(-1px, 31px, 0px) !important;
  }

.cbx_multi_data_filter {
    .clickable_input {
        &.selectedInput{
            border: 2px solid #fff;
        }
        .select_checkBox_chips {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #333;
            white-space: nowrap;
            padding-left: 14px;
        }
    }
}

.select_popper_Checkbox {
    border:0px solid #888787;
    opacity: 1 !important;
    width: calc(100% - 0px);
    .MuiAutocomplete-hasPopupIcon {
            border:0px;
            background: none;
            border-radius: 0px;
            padding: 0px;
            min-height: 0px;
            .MuiOutlinedInput-root {
                box-shadow: none;
                outline: 0px;
                border-radius: 0px;
                padding: 0px;
                border: 0px solid #888787;
                height: 0px;
                opacity: 0 !important;
                &.Mui-focused {
                    .MuiOutlinedInput-notchedOutline {
                        border: 0px;
                        box-shadow: none;
                        outline: 0px;
                        border-radius: 0px;
                    }
                }
                .MuiOutlinedInput-notchedOutline {
                    border: 0px;
                    box-shadow: none;
                    outline: 0px;
                    border-radius: 0px;
                }
               
            }
        .select_Checkbox_input_field {
            padding: 0px;
            &.bg-dp-value{
                &::before {
                    background: #d1d2d4;
                    border: 1px solid #888787 !important;
                    position: absolute;
                    content: "";
                    height: calc(100% - 20px);
                    width: calc(100% - 32px);
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin: auto;
                    padding: 2px;
                }
                #multiple-tags_checkbox{
                    border:0px solid #888787
                }
            }
            
            #multiple-tags_checkbox {
                height: 30px;
                padding: 0px;
                background : #d1d2d4;
                border:1px solid #888787
            }
        }
    }
    .data_filter_select_list_checkbox {
        .select_custom_chips{
            top: 0px;
            color: #333;
            font-size: 14px;
            font-family: var(--Arial-font-family);
            border: 1px solid #BEBEBE;
            height: 20px;
            padding: 0px 3px 0px 5px;
            position: relative;
            margin-top: 2px;
            margin-left: 3px;
            margin-right: 2px;
            border-radius: 1px;
            margin-bottom: 2px;
            background-color: #fff;
            &:hover {
                color: #333333;
                border: 1px solid #888787;
                background-color: #F3F4F5;
                cursor: pointer;
                .chips_btn {
                    i{
                        color: var(--color-333333);
                    } 
                }
                
            }
            .chips_btn {
                border:0px;
                outline: 0px;
                background: none;
                padding-left: 10px;
                cursor: pointer;
                &:focus {
                    border:0px;
                    outline: 0px;
                    background: none;
                }
                i{
                    color: var(--color-d1d2d4);
                }
            }
        }
    }
}

#multiple-tags_checkbox-popup {
    li{
        .select_checkbox {
            i{
                font-size: 16px;
                color: var(--color-d1d2d4);
                &.checkbox_icon_default {

                }
            }
        }
        .selectBox_Tick_Marked {
            margin-right: 10px;
            opacity: 0;
        }
        &:hover {
            .selectBox_Tick_Marked {
                opacity: 1;
                color: #f5f5f5;
            }
        }
        &[aria-selected="true"] {
            .selectBox_Tick_Marked {
                opacity: 1;
                color: #f5f5f5;
            }
        }
    }
}