.modalEditCrx{
    margin-top: 20px !important;
    margin-left: 200px !important;
}

.tenant-name{
    margin-top: 150px !important;
   // margin-left: 200px !important;
    width: 100px;
}
.LOGO-upload-button{
      margin-top: 20px !important;
   // margin-left: 200px !important;
}
.mail-server-check{
    margin-top: 70px !important;
}
.email-link-expiration-time{
    //margin-left: 200px !important;
    width: 100px;
}
.watchersAutocomplete{
   // margin-top: 20px !important;
   // margin-left: 200px !important;
}
.case-prefix-email{
  //  margin-top: 20px !important;
 //   margin-left: 200px !important;
    width: 100px;
}
.password-rules{
  //  margin-left: 200px;
   // margin-top: 70px !important;
}
.map-location{
  //  margin-top: 20px !important;
 //   margin-left: 200px !important;
}
.location-longitude{
  //  margin-top: 20px !important;
 //   margin-left: 200px !important;
    width: 100px;
}
.location-latitude{
  //  margin-top: 20px !important;
   // margin-left: 200px !important;
    width: 100px;
}
.timezoneAutocomplete{
 //   margin-top: 20px !important;
  //  margin-left: 200px !important;
}
.timeformat{
 //   margin-left: 200px;
 //   margin-top: 70px !important;
}
.asset-view-reason-Checkbox{
   // margin-top: 90px !important;
}
.Live-Stream-URL{
    width: 100px;
}
.Live-Stream-User{
    width: 100px;
}
.Live-Stream-Password{
    width: 100px;
}
.NTP-Server{
    width:100px;
}
.Auth-Server{
    width: 100px;
}
.mail-server-check-radio
{
    flex-direction: row !important;
}
.timeformat-radio{
    flex-direction: row !important;
}