iframe {
  display: none;
}

.checkIcon {
  display: none;
}
.MuiList-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.drawerOff{
  .dataTableExpandView{
    .RetentionPoliciesTableTemplate {
    .CRXDataTableCustom{
      .drag_header{
        tr{
          .dataTableActionColumn{
            left: 0px !important;
         }
         .dataTableCheckBoxColumn {
          left: 60px !important;
         }
        }
      }
      .searchable_header{
        tr{
          .dragHeadFirstCol {
            left: 0px !important;
          }
          .dragHeadsecondCol {
            left: 60px !important;
          }
         }
        }
        .table_body_{
          tr{
            .CellCheckBox {
              left: 0px !important;
            }
            .dataTableCheckBoxColumn{
              left: 60px !important;
            }
          }
        }
       }
      }
     }
    }

.CrxRetentionPoliciesTable {
  // .toolbar-button {
  //   margin-top: 6px;
  // }
  // .stickyPos  {
  //   top: 142px !important;
  // }
  // .RetentionPoliciesTableTemplate  {
  //   margin-top: 10px;
  // }
  .dataTableColumnShoHide {
    .dataIconButton {
      font-size: 14px;
      margin-top: 21px;
    }
  }
  .CRXDataTableCustom {
    margin-top: 0px;
    &.visibleTable {
      margin-top: 0;
    }
    .SelectedActionMenu {
      td {
        &.col-three {
          background-color: var(--color-333333);
        }
      }
    }
  }
  .table_Inner_Action {
    text-align: center;
    padding: 0;
    margin-left: -3px;
  }

  .RetentionFilterBtn {
    height: 30px;
    width: 108px;
    padding: 0 0;
    margin-top: -12px;
    position: sticky;
    top: 144px;
    &:hover {
      border: 1px solid var(--color-6e6e6e);
    }
  }
  .filterButton {
    top: -7px;
  }
  .RetentionPoliciesTableTemplate {
    .crx-global-Select {
      width: auto !important;
    }
  }

  .rc-menu__arrow {
    top: 67px !important;
  }

  .GetacMenu {
    position: relative;
    button {
      position: absolute;
      top: -26px;
      background: var(--color-333333) !important;
      z-index: 90000000;
      color: var(--color-d1d2d4);
      height: 30px;
      width: 134px;
      border-radius: 0;
      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 14px !important;
      font-family: var(--base-font-family);
      &:hover {
        background-color: var(--color-6e6e6e) !important;
        color: var(--color-f5f5f5) !important;
      }
      &:active {
        background-color: var(--color-231f20) !important;
        color: var(--color-f5f5f5) !important;
        box-shadow: none;
      }
      .CRXDRPIcon {
        display: none;
      }
    }
  }
  tbody {
    tr {
      &.Mui-selected {
        .dataTableText {
          color: var(--color-ff6e20) !important;
        }
      }
      &:hover {
        .dataTableText {
          color: var(--color-ff6e20) !important;
        }
      }
    }
  }
}

.MenuConfigurationButton {
  width: 134px !important;
  left: 92px !important;
  background: var(--color-White) !important;
  border-radius: 0 !important;
  border: 1px solid var(--color-bebebe) !important;
  li {
    color: var(--color-333333);
    font-size: 14px;
    font-family: var(--base-font-family);
    font-weight: 400;
    &:hover {
      background: var(--color-f5f5f5) !important;
      color: var(--color-333333) !important;
    }
    &:active {
      background: var(--color-6e6e6e) !important;
      color: var(--color-f5f5f5) !important;
    }
  }
}


.SelectedActionMenu {
  background-color: #333333 !important;
  .col-three {
    button {
      color: #d1d2d4 !important;
    }
  }
  td {
    .truncation_button {
      color: var(--color-d1d2d4);
    }
  }
}

@media (max-width: 1850px) {
  .CrxRetentionPoliciesTable {
    .AssetsDataGrid {
      &::-webkit-scrollbar {
        width: 10px !important;
      }
    }
  }
}

.stickyTableHeader {
  visibility: collapse;
}
.rententionInfiniteTimeDate {
  display: flex;
  width: 100%;
  .CRXLockTextIcon {
    width: 95%;
  }
  .CRXLockIcon {
    width: 5%;
    .CRXLock {
      &:hover {
        color: var(--color-d1d2d4);
      }
    }
  }
}
