#detail_view {
  button[index="1"] {
    min-width: 297px;
  }
  .list_data_main {
    .list_data {
      padding-left: 69px;
      width: 665px;
      .list_para {
        padding-bottom: 30px;
        .asset_MDI_label {
          font-size: 14px;
          font-family: var(--Arial-font-family);
          color: var(--color-333333);
          font-weight: bold;
        }
        .asset_MDI_data {
          font-size: 14px;
          font-family: var(--Arial-font-family);
          color: var(--color-333333);
          &.asset_check_sum {
            text-transform: uppercase;
          }
        }
        .list_Copy_text {
          color: var(--color-c34400);
          cursor: pointer;
          font-family: var(--Arial-font-family);
          font-weight: var(--Font-style-bold);
          margin: 3px 0 0;
        }
      }
    }
    .asset_group_tabs_data {
      padding-left: 39px;
      .asset_group_tabs_data_row {
        display: grid;
        gap: 22px;
        column-gap: 143px;
        grid-template-columns: auto auto;
        .asset_group_tabs_data_col {
          display: flex;
          place-items: center;
          width: 375px;
          height: 73px;
          ._detail_checkBox_column {
            padding-right: 9px;
            padding-left: 3px;
          }
          ._detail_thumb_column {
            padding-right: 31px;
          }
          ._asset_detail_link_meta {
            position: relative;
            top: 0px;
            font-family: var(--Arial-font-family);
            .linkColor {
              color: #d74b00 !important;
              #middletruncate {
                font-size: 14px;
                padding-bottom: 0px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 194px;
                display: block;
              }
            }
            .timeLineLister {
              ._asset_video_type_detail {
                padding-bottom: 2px;
                .CRXPopupDetailFontSize {
                  font-size: 14px;
                  color: var(--color-333333);
                  display: block;
                }
              }
              .CRXPopupDetailFontSize {
                font-size: 14px;
                color: var(--color-333333);
                width: 123px;
                display: block;
                line-height: 18px;
                font-family: var(--Arial-font-family);
              }
            }
          }
        }
      }
    }
    .asset_detail_AT_table {
      .stickyPos {
        top: 0px;
        padding-top: 0px;
        min-height: 30px;
        height: 30px;
        margin-bottom: 22px;
        &::before {
          width: 100%;
          height: 25px;
          background: #fff;
          position: absolute;
          top: -25px;
          content: " ";
        }
        &::after {
            width: 100%;
            height: 23px;
            background: #fff;
            position: absolute;
            bottom: -23px;
            content: " ";
        }
        //    .auditTrailButton {
        //     margin-left: -17px;
        //    }
      }
    }
    .cbxTabsContent {
      .asset_export_button_group {
        margin-top: -2px;
        padding: 0px;
        padding-top: 0px;
        margin-bottom: 22px;
        margin-left: -17px;
      }
      .crx-accordion {
        p {
          font-size: 18px;
          font-family: var(--Arial-font-family);
          font-weight: normal;
          color: var(--color-333333);
          padding-left: 29px;
        }
      }
      .asset_detail_AT_dataTable {
        tr {
          td {
            padding-left: 12px;
            text-align: left;
            &:first-child {
              background: none;
            }
            &:nth-child(2) {
              background: none;
             
            }
          }
          &:hover {
            td {
              &:nth-child(3) {
                background: #333;
              }
            }
          }
        }
      }
      .boldText {
        font-weight: bold;
      }
    }
    div[id="crx-tabpanel-0"] {
      padding-left: 34px;
      padding-bottom: 18px;
    }
    div[id="crx-tabpanel-1"] {
      padding-left: 34px;
      padding-right: 34px;
    }
    &.CRX_accordion_main {
      .cbxTabsContent {
        .MuiAccordionDetails-root {
          padding: 45px 25px 75px ;
          ._detail_thumb_column {
              margin-top: -4px;
          }
        }
        .MuiAccordionSummary-root {
          height: 50px;
          line-height: 50px;
          padding: 0px 24px 0 22px;
        }
        .asset_group_tabs_data_col {
            .assetThumb {
                .Unspecified-file-type {
                    width: 110px;
                    height: 61px;
                    background: #333;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 31pt;
                    color: #d1d2d4;
                    position: relative;
                }
            }
        }
      }
      #crx-tabpanel-2 {
        padding: 25px 30px 21px 35px;
        .toolbar-button {
            margin-top: 17px;
            .auditTrailButton {
                .iconButton_global {
                    margin-left: -16px;
                }
            }
        }
        .dataTableColumnShoHide {
            margin-top: 20px;
            i {
                font-size: 14px;
            }
        }
        .asset_detail_AT_table {
           .overlayPanel {
            width: 0px;
           } 
           .AssetsDataGrid {
            table {
                thead {
                    tr {
                        th {
                            &.TableSearchAbleHead {
                                padding: 10px 10px 11px;
                                &:nth-child(2) {
                                  .MuiGrid-grid-xs-11 {
                                    max-width: 100%;
                                    flex-basis: 100%;
                                  }
                                }
                            }
                            &.CRXDataTableLabelCell  {
                                padding: 7px 24px 6px 16px !important;
                            }
                            .crxTableHeaderSize {
                                .gridSortResize {
                                    align-items: center;
                                    bottom: 0;
                                    .GridSortIcon {
                                        top:0px;
                                        button {
                                            i {
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
                .crxTableHeaderSize {
                    height: 22px;
                }
            }
           
           }
           .dataTablePages {
            .MuiInputBase-root{
                margin-left: 5px;
                margin-right: 36px;
                svg {
                    color: var(--color-333333);
                }
            }
           }
        }
      }
    }
  } /* ........ List main.........*/
} /*...... Detail_view ......*/
