#_asset_detail_view_idx {
  margin-top: 6px;
  .crxMainTab {
    z-index: 0 ;
  }
  .CRXAssetDetail {
    display: flex;
    padding: 0 24px;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    top: 96.4px;
    z-index: 9999;
    .asset_detail_action_menu{
      margin-left: 20px;
    }
    .rc-menu-button {
      background: transparent;
      color: var(--color-333333);
      font-size: 18px;
      border: 0px;
    }

    a {
      padding-top: 2px;
      padding-left: 25px;
      color: #d74b00;
      font-size: 14px;
    }
    .asset_date_categories {
      flex-grow: 1;
      span {
        font-size: 14px;
        color: var(--color-333333);
        font-family: var(--Arial-font-family);
        padding-right: 25px;
        display: inline-block;
      }
    }
  }

  .searchComponents {
    padding-top: 0px !important;
    padding-left: 0px !important;
    // height: calc(100vh - 135px);
  }

  .touchPoint_bar {
    background: var(--color-Black);
    padding: 5px 0px 4px 0px;
    margin: 10px 0px;
    text-align: center;
    height: 50px;

    ._angle_down_up_icon_btn {
      border: 0px;
      background: transparent;
      font-size: 30px;
      color: var(--color-444444);
      padding: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      place-items: center;
      align-items: center;
      cursor: pointer;
      i {
        height: auto;
      }
    }
  }

  .tabCreateTemplate {
    margin-top: 70px;
  }
  .topBorderForDetail {
    border-top: 1px solid var(--color-d1d2d4);
    width: 98%;
    margin: 0 auto;
    box-shadow: 0 2px 5px var(--color-d1d2d4);
    margin-top: 9px;
    position: relative;
    z-index: 999;
  }

  .asset_detail_tabs {
    padding: 0px 27px;
    margin-top: 0px;
    margin-bottom: 20px;
    .list_data_main {
      div[id*="crx-tabpanel-"] {
        height: calc(100vh - 290px);
        max-height: calc(100vh - 290px);
        min-height: unset;
        margin-top: -1px;
        border-top: 1px solid #878787;
      }
    }
  }
   > img {
    width: 79%;
  }

  // Tabs Panel start
  .MainTabsPanel {
    position: relative;
    background: var(--color-Black);
    width: 100%;
    height: calc(100vh - 150px);
    .tabsHeaderControl {
      position: absolute;
      z-index: 999;
      top: -32px;
      right: 124px;
      display: flex;
      align-items: baseline;
      // button {
      //   min-width: 100px;
      // }
      .Mui-selected {
        color: black;
      }
      .TabsMenuHead {
        display: flex;
        margin: 0 6px;
        button {
          background: transparent;
          border: none;
          color: var(--color-333333);
          font-size: 14px;
          line-height: 16px;
          font-family: var(--Arial-font-family);
          font-weight: 400;
          &:hover {
            cursor: inherit !important;
          }
        }
        .split_btn_disabled {
          color: var(--color-979797);
          &:disabled {
            cursor: inherit !important;
          }
        }
        .split_btn_disabled_arrow  {
          display: none;
        }
        .MuiButtonGroup-root {
          box-shadow: none;
          button {
            background-color: transparent;
            color: black;
            min-width: 12px;
            width: 12px;
          }
        }
        i {
          font-size: 21px;
          margin-left: 5px;
        }
      }
    }
    .tabsBodyControl {
      width: 100%;
      // height: 75vh;
      // padding: 0 28px;
    }
    .MuiTabs-indicator {
      background-color: black;
    }
    &.removeEXHeight {
      display: none;
    }
  }

  //panel second

// Tabs Panel End
#split-button-menu-main {
  background-color: var(--color-404041);
  color: var(--color-d1d2d4);
  border-radius: 0px;
  margin-top: -3px;
  margin-right: -6px;
  .Mui-selected {
    background-color: var(--color-404041);
    color: var(--color-d1d2d4) !important;
  }
  li {
    height: 33px;
    min-height: 33px;
    padding: 0 17px;
    font-size: 14px;
    &:hover {
      background-color: var(--color-231F20);
      color: var(--color-d1d2d4);
    }
    &:active {
      background-color: var(--color-6e6e6e);
    }
  }
}


}

._bottom_arrow_seeMore {
  background-color: var(--color-Black);
  height: 30px;
  text-align: center;
  position: relative;
  top: -7px;
  width: 100%;
  margin: 00px;

  ._angle_down_up_icon_btn {
    border: 0px;
    background: transparent;
    font-size: 30px;
    color: var(--color-White);
    padding: 0px;
    margin: 0 auto;
    width: 136px;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    cursor: pointer;
    i {
      height: auto;
      &:hover {
        color: var(--color-white);
      }
    }
  }
  a {
    font-size: 28px;
    color: var(--color-White);
  }
  .lessMoreButton {
    color: var(--color-333333);
    padding-top: 12px;
  }
}

.lessMoreDetailView_arrow {
  background: transparent;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 47px;
  // &::before {
  //   position: absolute;
  //   width: 100%;
  //   content: "";
  //   top: 0px;
  //   left: 0px;
  //   box-shadow: 0px 2px 5px #d1d2d4;
  //   height: 1px;
  // }
}

.makeStyles-content-9.makeStyles-contentShift-10,
.jss9.jss10 {
  #_asset_detail_view_idx {
    &.switchLeftComponents {
      padding-left: 62px;
      padding-right: 0px;
      padding-top: 122px;
      width: 100%;
    }
  }
}

.makeStyles-content-9,
.jss9 {
  #_asset_detail_view_idx {
    position: relative;
    &.switchLeftComponents {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 122px;
      width: 100%;
    }
  }
}

._player_video_uploading {
  height: calc(100vh - 168px);
  background: #000;
  display: table;
  width: 100%;
  position: relative;
  .layout_inner_container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    flex-direction: column;
    ._empty_arrow_seeMore {
      position: absolute;
      bottom: 0px;
      background-color: var(--color-Black);
      height: 30px;
      text-align: center;
      width: 100%;
      margin: 0px;

      ._empty_content_see_mot_btn {
        border: 0px;
        background: transparent;
        font-size: 30px;
        color: var(--color-White);
        padding: 0px;
        margin: 0 auto;
        width: 136px;
        height: 100%;
        display: flex;
        justify-content: center;
        place-items: center;
        align-items: center;
        cursor: pointer;
      }
      &._emptylessMoreDetailView_arrow {
        background-color: #fff;
        .lessMoreButton {
          color: #000;
        }
      }
    }
  }
}

.actionBucketIndex {
  z-index: 999 !important;
}

.asset_detail_AT_table {
  padding: 0 8px 0 11px;
  .crxClearfilter  {
    width: calc(100vw - 176px);
    margin: 0 -2px;
    height: 86px;
  }
  .crxTooltipFilter  {
    margin-top: -21px;
  }
  .AssetsDataGrid {
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    display: block !important;
  }  
  table {
    margin-top: 26px;
    tbody {
      tr {
        &:hover {
          background-color: #333 !important;
        }
      }
    }
  }
}