#detail_view {
    button[index="1"] {
        min-width: 297px;
    }


    .list_data {
            margin-left: 85px;
        .list_head {
            h1 {
                color:#333333;
                font-size: 14px;
            }
        }
        .list_para {
            margin-left: -235px;
            margin-top: 8px;
                span {
                    color: #333333;
                    display: inline-block;
                    font-size: 14px;

                }
        }
        .list_head_dark {
            font-weight: 700;
        }
    }
 
}