
.crx-model {
  .MuiDialog-scrollPaper {
    align-items: flex-start;
    .MuiDialog-paperScrollPaper {
      overflow: hidden !important;
      // height: calc(100% - 192px) !important;
      // height: calc(100% - 262px) !important;
      top: 126px;
      padding-top: 20px;
    }
  }
  .MuiBackdrop-root {
    background-color: #000 !important;
    opacity:0.8 !important;
  }
  .MuiDialog-paper {
    padding: 16px 0 0 0;
    border-radius: 0;
    max-width: 600px;
    box-shadow: 5px 5px 5px -7px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 5px 5px 5px -7px rgb(0 0 0 / 20%);
    -moz-box-shadow: 5px 5px 5px -7px rgb(0 0 0 / 20%);
    -o-box-shadow: 5px 5px 5px -7px rgb(0 0 0 / 20%);
    -ms-box-shadow: 5px 5px 5px -7px rgb(0 0 0 / 20%);
  }

  .modelTitle {
    padding: 0 25px 0 25px;
    position: relative;
    z-index: 999999;
    h2 {
      font-size:18px;
      color: #333333;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      line-height: 20px;
    }
    // &::after {
    //   background: #ffffff;
    //   position: absolute;
    //   height: 85px;
    //   content: " ";
    //   z-index: 9999;
    //   width: 100%;
    // }
  }

  .indicatestext{
    color: #333;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 28px;
    padding-top: 40px;
    padding-left: 25px;
    z-index: 99999;
    b {
      font-size: 20px;
    }
  }

  .CRXContent {
    padding: 0px 26px 43px;
    font-size: 0.875em;
    color: #333333;
    height: calc(100% - 97px);
    overflow-y: auto;
    overflow-x: hidden;
    .overlayClx {
      background: #ffffff;
      position: absolute;
      height: 85px;
      content: " ";
      z-index: 10;
      width: 100%;
      top: 40px;
      left: 0;
    }
  }
  .CRXFooter {
    padding: 0 25px;
    justify-content: flex-start;
    height: 74px;

    .modalPrimeryBtn {
      background-color: #333;
      border-radius: 0;
      border:1px solid transparent;
      padding: 2px 15px;
      text-transform: none !important;

      .MuiButton-label {
        font-size: 14px;
        color: #d1d2d4;
        font-weight: 100;
      }
      &:hover {
        background-color: #6e6e6e;
        .MuiButton-label {
          color: #f5f5f5;
        }
      }
      &:focus {
        background-color: #231f20;
        .MuiButton-label {
          color: #f5f5f5;
        }
      }
    }

    .modalSecrndoryBtn {
      background-color: #fff;
      border-radius: 0;
      border:1px solid #878787;
      padding: 2px 15px;
      margin-left: 31px;
      text-transform: none !important;

      .MuiButton-label {
        font-size: 14px;
        color: #333333;
        font-weight: 100;
      }
      &:hover {
        background-color: #f5f5f5;
        border:1px solid #333333;
        .MuiButton-label {
          color: #333333;
        }
      }
      &:focus {
        background-color: #231f20;
        .MuiButton-label {
          color: #f5f5f5;
        }
      }
    }

   
  }
  .CRXDivider {
    border-color: #d1d2d4;
  }

  .CRXPopupCrossButton {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 46px;

    i {
      font-size: 16px;
      color: #d1d2d4;
      &:hover {
        color: #333;
      }
      &:focus {
        color: #333;
      }
    }
  }

  .dailogBottonText {
    position: absolute;
    bottom: 115px;
    color: #333;
    font-size: 14px;
  }
  .modalContentText {
    font-size: 14px !important;
    color: #333;
    padding: 28px 0px;
  }
  .modalBottomText {
    font-size: 14px;
    color: #333;
    padding-top: 5px;
  }
}
.CRXSecList {
  margin-top: 15px !important;
  max-height: 491px !important;
  li {
    border-bottom: 1px solid #d1d2d4;
    position: static;
    :last-child {
    border-bottom:none !important
  };
  }
}


@media only screen and (max-width: 1024px) {
  .crx-model {
    .MuiDialog-scrollPaper {
      .MuiDialog-paperScrollPaper {
        //overflow: hidden !important;
        // height: calc(100% - 262px) !important;
        // top: 29px;
      }
    }
  }
  .CRXSecList {
    max-height: calc(100% - 55px) !important;
  }
}

@media only screen and (max-width: 1366px) {
  .crx-model {
    .MuiDialog-scrollPaper {
      .MuiDialog-paperScrollPaper {
        //overflow: hidden !important;
        // height: calc(100% - 64px) !important;
        // height: calc(100% - 262px) !important;
        // top: 29px;
      }
    }
  }
  .CRXSecList {
    max-height: calc(100% - 55px) !important;
  }
}

@media only screen and (max-width : 1536px){
  .crx-model {
    .MuiDialog-scrollPaper {
      .MuiDialog-paperScrollPaper {
        overflow: hidden !important;
        // height: calc(100% - 64px) !important;
        // height: calc(100% - 262px) !important;
        // top: 29px;
      }
    }
    .CRXContent {
      // height: calc(100% - 101px);
    }
  }
  .CRXSecList {
    max-height: calc(100% - 52px) !important;
  }
}


// .CRXContent_user {
//   position: relative;
//     &::before {
//     position: absolute;
//     background: #fff;
//     width: 100%;
//     height: 100px;
//     z-index: 2;
//     content: " ";
//   }
// }