.ManageAssetDataTable {
  .CRXSimpleSelect {
    background: var(--color-d1d2d4);
    color: var(--color-333333);
  }

  .CRXLock{
    margin-top: 30px;
  }

  .CBX-input {
    input {
      background: var(--color-d1d2d4);
      color: var(--color-333333);
      font-size: 14px;
      height: 26px;
      text-indent: 10px;
      outline: 1px solid var(--color-888787);
      border: 2px solid var(--color-transparent);
      margin: 0px 0;
    }
    .Mui-focused {
      input {
        border: 2px solid var(--color-White);
        outline: 1px solid var(--color-888787);
      }
    }
  }

  .CRXDataTableLabelCell {
    .makeStyles-headerStickness-6 {
      label {
        white-space: nowrap;
      }
    }
  }
}

.assetThumb {
  width: 110px;
  height: 100%; //61px;
  margin: 0px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 0px !important;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tumbPlayIcon {
    position: absolute;
    font-size: 30px;
    color: var(--color-White);
    display: flex;
    visibility: hidden;
    z-index: 999;
  }
  &:hover {
    .tumbPlayIcon {
      visibility: visible;
      &:hover {
        font-size: 36px;
      }
    }
  }
  .tumbFontIcon {
    font-size: 61px;
  }

  .audioBackground {
    background: var(--color-333333);
    width: 100%;
    height: 61px;
    color: var(--color-888787);
    font-size: 52px;
    text-align: center;
    line-height: 67px;
    padding: 5px 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: invert(100%) sepia(13%) saturate(500%) hue-rotate(130deg)
        brightness(90%) contrast(100%);
    }
  }

  .assetsThumbGetac {
    border: 1px solid var(--color-transparent);
  }
  &.CRXPopupTableImage {
    color: var(--color-333333);
  }
  .asset_lister_thumb {
    width: 110px;
    height: 61px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31pt;
    color: #d1d2d4;
    position: relative;
    border: 1px solid #333;
    ._video_play_icon {
      display: none;
      position: absolute;
      span{
        color: var(--color-White);
        font-size: 30pt;
        cursor: pointer;
        &:hover {
          font-size: 36pt;
        }
      }
    }
  }
  .Unspecified-file-type {
    font-size: 61px;
  }
}

.CRXDataTableCustom {
  tr {
    &:hover {
      td {
        &.DataTableBodyCell {
          > .assetThumb {
            .audioBackground {
              background: var(--color-d1d2d4);
              color: var(--color-333333);
              img {
                filter: invert(0%) sepia(100%) saturate(500%) hue-rotate(130deg)
                  brightness(70%) contrast(70%);
              }
            }
            .asset_lister_thumb {
              background: var(--color-d1d2d4);
              color: var(--color-333333);
              &:hover {
                ._video_play_icon{
                  display: block;
                  
                }
              }
            }
          }
          .assetsThumbGetac {
            border: 1px solid var(--color-d1d2d4);
          }
        }
      }
    }
    &.Mui-selected {
      td {
        &.DataTableBodyCell {
          .assetThumb {
            .audioBackground {
              background: var(--color-d1d2d4);
              color: var(--color-333333);
              img {
                filter: invert(0%) sepia(100%) saturate(500%) hue-rotate(130deg)
                  brightness(70%) contrast(70%);
              }
            }
          }
        }
      }
    }
    &.Mui-selected {
      .asset_lister_thumb {
        background: var(--color-d1d2d4);
        color: var(--color-333333);
      }
    }
  }
}

.selectFilter {
  width: 100%;
}

.AssetsDataGrid {
  &::-webkit-scrollbar {
    width: 1em;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0px;
    margin-left: 0px;
    border-right: 0px;
    margin-left: 0px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--color-c8c8c8);
    outline: 0px solid var(--color-slategrey);
    border: 2px solid var(--color-black-3);
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: var(--color-f1f1f1);
    border: 1px solid var(--color-d1d2d4);
    border-right: 0px;
    border-left: 0px;
    margin-left: 0px;
  }

  &::-webkit-scrollbar-button:horizontal:decrement {
    width: 255px;
    height: 30px;
    border: 0px solid var(--color-transparent);
    background: url("../../../../Assets/Images/scrollLeft21.jpg") no-repeat top
      right;
    background-size: contain;
    background-position: 242px;
    background-clip: border-box;
    position: relative;
    left: 240px;
    margin-left: 180px;
  }

  &::-webkit-scrollbar-button:horizontal:increment {
    width: 13px;
    height: 2px;
    border: 1px solid var(--color-d1d2d4);
    border-left: 0px;
    background: url("../../../../Assets/Images/scrollIconRight.png") no-repeat
      center center var(--color-f1f1f1);
    position: relative;
    left: 180px;
  }

  &::-webkit-scrollbar:vertical {
    display: none;
  }
}

.hide {
  display: none;
}
.alignLeft {
  text-align: left;
  padding-top: 7px;
}

.centerPosition {
  text-align: center;
  min-width: 250px;
  // width: 300px;
  background-color: var(--color-333333) !important;
}

.divMainBucket {
  table {
    tr {
      td {
        &:first-child {
          background-color: var(--color-White);
          &:hover {
            background-color: var(--color-333333) !important;
          }
        }
      }
      .CellCheckBox {
        &:hover ~ td {
          background-color: var(--color-333333) !important;
          color: var(--color-d1d2d4);
          .rc-menu-button {
            color: var(--color-d1d2d4) !important;
          }
        }
      }
    }
  }
}

.noOptionForAssets {
  color: var(--color-d1d2d4);
  background-color: var(--color-404041) !important;
  height: 33px;
  line-height: 5px;
  margin-left: -12px;
  width: 287px !important;
  position: absolute;
  font-size: 14px;
}

.dateRangeContainer {
  padding: 0 6px 0 2px;
}

.overlayScroll {
  width: calc(100% - 260px);
  height: 16px;
  position: fixed;
  left: 230px;
  z-index: 999999;
  bottom: 5px;

  .table-scroll {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background-color: var(--color-f1f1f1);
    border: 1px solid var(--color-d1d2d4);
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    &::-webkit-scrollbar {
      width: 1em;
      height: 15px;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 500px;
      height: 15px;
      background-color: var(--color-c8c8c8);
      outline: 0px solid var(--color-slategrey);
      border: 2px solid var(--color-black-3);
      background-clip: content-box;
      cursor: pointer;
    }
  }

}

// .overlayPanel {
//   position: fixed;
//   height: 25px;
//   background-color: #fff;
//   left: 0px;
//   bottom: 0px;
//   width: 100%;
//   z-index: 5;
// }


// .ManageAssetDataTable_Ui {
//   tbody {
//     tr {
//       .row_anchor_point {
//         i {
//           margin-left: -2px;
//         }
//       }
//       .CRXCheckBox  {
//         margin-left: -7px;
//       }
//     }
//   }
//   .dragableCellCustomize {
//     left: 4px;
//   } 
// }