
.selectFormikIncar_wraper {
  max-height: 450px !important;
  min-width: 430px !important;
  margin-top: 8px;
}

.DeviceIndicator {
  font-size: 14px;
  color: var(--color-333333);
  font-style: italic;
  padding-left: 75px;
  padding-top: 15px;
  span{
    font-size: 20px;
    font-weight: bold;
    padding-right: 5px;
  }
}
._Create_Template {

  input[type="checkbox"] {
    opacity: 0;
  }
  /*Template Info*/
  .containerCheck {
    position: relative;
    
    .checkmark{
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border: 1px solid #D1D2D4;
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 4.2px;
        top: 0px;
        width: 4px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(40deg);
      }
    }
    &:hover {
      input[type="checkbox"] ~ .checkmark {
        border-color: #333;
      }
    }
    input[type="checkbox"]:checked ~ .checkmark {
      background: #333;
      border-color: transparent;
      border-radius: 3px;
      &:after{
        display: block;
      }
    }
    
  }
  ._create_template_Content {

    label {
      font-size: 14px;
      color: var(--color-333333);
      width: 250px;
      line-height: 29px;
    }
    input[type="text"], input[type="number"], input[type="time"]{
      height: 30px;
      border:1px solid var(--color-d1d2d4);
      outline: 2px solid transparent;
      color: #333;
      font-size: 14px;
      padding: 0 16px;
      width: 100%;
      &:hover{
        border:1px solid var(--color-888787);
      }
      &:focus {
        border:1px solid var(--color-888787);
        outline:2px solid var(--color-888787);
      }
    }

    .textFieldError {
      input[type="text"], input[type="number"], input[type="time"]{
        border:1px solid transparent;
        outline:2px solid var(--color-aa1d1d);
        width: 100%;
        font-size: 14px;
      }
      .UiLabelTextboxError {
        padding-top: 4px;
        font-size: 14px;
        color: var(--color-aa1d1d);
        font-family: var(--Arial-font-family);
        i{
          font-size: 14px;
          color: var(--color-aa1d1d);
        }
      }
    }

    .UiLabelTextbox, .UiStationSelect  {
      display: flex;
    }

    .selectFormikIncar {
      width: 430px;
      &.Mui-focused{
        border: 2px solid var(--color-888787);
      }
    }

    
    form {
      ._template_form_row {
        margin: 0 auto;
        ._label_and_form_field{
          display: flex;
          padding-bottom: 32px;

          .textWithRadioCheckBox {
            font-size: 14px;
            color: var(--color-333333);
            font-family: var(--Arial-font-family);
          }
          .UiNumberSelectorError {
            font-size: 14px;
            color:var(--color-aa1d1d) ;
            font-family: var(--Arial-font-family);
            padding-top: 3px;
          }
          .multiSelectField {
            .multiSelectUi {
              display: flex;
            }
          }
          .NumberField {
            .UiNumberSelector {
              .UiNumberSelectorMain{
                display: flex;
              }
            }
          }
          .starikBlack, .textBoxBlack {
            font-weight: bold;
            font-size: 20px;
            position: relative;
            top: -2px;
            margin-left: 10px;
            color: var(--color-333333);
          }
          .starikRed {
            font-weight: bold;
            font-size: 20px;
            position: relative;
            top: -2px;
            margin-left: 10px;
            color: var(--color-aa1d1d);
          }
          .textBoxRed {
            font-weight: bold;
            font-size: 20px;
            position: relative;
            top: -2px;
            margin-left: 10px;
            color: var(--color-aa1d1d);
          }
          &.Triggers {
            justify-content: center;
            .crx_MultiSelectBoxLight {
              .MuiFormControl-root {
                .MuiInputBase-root {
                  .MuiAutocomplete-input {
                    border: 0px ;
                    &:focus {
                      border: 0px ;
                    }
                    &:hover {
                      border: 0px ;
                    }
                  }
                }
              }
            } 
            .multiSelectField {
              .multiSelectUi {
                .multiSelectUiLeft {
                  width: 215px;
                }
              }
            }
          }
        }
      }
      div[id="crx-tabpanel-0"]{
        ._template_form_row {
          width: 614px;
          margin: 0 auto;
          padding-top: 47px;
          ._label_and_form_field{
            display: flex;
            padding-bottom: 32px;
            ._template_form_group{
              .textField, .textFieldError{
                .UiLabelTextbox {
                  .UiLabelTextboxRight{
                    width: 430px;
                  }
                  
                }
              }
                
            }
          }
        }
      }/*....... Tab id-0........*/

      div[id="crx-tabpanel-1"] {
        ._template_form_row {
          width: 680px;
          ._label_and_form_field{
            &:nth-child(3) {
              padding-bottom: 0px;
              padding-top: 30px;
            }
            &:nth-child(4) {
              .multiSelectField {
                margin-bottom: 27px;
              }
            }
            &:nth-child(10) {
              padding-bottom: 0px;
            }
            &:nth-child(11) {
              .DynamicFormTimeUi {
                padding-bottom: 28px;
              }
            }
            &:nth-child(14) {
                padding-bottom: 64px;
                padding-top: 4px;
            }
            &:nth-child(15) {
              padding-bottom: 37px;
            }
            &:nth-child(17) {
              padding-bottom: 59px;
              margin-top: -4px;
            }
            .timeUnitIncar {
              .DynamicFormTimeUi {
                display: flex;
                .DFTUILeft {
                  width: 250px;
                }
                .DFTUIRight {
                  width: 430px;
                  .UiCheckboxRightPosition {
                    div {
                      p {
                        font-size: 14px;
                        color: var(--color-333333);
                        font-family: var(--Arial-font-family);
                      }
                    }
                  }
                  input[type="time"] {
                    width: 140px;
                  }
                }
              }
            }
            &.Mode {
              &:nth-child(1){
                padding-top: 45px;
              }
              
            }
            &.Config{
              &.Update {
                &.Interval{
                  padding-top: 4px;
                  padding-bottom: 62px;
                }
              }
            }
            &.Maximum{
              &.Video {
                padding-top: 31px;
              }
            }
            &.GPS{
              &.Frequency{
                padding-bottom: 62px;
                padding-top: 30px;
              }
            }
          }/*.... _label_and_form_field ........*/
          ._label_and_form_field  + .Logout {
            padding-top: 4px;
            padding-bottom: 8px;
          } 
        }
        .UiCheckbox {
          display: flex;
          .UiCheckboxLeft {
            width: 250px;
            margin-top: -6px;
           
          }
          .UiCheckboxRight {
            .UiCheckboxRightPosition{
              display: flex;
              .containerCheck{
                width: 30px;
              }
              div{
                width: auto;
                padding-right: 10px;;
                p{
                  padding: 0px;
                  margin: 0px;
                  font-size: 14px;
                  color: var(--color-333333);
                }
              }
            }
          }
        }
        .multiSelectField {
          .multiSelectUi {
            display: flex;
            
            .multiSelectUiLeft {
              width: 250px;
            }
            .multiSelectUiRight {
              ._device_template_multiselect {
                min-width: 430px;
                input[type="text"] {
                  border:0px;
                  outline: 0px;
                  position: absolute;
                  &:focus {
                    border:0px;
                  }
                  &:hover {
                    border:0px;
                  }
                }
              }
            }
          }
      }
      
        .NumberField {
          .UiNumberSelector {
            .UiNumberSelectorMain{
              .UiNumberSelectorLeft  {
                width: 250px;
              }
              .UiNumberSelectorRight  {
                width: 430px;
                input[type="number"] {
                  width: 140px;
                  margin-right: 17px;
                }
                .timeShow {
                  font-size: 14px;
                  color: var(--color-333333);
                  font-family: var(--Arial-font-family);
                  padding-right: 12px;
                }
                .checkSelectorText {
                  font-size: 14px;
                  font-family: var(--Arial-font-family);
                  font-style: italic;
                  color: var(--color-74767c);
                  padding-top: 4px;
                }
                .UiNumberSelectorError {
                  font-size: 14px;
                  color:var(--color-aa1d1d) ;
                  font-family: var(--Arial-font-family);
                  padding-top: 3px;
                }
              }
            }
          }
        }
      }/*....... Tab id-1.........*/

      div[id="crx-tabpanel-2"]{
          ._template_form_row {
            width: calc(100% - 142px);
            ._label_and_form_field{
              label {
                width: 324px;
              }
              &:nth-child(2) {
                padding-top: 7px;
                margin-left: 9px;
                ._template_checkbox {
                  padding-top: 66px;
                  padding-bottom: 2px;
                }
              }
              &:nth-child(5){
                .UiCheckbox {
                  margin-left: 9px;
                }
              }
              &:nth-child(11) {
                .NumberField {
                  margin-bottom: -8px;
                }
              }
              .Sensor.Recording.Start.Delay {
                padding-top: 36px;
              }
              div {
                p{
                  margin: 0px;
                  padding: 0px;
                  font-size: 14px;
                  font-family: var(--Arial-font-family);
                  color: var(--color-333333);
                }
              }
              .selectField {
                width: 502px;
                margin: 0px auto;
              }
              .USBGPSIncar {
                width: 746px;
                .UiCheckbox {
                  display: flex;
                  .UiCheckboxLeft{
                    width: 324px;
                  }
                  .UiCheckboxRight {
                    .UiCheckboxRightPosition {
                      display: flex;
                      .containerCheck {
                        width: 16px;
                        margin-right: 14px;
                      }
                    }
                  }
                }
              }
              .MainHeadingDevices {
                width: 414px;
                &.Hardware{
                  &.Interface {
                    padding: 0px 0 0px 0px;
                    .MainHeadingDevices {
                      .formMainHeading{
                        padding: 0px;
                      }
                    }
                  }
                }
              }
              ._template_form_group {
                width: 746px;
                margin: 0 auto;
                .textField {
                  .UiLabelTextbox  {
                    .labelRadioo {
                      width: 324px;
                    }
                    .UiLabelTextboxRight {
                      margin-right: 10px;
                      input[type="text"] {
                        width: 140px;
                      }
                    }
                    .crxTooltip{
                      margin-top: 7px;
                    }
                  }
                }
              }
              .NumberField {
                width: 746px;
                margin: 0 auto;
                .UiNumberSelectorDepend {
                  .UiNumberSelector {
                    .UiNumberSelectorMain {
                      .UiNumberSelectorLeft {
                        width: 324px;
                      }
                      .UiNumberSelectorRight  {
                        display: flex;
                        input[type="number"] {
                          width: 140px;
                          margin-right: 14px;
                        }
                        .timeShow {
                          margin-right: 10px;
                        }
                        .checkSelectorText {
                          font-size: 14px;
                          font-family: var(--Arial-font-family);
                          font-style: italic;
                          color: var(--color-74767c);
                          padding-top: 4px;
                        }
                      }
                    }
                  }
                }
              }
              .HardwareMonitoringIncar, .RecordingStopIncar, .BeepDuringIncar {
                
                .UiCheckbox {
                  display: flex;
                  .UiCheckboxLeft {
                    width: 324px;
                  }
                  .UiCheckboxRight {
                    .UiCheckboxRightPosition{
                      display: flex;
                      .containerCheck {
                        width: 16px;
                        margin-right: 14px;
                      }
                    }
                  }
                }
              }
              .RecordingStopIncar {
                width: 746px;
                margin: 0 auto;
              }
              .NumberField {
                .UiNumberSelector{
                  .UiNumberSelectorMain {
                    .UiNumberSelectorLeft {
                      width: 324px;
                    }
                    .UiNumberSelectorRight  {
                      input[type="number"] {
                        width: 140px;
                        margin-right: 14px;
                      }
                    }
                  }
                }
              }
              .checkSelectorText {
                font-size: 14px;
                font-family: var(--Arial-font-family);
                font-style: italic;
                color: var(--color-74767c);
                padding-top: 4px;
              }
              .timeShow {
                margin-right: 10px;
              }
              .UiNumberSelectorError {
                padding-top: 4px;
                font-size: 14px;
                color: var(--color-aa1d1d);
                font-family: var(--Arial-font-family);
                i{
                  font-size: 14px;
                  color: var(--color-aa1d1d);
                }
              }
              .BeepDuringIncar {
                width: 746px;
                margin: 0 auto;
                .UiCheckboxRightPosition {
                  div {
                    p{
                      margin-right: 10px;
                    }
                  }
                }
              }
              &.Hardware {
                &.Monitoring{
                  padding: 31px 0px 0px 0px;
                  ._template_checkbox{
                    &:nth-child(2) {
                    padding-top: 75px;
                    padding-bottom: 49px;
                    }
                  }
                  
                }
              }
              .RecordingStopIncar {
                padding-bottom: 17px;
              }
              
              &.Beep {
                &.During{
                  &.Recording {
                    padding-top: 29px;
                    padding-bottom: 15px;
                  }
                } 
              }
              &:empty {
                display: none;
              }
            }/*......... div field ...........*/
          }
          .MainHeadingDevices {
            .formMainHeading {
              font-size: 18px;
              color: var(--color-333333);
              font-family: var(--Arial-font-family);
              font-weight: bold;
            }
          }
      }/*....... Tab id-2.........*/

      div[id="crx-tabpanel-3"] {
        ._template_form_row {
          ._label_and_form_field {
            width: 100%;
            ._camera_setup_tab {
              width: 100%;
              .cameraSetup {
                display: flex;
                padding-bottom: 38px;
                justify-content: space-between;
                padding-right: 25px;
                padding-left: 72px;
                padding-top: 42px;
                ._device_temp_camera_title {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: var(--Arial-font-family);
                    color: var(--color-333333);
                }
              }
              ._camera_setup_flieds {
                width: 681px;
                margin: 0 auto;
                padding-bottom: 31px;
             
                &:empty {
                  display: none;
                }
                label {
                  width: 215px;
                }
                &:nth-child(2) {
                  input {
                    width: 430px;
                  }
                }
                &:nth-child(25) {
                  padding-top: 16px;
                }
                .NumberField {
                  .UiNumberSelector {
                    .UiNumberSelectorMain {
                      .UiNumberSelectorLeft  {
                        width: 215px;
                      }
                      .UiNumberSelectorRight  {
                          input[type= "number"] {
                            width: 140px;
                            margin-right: 14px;
                          }
                          .timeShow {
                            margin-right: 10px;
                          }
                          .checkSelectorText
                          {
                            font-size: 14px;
                            font-family: var(--Arial-font-family);
                            font-style: italic;
                            color: var(--color-74767c);
                            padding-top: 4px;
                          }
                      }
                    }
                  }
                  &.Index {
                    padding-top: 31px;
                  }
                  &.NumberFieldError {
                    &.Index {
                      padding-top: 31px;
                    }
                  }
                }
                ._template_radio_button {
                  padding-bottom: 0px;
                  &.Blackbox {
                    padding-top: 21px;
                  }
                  .UiRadioMain {
                    display: flex;
                    place-items: flex-start;
                    .UiRadioLabel {
                      width: 215px;
                    }
                    .UiRadioCheck {
                      .Enabled {
                        display: flex;
                        .containerRadio {
                          margin-right: 12px;
                          width: 18px;
                        }
                        .radio_label {
                          width: auto;
                          padding-right: 11px;
                        }
                        .crxTooltip {
                          top:6px
                        }
                      }
                    }
                  }
                }
                ._template_checkbox {
                  padding-bottom: 17px;
                  .UiCheckbox {
                    display: flex;
                    .UiCheckboxLeft {
                      width: 215px;
                      .labelAdded{
                        line-height: 20px;
                      }
                    }
                    .UiCheckboxRight {
                      .UiCheckboxRightPosition {
                        display: flex;
                        place-items: center;
                        .containerCheck {
                          width: 16px;
                          height: 16px;
                          margin-right: 13px;
                        }
                        div {
                          p{
                            padding: 0px;
                            margin: 0px;
                            margin-right: 12px;
                          }
                        }
                      }
                    }
                  }
                }

                .selectField {
                  .UiStationSelect {
                    .selectFormikIncar {
                      margin-right: 12px;
                    }
                  }
                }
                .Post-Recording.Duration {
                  padding-bottom: 6px;
                }
              }/*...... Camera setup fields ........*/
            }/*......._camera_setup_tab......*/
          }
        }
      }/*......... Tab id-3.............*/
    }
  }
}
/*......... ak start.............*/
        .CrxCreateTemplateUi  {
              position: relative;
              top: 9px;
                .rc-menu-button {
                  position: absolute;
                  right: 0px;
                  top: 62px;
                  z-index: 9999;
                  background: transparent;
                  border: none;
                  font-size: 20px;
                  color: var(--color-333333);
                }
                .rc-menu-container {
                    ul {
                      z-index: 9999 !important;
                    }
                }
                form {
                  border-top: 1px solid var(--color-878787);
                  margin-top: -2px;
                }
                .tctButton {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 24px;
                  .tctLeft {
                    button {
                      &:nth-child(1) {
                        margin-right: 32px;
                      }
                    }
                  }
              }
              .AddCameraIncar { 
                i {
                  padding-right: 19px;
                }
              }
        }
        .selectFormikIncar_wraper  {
          border-radius: 0px !important;
          ul {
            border-radius: 0px;
            li {
              &:first-child {
                display: none ;
              }
            }
          }
        }
/*......... ak end.............*/
._camera_setup_flieds.HideField {
  display: none;
}