.CrxCreateTemplate {    
    margin-top: 129px;
    margin-left: 67px;
    position: relative;

    div[role="tabpanel"]{
        border-top: 1px solid #333;
        margin-top: -2px;
    } 

    .MuiTab-root  {
            padding: 0 25px;
        &:nth-child(1) {
            padding: 0 30px;
        }
        &:nth-child(2) {
            padding: 0 60px;
        }
    }
    .MuiTab-textColorInherit { 
        width: auto;
    }


    @media(max-width:1200px) {
        .MuiTab-root {
            &:nth-child(1) {
                padding: 0 20px !important;
            }
            &:nth-child(2) {
                padding: 0 25px !important;
            }
            &:nth-child(3) {
                padding: 0 50px !important;
            }
        }
    }

    @media(max-width:1090px) {
        .MuiTab-root {
            &:nth-child(1) {
                padding: 0 34px !important;
            }
            &:nth-child(2) {
                padding: 0 43px !important;
            }
            &:nth-child(3) {
                padding: 0 17px !important;
            }
            &:nth-child(4) {
                padding: 0 26px !important;
            }
        }
    }
    .rc-menu-button {
        float: right;
        background-color: transparent;
        font-size: 18px;
        position: absolute;
        right: 0;
        top: -40px;
        border: 1px solid;
        z-index: 60000;
        height: 34px;
        width: 36px;
        border-radius: 26px;
    }
    .tabCreateTemplate {
        position: relative;
        .MuiTabs-root {
            position: absolute;
            top: 0;
        }
        .tctContent {
            div[class*="makeStyles-root"] {
                padding-top: 50px;
            }
        }
    }
    .rc-menu__arrow {
        display: none;
    }
    .rc-menu {
        left: 1562px !important;
        top: -18px !important;
        z-index: 60000 !important;
        
    }
    .tctButton {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        .tctLeft {
            button {
                margin-right: 30px;
            }
        }
    }
}
