
  .CrxUnitDetailId {
    padding: 5px 0 0;
    transition: 1s padding ease-out;
    .unitDeviceDetail {
      margin-top: 0 !important;
      margin-left: 0 !important;
      position: sticky;
      top: 139px;
      background: #fff;
      z-index: 9999;
    }
    .tab-bottom-buttons {
    
      .save-cancel-unitDevice {
        width: 100%;
        .groupInfoTabButtons {
          height: 30px;
        }
      }
    }
    .crxMainTab {
      border-bottom: 1px solid #878787 !important;
    }
  }

.anchorStyle {
  text-decoration: none;
}

iframe {
  display: none;
}
.uddDashboard {
  .MainBoard {
    background-color: var(--color-333333);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding: 0 50px 0 49px;
    position: relative;
    top: 0px;
    padding-left: 43px;
    overflow-x: hidden;
  }
  .LeftBoard {
    display: flex;
    flex: 0 70%;
    .pannelBoard {
      &.mr-59 {
        margin-right: 59px;
      }
    }
  }

  .RightBoard {
    display: flex;
    flex: 0 30%;
    justify-content: flex-end;
    .pannelBoard{
      &.mr-50 {
        margin-right: 50px;
      }
    }
    
  }
  .deviceImage {
    height: 35px;
    object-fit: cover;
    margin: -9px 0 -5px 0;
  }
  .pannelBoard {
    text-align: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 17px;
    .panel_Heading_unitDetail {
      color: var(--color-f2f2f2);
      font-size: 20px;
      font-family:var(--base-font-family);
      font-weight: var(--Font-style-normal);
      padding-bottom: 18px;
    }
    p {
      color: var(--color-f2f2f2);
      font-size: 14px;
      font-family:var(--base-font-family);
      font-weight: var(--Font-style-normal);
      margin: 12px 0 0 0;
      white-space: nowrap;
    }
    span {
      display: block;
      height: 25px;
      width: 25px;
      margin: -4px 0 1px 0;
    }
    .pdDeviceIcon {
      i {
        color: var(--color-f2f2f2);
        font-size: 25px;
      }
    }
    .pdStatus {
      i {
        color: var(--color-02a200);
        font-size: 25px;
      }
      &.ONLINE {
        i{
          color: var(--color-2d6fcc);
        }
      }
      &.INACTIVE {
        i{
          color: var(--color-rosybrown);
        }
      }
    }

    .Unregistered {
      i {
        color: #FFD000 !important;
      }
    }
    .Suspended {
      i {
        color: #d1d2d4 !important;
      }
    }

    .Online {
      i {
        color: #2d6fcc !important;
      }
    }

    .Active {
      i {
        color: #02a200 !important;
      }
    }

    .Recording {
      i {
        color: #ff1410 !important;
      }
    }

    .Offline {
      i {
        color: #d1d2d4;
      }
    }
    .pdUpload {
      i {
        color: var(--color-f2f2f2);
        font-size: 20px;
        margin-top: 2px;
        &:after {
          color: var(--color-f2f2f2);
          opacity: 1;
        }
      }
    }
    .pdDotted {
      i {
        color: var(--color-ff6e20);
        font-size: 23px;
        margin-top: 2px;
      }
    }
  }
  .pannelBoardHide {
    display: none;
  }
  .arrowResponsiveShow {
    display: block;
    color: var(--color-d1d2d4);
    z-index: 8;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #333;
    height: 128px;
    width: 40px;
    line-height: 124px;
    text-align: center;
  }
  .arrowResponsiveLeftHide {
    display: none;
  }
  .arrowResponsiveLeftShow {
    display: block;
    color: #d1d2d4;
    z-index: 8;
    left: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .arrowResponsiveLeftHide {
    display: none;
  }
  .arrowResponsiveLeft {
    display: block;
    color: #d1d2d4;
    z-index: 8;
    left: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .pannelBoardShow {
    display: block;
  }
  .arrowResponsiveHide {
    display: none;
  }
}

.UnitDetailMain {
  .crxMainTab .MuiTabs-indicator{
    display: block;
  }
  .crxTabsPermission .MuiTab-root{
    padding: 0px 25px;
    min-width: 192px;
    text-transform: uppercase;
  }

  .save-cancel-unitDevice {
    .CRXButton {
      &:nth-child(1) {
        color: #f5f5f5 !important;
      }
    }
    .Mui-disabled {
      &:nth-child(1) {
        color: #979797 !important;
      }
    }
  }
  .unitDetailAction {
    margin-right: 3px;
    z-index: 99999999;
    right:30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 27px;
    position: fixed;
    top: 92px;

    a {
      color: #D74B00;
     font-size: 14px;
     }
    .menuUnitDetail {
      button {
        background: transparent;
        border: none;
        color: var(--color-333333);
        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
      }
      i {
        font-size: 23px;
        color: #333333;
      }
    }
  }
  .menuUnitDetail {
    margin-right: 26px;
  }
  .menuCss {
    left: -85.328px !important;
    top: 4px !important;
    width: 168px !important;
  }
  .rc-menu__arrow {
    left: 102.328px !important;
  }
  .unitExit {
    transform: translateY(-3px);
    p {
      color: var(--color-979797);
      font-size: 14px;
      font-family: auto;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .crx-menu-list {
    width: 130px !important;
  }
  .unitDeviceDetail {
    padding-bottom: 23px;
  }
  .crx-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 14px !important;
    }
  }
  .crxTabsPermission div[role=tabpanel]::before{
    display: none;
  }
  .crx-message-alert{
    display: none;
  }
  .crx-group-info-form{
    padding-top: 0px;
  }
  .makeStyles-root {
    height: 550px;
  }
  .UnitDetailMain div#crx-tabpanel-0 {
    height: 550px;
  }
}
._Unit_Detail_View {
  .rc-menu__arrow {
    display: none;
  }
  .menuCss {
    margin-top: -14px;
    margin-left: 3px;
  }
  .unitConfiguration{
    align-items: start; 
    .unitConfiguration_select{
      display: inline-flex;
    }
    label{
      width: 225px !important;
    }
    .select_label{
      width: 236px;
      padding: 0 6px 0 6px;
    }
    .groupInfoInputs h6{
      width: 220px;
    }
    .MuiInputBase-root.CRXSimpleSelect.undefined{
      width: 52vh;
    }
  }
  .crxTabsPermission {
    margin-top: 19px;
  }
}

// media query
@media screen and (min-width: 1500px) {
  .MainBoardFlow {
    overflow-x: hidden !important;
  }
}

@media (max-width: 1200px) {
  .uddDashboard {
    .MainBoard {
      
    }
  }
}


.unit_device_configuration_form {
  display: table;
  .unitConfiguration {
    height: auto;
  }
}

.unit_device_queued_tab_parent {
  z-index: 9;
  .queued_tab_DataTable {
    table {
      width: 100% !important;
    }
  }
  .overlayPanel {
    width: 28px;
  }
}


.unit_detail_tab_events {
  margin: 0px 81px;
  position: relative;
  font-family: var(--base-font-family);
  .unit_detail_tab_events_data_table {
    display:  block !important;
    border:1px solid var(--color-ccc);
    table {
      thead {
        top : 0px !important;
        z-index: 99 !important;
        
      }
      tbody {
        tr {
          td {
            .status_grid_loader {
              width: 100%;
              .crx-progress-br {
                display: flex;
                justify-content: center;
                place-items: center;
                height: 100%;
                .loadingAssets {
                  padding-right: 12px;
                }
                .loader {
                  .progressPercentage {
                    color: var(--color-333333);
                    line-height: 14px;
                    left: auto !important;
                    right: auto;
                    bottom: auto;
                    margin: auto;
                    width: 100%;
                    text-align: center;
                    top: 1px;
                  }
                  .loadingIcon{
                    .assetsLoadingBarIcon {
                      top: 0px !important;
                    }
                  }
                } 
              }
            }
          }
          
          &:hover {
            .status_grid_loader {
              .crx-progress-br {
                .loadingAssets {
                  color: var(--color-d1d2d4);
                }
                .loadingIcon {
                  color: var(--color-d1d2d4);
                }
              }
            }
          }
        }
      }
    }
  }
  .stickyPos {
    top: 0px !important;
    z-index: 99 !important;
  }
}
.UnitDevice_GroupName_Field {
  .MuiOutlinedInput-root {
    border-radius: unset ;
  }
}