.CRXBucketPanel {
  
  .MuiDrawer-paper {
    top: 57px !important;
    background: #f5f5f5;
    overflow: visible;
    border-left: 1px solid #b7b8b9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px 0px;
    max-width: 461px;
    padding: 5px;
    border-bottom: 4px #d74b00 solid;
    height: calc(100% - 60px);
    display: block;
  }
  .bucketPanelTitle {
    text-align: left;
    font-size: 18px;
    color: #333;
    padding-top: 4px;
  }

  .uploadContent {
    border: 1px dotted #333;
    padding: 6px 8px;
    background: rgba(250, 250, 250, 0.9);
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-top: 40px;
    width: 425px;
    height: 48px;
    place-items: center;
    .iconArea {
      font-size: 18px;
      color: #666;
      position: relative;
      left: 4px;
    }
    .textArea {
      font-size: 12px;
      color: #666;
      line-height: 14px;
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;
      b {
        color: #333;
        font-weight: bold;
      }
      .textFileBrowser {
        color: #C34400;
        padding-left: 3px;
      }
    }
  }

  .bucketContent {
    text-align: center;
    padding-top: 51%;
    color: #333333;
    font-size: 14px;
  }
  .bucketViewLink {
    text-align: right;
    padding-top: 45px;
    padding-bottom: 21px;
    color: #C34400;
    font-size: 14px;
    font-weight: bold;
  }
  .topColumn {
    color: #d1d2d4;
    position: relative;
    right: -14px;
    top: 0px;
    &:hover {
      color:#333333;
      cursor: pointer;
    }
    &:focus {
      color:#333333;
      cursor: pointer;
    }
  }
  
.divMainBucket {
  height: 100%;
  padding:0px 20px !important;
  
    border: 2px solid transparent;
    border-image-source: url(../../../Assets/Images/borderImage01.png);
    border-image-slice: 7 5;
    border-image-width: 0px;
    border-image-repeat: repeat;
  
    &:before {
      width: 0; 
      height: 0; 
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #F5F5F5;
      position: absolute;
      right: 112px;
      top: -7px;
      content: " ";
    }

    #lightBgContent {
      background: #fff;
      opacity: 0.5;
      width: calc(100% - 16px);
      height: calc(100% - 14px);
      position: absolute;
      top: 7px;
      left: 8px;
    }
  }
}

.bucketIcon {
  color: #d1d2d4;
  font-size: 20px !important;
}

.bucketIconButton {
  padding: 4px 0px !important;
  line-height: 0px !important;
  min-width: 80px !important;
  border-radius: 0px !important;
}

.bucketIconButton:hover,
.bucketIconButton:focus {
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: relative;
}

.bucketIconButton:after {
  position: absolute;
  background: #555;
  width: 2px;
  height: 18px;
  top: 5px;
  right: 0px;
  content: "";
}
.bucketDataTable {
  height: 500px;
  .centerPosition  {
    width:300px;
  }
  // .CBX-input {
  //   input {
  //     width: 100px;
  //   }
  // }
  th[class*="MuiTableCell-sizeSmall-"]{
    padding: 0 12px;
  }
  table {
    tr {
      td {
        &:nth-child(2) {
          z-index: 3;
        }
        ul{
          &:first-child {
            left: 86px !important;
          }
        }
      }
    }
  }
}
