iframe {
  display: none;
}

.checkIcon {
  display: none;
}
.MuiList-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.CrxConfigTemplate {
  
 .dataTableColumnShoHide {
  .dataIconButton {
    font-size: 14px;
    margin-top: 21px;
  }
 }
 .CRXDataTableCustom  {
  margin-top: 0px;
  &.visibleTable  {
    margin-top: 0;
  }
 }
 .table_Inner_Action {
  text-align: center;
  padding: 0;
  margin-left: -3px;
 }
  .menu_List_Button {
    .rc-menu-button {
      position: absolute;
      z-index: 90000;
      // position: relative;
      // z-index: 50000;
      background: #333333;
      color: #d1d2d4;
      border: none;
      width: 137px;
      height: 30px;
      font-size: 14px;
      line-height: 16px;
      margin-top: -18px;
      font-family: Arial, Helvetica, sans-serif;
      transition: 0.2s all;
      // top: -40px;
      // top: 152px;
      &:hover {
        background-color: #6e6e6e;
        color: #f5f5f5 !important;
        cursor: pointer;
      }
      &:focus,
      &:active {
        background-color: #231f20;
        color: #f5f5f5;
      }
    }
    .rc-menu {
      top: 0 !important;
      min-width: 137px !important;
      width: 137px !important;
      background-color: #ffffff !important;
      border: 1px solid #bebebe;
      .rc-menu__item {
        padding: 8px 0px 8px 16px !important;
      }
      li {
        background-color: #ffffff;
        &:hover {
          background-color: #f5f5f5;
          color: #333333;
        }
        &:active {
          background-color: #6e6e6e;
          a {
            color: #f5f5f5 !important;
          }
        }
        a {
          color: #333333;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          line-height: 15px;
          width: 100%;
          &:hover {
            text-decoration: none;
            box-shadow: none;
          }
          div {
            background-color: transparent !important;
          }
        }
      }
    }
  }

  .configTemplate {
    margin-top: -3px;
    tr {
      &:nth-child(odd) {
        .col-three {
          background-color: var(--color-White);
          left: 0 !important;
          ::selection {
            background-color: red !important;
          }
        }
        &:hover {
          .col-three {
            background-color: var(--color-333333) !important;
          }
        }
      }
      &:nth-child(even) {
        .col-three {
          background-color: var(--color-f2f2f2) !important;
          left: 0 !important;
        }
        &:hover {
          .col-three {
            background-color: var(--color-333333) !important;
          }
        }
      }
      .col-three {
        position: sticky !important;
        left: 0;
        right: 0;
        button {
          position: relative;
          top: 5px;
        }
        ul {
          &:first-child {
            left: 78px !important;
          }
        }
      }
    }

    .crx-global-Select {
      width: auto !important;
    }
    thead {
      &:nth-child(1) {
        tr {
          th {
            &:nth-child(3) {
              min-width: 426px !important;
              width: 426px !important;
            }
            &:nth-child(4) {
              min-width: 300px !important;
              width: 300px !important;
            }
            &:nth-child(5) {
              min-width: 300px !important;
              width: 300px !important;
            }
            &:nth-child(6) {
              min-width: 300px !important;
              width: 300px !important;
            }
          }
        }
      }
      &:nth-child(2) {
        tr {
          th {
            &:nth-child(3) {
              input {
                background-color: var(--color-d1d2d4) !important;
                margin: 0 -4px;
              }
            }
            &:nth-child(6) {
              input {
                background-color: var(--color-d1d2d4) !important;
              }
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &:nth-child(3) {
            a {
              color: var(--color-d74b00) !important;
            }
            &:hover {
              a {
                text-decoration: none !important;
              }
            }
          }
        }
      }
    }
    .DataTableBodyCell {
      vertical-align: middle;
      text-indent: 5px;
      &:first-child {
        text-indent: 5px;
        .CRXCheckBox {
          .fal {
            background: transparent;
          }
        }
      }
    }
  }
  .dataTableColumnShoHide {
    &:nth-child(1) {
      margin-top: -110px;
    }
    &:nth-child(2) {
      display: none;
    }
  }

  .rc-menu__arrow {
    top: 67px !important;
  }

  .crxClearfilter {
    // transform: translateY(-37px);
    transform: translateY(-20px);
  }

  .GetacMenu {
    position: relative;
    button {
      position: absolute;
      top: -26px;
      background: var(--color-333333) !important;
      z-index: 90000000;
      color: var(--color-d1d2d4);
      height: 30px;
      width: 134px;
      border-radius: 0;
      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 14px !important;
      font-family:var(--base-font-family);
      &:hover {
        background-color: var(--color-6e6e6e) !important;
        color: var(--color-f5f5f5) !important;
      }
      &:active {
        background-color: var(--color-231f20) !important;
        color: var(--color-f5f5f5) !important;
        box-shadow: none;
      }
      .CRXDRPIcon {
        display: none;
      }
    }
  }
  table {
    thead {
      &:nth-child(1) {
        tr {
          th {
            position: sticky !important;
            &:nth-child(1) {
              left: 0 !important;
            }
          }
        }
      }
      &:nth-child(2) {
        tr {
          th {
            &:nth-child(1) {
              left: 0 !important;
            }
          }
        }
      }
    }
    tbody {
      tr {
        height: 50px !important;
        td {
          &:nth-child(1) {
            &::selection {
              background-color: #d74b00 !important;
            }
            .rc-menu-button {
              font-size: 23px !important;
            }
          }
        }
      }
    }
  }
  .stickyPos {
    z-index: 1000;
    top: 151px;
    height: 79px;
  }
  .table_Inner_Action {
    .rc-menu {
      top: -87px !important;
    }
  }
  .menu_List_Button {
    ul {
      margin-top: 30px !important;
    }
  }
}


.MenuConfigurationButton {
  width: 134px !important;
  left: 92px !important;
  background: var(--color-White) !important;
  border-radius: 0 !important;
  border: 1px solid var(--color-bebebe) !important;
  li {
    color: var(--color-333333);
    font-size: 14px;
    font-family:var(--base-font-family);
    font-weight: 400;
    &:hover {
      background: var(--color-f5f5f5) !important;
      color: var(--color-333333) !important;
    }
    &:active {
      background: var(--color-6e6e6e) !important;
      color: var(--color-f5f5f5) !important;
    }
  }
}
.MuiMenu_Modal_Ui {
  left: 1565px !important;
}

.SelectedActionMenu {
  background-color: #333333 !important;
  .col-three {
    // position: relative;
    button {
      color: #d1d2d4 !important;
    }
    &::before {
      background-color: #333333;
      content: '';
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1850px) {
  .CrxConfigTemplate {
    .AssetsDataGrid {
      &::-webkit-scrollbar {
        width: 10px !important;
      }
    }
  }
}


.stickyTableHeader {
  visibility: collapse;
}