.crxConfigModal {
  .configuserParaMain {
    .configuserPara1 {
      color: #333333;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 16px;
    }
    .configuserPara2 {
      @extend .configuserPara1;
    }
    .boldPara {
      font-weight: 700;
    }
  }
  div[role='dialog'] {
    width: 452px;
    height: 276px;
  }
  .MuiDialogContent-root {
    overflow-y: hidden !important;
  }
  .MuiTypography-root {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .crossModal {
    i {
      color: #d1d2d4;
      font-size: 16px;
      &:hover {
        color: #333333;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}
