.userGroupCustom {
  .crxEditFilter {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  input {
    width: 184px !important;
    &::placeholder {
      padding-left: 12px;
    }
  }
}

.dataPickerCustom {
  display: flex;
  align-items: center;
  width: 100%;

  .CBX-inputDatePicker {
    border: 1px solid var(--color-d1d2d4);
    padding: 0 11px;
    width: 190px;
  }
}

.isExtUserName {
  input {
    outline: 2px solid var(--color-aa1d1d);
  }
}

.isExtEmail {
  input {
    outline: 2px solid var(--color-aa1d1d);
  }
}

/*Scroll*/
.CRXContent_user {
  &::-webkit-scrollbar {
    width: 1em;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0px;
    margin-left: 0px;
    border-right: 0px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--color-c8c8c8);
    outline: 0px solid var(--slategrey);
    border: 2px solid var(--color-black-3);
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: var(--color-f1f1f1);
    border: 1px solid var(--color-d1d2d4) !important;
    border-right: 0px;
    border-left: 0px;
  }

  &::-webkit-scrollbar-button:vertical:decrement {
    width: 30px;
    height: 105px;
    border: 0px solid var(--color-transparent);
    background: url("../../../Assets/Images/scrollBarVerTop.jpg") no-repeat
      center center;
    background-size: contain;
    background-clip: border-box;
    position: relative;
    background-position: 0px 90px !important;
    top: 0 !important;
  }

  &::-webkit-scrollbar-button:vertical:increment {
    width: 30px;
    height: 88px;
    border: 1px solid var(--color-d1d2d4);

    background: url("../../../Assets/Images/scrollVerBottom.png") no-repeat
      center top var(--color-f1f1f1);
    background-size: contain;

    background-clip: border-box;
    position: relative;
    background-position: 0 0 !important;
    left: 0 !important;
  }

  &::-webkit-scrollbar:vertical {
    display: block !important;
  }
  &::-webkit-scrollbar:horizontal {
    display: none !important;
  }
}
.crxManageUsers {
  // margin-top: 118px;
  // margin-left: 65px;

  // table {
  //   tr {
  //     th {
  //       &.MuiTableCell-sizeSmall {
  //         &:nth-child(4) {
  //           width: 187px;
  //         }
  //         &:nth-child(5) {
  //           width: 191px;
  //         }
  //         &:nth-child(6) {
  //           width: 191px;
  //         }
  //         &:nth-child(7) {
  //           width: 286px;
  //         }
  //         &:nth-child(8) {
  //           width: 141px;
  //         }
  //         &:nth-child(9) {
  //           width: 186px;
  //         }
  //       }
  //     }
  //   }
  // }

  .Autocomplete_multi {
    width: 100%;
  }
  .manageUserBtn {
    height: 30px;
    width: 108px;
    padding: 0 0;
    margin-top: -22px;
    position: sticky;
    top: 144px;
    &:hover {
      border: 1px solid #6e6e6e;
    }
  }
  .CRXCheckBox {
    margin-left: 2px !important;
  }

  .AssetsDataGrid {
    .centerPosition {
      width: 100%;
      min-width: 100%;
      padding-right: 5px;
      margin: auto;
      padding-left: 5px;
      .Autocomplete_multi {
        margin-left: 0;
      }
    }
  }

  tbody {
    tr {
      height: 50px;

      // &:hover {
      // td {
      //   &:nth-child(2) {
      //     background-color: #333 !important;
      //     .rc-menu-button {
      //       color: #d1d2d4 !important;
      //     }
      //   }
      // }
      // .CRXCheckBox {
      //   span {
      //     span {
      //       color: #d1d2d4;
      //       &::after {
      //         color: transparent !important;
      //       }
      //     }
      //   }
      // }
      //   }
      td {
        vertical-align: middle !important;
        &:first-child {
          &:hover {
            border: 0 solid transparent !important;
            border-right: 1px solid #ccc !important;
            border-bottom: 1px solid #ccc !important;
          }
          .CRXCheckBox {
            .fal {
              background: transparent;
            }
          }
        }

        &:nth-child(4),
        &:nth-child(7) {
          div {
            color: #c34400;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            &::selection {
              color: #c34400;
              background-color: transparent;
            }
            &:hover {
              text-decoration: underline;
              &::selection {
                color: #ff6e20;
                background-color: transparent;
              }
            }
          }
        }
        &:nth-child(9) {
          line-height: 23px !important;
          text-align: left;
          padding-left: 14px !important;
        }
      }
      &:hover {
        td {
          .fal {
            position: relative;
            &::after {
              content: "";
              color: #fff;
              left: 0;
              position: absolute;
              font-family: "Font Awesome 5 Duotone";
              font-weight: 900;
              right: 0;
            }
            &.crxCheckForDarBg {
              &::after {
                color: transparent;
              }
            }
          }
        }
      }
      &:nth-child(even) {
        td {
          &:first-child {
            .fal {
              position: relative;
              &::after {
                content: "";
                color: #fff;
                left: 0;
                position: absolute;
                font-family: "Font Awesome 5 Duotone";
                font-weight: 900;
                right: 0;
              }
              &.crxCheckForDarBg {
                &::after {
                  color: transparent;
                }
              }
            }
          }
        }
      }
    }

    .SelectedActionMenu {
      td:nth-child(2) {
        background-color: #333 !important;
        color: #d1d2d4 !important;
        position: static;
        .rc-menu-container {
          .rc-menu {
            left: 0px !important;
            margin-left: 69px;
            z-index: 98 !important;
          }
        }
      }
      .rc-menu-button {
        color: #d1d2d4;
      }
    }
  }

  .crxTableHeaderSize {
    margin-left: auto;
    margin-right: auto;
  }

  .rc-menu-button {
    font-size: 21px;
    margin-top: 0;
  }

  .DataTableBodyCell {
    text-indent: -1px !important;
  }
  .rc-menu {
    width: 242px;
  }
  .crx-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rc-menu__arrow--dir-right {
    display: none;
  }
  .col-three {
    position: initial;
  }
  .rc-menu {
    left: 45px !important;
  }
  table {
    tr {
      td {
        ul {
          &:first-child {
            left: 0px !important;
            margin-left: 69px;
            @media (max-width: 1380px) {
              margin-left: 69px;
            }
          }
        }
      }
    }
  }
  .MuiTableCell-sizeSmall {
    padding: 0px 11px !important;
  }
}
.ManageUsersDataTable {
  table {
    thead {
      tr {
        th {
          &.TableSearchAbleHead {
            &:first-child {
              left: 0px !important;
            }
            &:nth-child(2) {
              left: 58px !important;
            }
          }
          &.CRXDataTableLabelCell {
            &:first-child {
              left: 0px !important;
            }
            &:nth-child(2) {
              left: 58px !important;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &.col-two {
            left: 0px !important;

            .fal {
              position: relative;
              &::after {
                content: "";
                color: #fff;
                left: 0;
                position: absolute;
                font-family: "Font Awesome 5 Duotone";
                font-weight: 900;
                right: 0;
              }
              &.crxCheckForDarBg {
                &::after {
                  color: transparent;
                }
              }
            }
            &:hover {
              border-top: none;
              border-left: none;
              border-bottom: none;
            }
          }
          &.col-three {
            left: 58px !important;
            position: sticky;
          }
        }
        // &:hover {
        //   .CRXCheckBox {
        //     span {
        //       span {
        //         color: #d1d2d4;
        //         &::after {
        //           color: transparent !important;
        //         }
        //       }
        //     }
        //   }
        // }
      }
      .SelectedActionMenu {
        background-color: transparent !important;
      }
    }
  }
}
.CreateUserUi {
  margin-left: 62px;
  .grid_spacer {
    width: 92px;
  }
  .modalEditCrx {
    margin-top: 137px;
    padding: 0 130px 0 130px;
  }
  .gridFilterTextBox {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    .gridFilterSpanUi {
      width: 100%;
    }
  }
  .inputLabelNoReq {
    margin-bottom: 8px;
    display: inline-block;
  }
  .crxEditFilter {
    flex-direction: column;
  }
  .CrxUserEditForm {
    width: 100% !important;
  }
  .requiredLable {
    align-items: baseline;
  }
  .inputLabelReq {
    left: 9px !important;
  }
  .DeactivationDateUi {
    flex-direction: row;
    align-items: baseline;
    padding: 0 5px 0 5px !important;
    margin-bottom: 3px !important;
    label {
      margin-bottom: 6px;
    }
    .users-input {
      width: 100% !important;
    }
  }
  .editFilterUi {
    padding: 0 5px 0 5px;
    flex-direction: row;
    .requiredLable {
      margin-bottom: 8px;
      > span {
        font-size: 20px;
        padding-left: 2px !important;
        margin-left: 8px !important;
      }
    }
    .inputError {
      margin-bottom: 0px !important;
    }
    > span {
      width: 167px;
    }
  }
  .crxRadioBtnUi {
    display: flex;
    flex-direction: row;
    padding-left: 3px;
    .user-radio-group {
      margin-top: 4px;
      width: 100% !important;
    }
    label {
      font-size: 14px;
      margin-right: 0px !important;
      width: 241px !important;
    }
  }
  .crxFooterEditFormBtn {
    padding: 0 89px !important;
    bottom: 55px !important;
    position: fixed !important;
    border: none !important;

    .groupInfoTabButtons-Close {
      min-width: 80px !important;
      height: 30px;
      margin-right: 0px;
      margin-left: 900px;
    }
    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 50%;
      background: white;
      top: 49px;
      right: 0;
    }
  }
  .errorStateContent {
    position: absolute;
  }
  .errors {
    .MuiInput-underline {
      input {
        border: 2px solid var(--color-aa1d1d);
        outline: none;
      }
    }
  }
  .radioBtnUiSpacer {
    margin-bottom: 160px;
  }
  .CrxIndicates {
    position: fixed !important;
    top: 87px !important;
    height: 50px;
    background-color: white !important;
    padding-top: 19px;
    width: 100%;
  }
  .crxDropdownValidationError {
    i {
      font-size: 12px;
    }
  }
  .crx-Generate-pass {
    .inputLabelNoReq {
      display: inline;
    }
    .gridFilterTextBox {
      margin-bottom: 0px;
    }
    .copyButton {
      padding-bottom: 19px !important;
    }
  }
  .crx-manually-generate-pass {
    .errorStateContent {
      left: 203px;
      right: 6px !important;
      margin-top: 38px !important;
      i {
        font-size: 12px;
      }
    }
    .crx-requird-check {
      position: absolute;
      left: 203px;
      margin-top: -10px !important;
      label {
        width: 320px !important;
      }
    }
    .crx-gente-field {
      width: 100% !important;
    }
    .inputLabelReq {
      left: 2px !important;
    }
  }
  .crx-gente-field-confrim + .errorStateContent {
    width: 250px !important;
    left: 203px;
    bottom: 22px;
  }

  .ConfirmCheckUi {
    width: 430px !important;
    label {
      width: 300px !important;
    }
  }
  .btnCancelAssign {
    border: 1px solid #878787 !important;
    color: #333333 !important;
    font-size: 14px;
    width: 80px;
    padding: 4px 0;
    font-family: var(--Arial-font-family);
    text-align: center;
    height: 30px;
    &:hover {
      border: 1px solid #333333 !important;
      color: #333333 !important;
    }
    &:active,
    &:focus {
      border: 1px solid #231f20 !important;
      background: #231f20 !important;
      color: #f5f5f5 !important;
    }
  }

  .crxCreateEditDate {
    margin-top: 23px !important;
    label {
      width: 220px !important;
      font-size: 14px;
    }
  }
  .CrxEditForm {
    h6 {
      width: 220.66px !important;
    }
  }
  .inputLabelNoReq {
    margin-top: 7px;
  }
  .crxGeneratePassword {
    flex-direction: row;
    justify-content: space-between;
    .primary {
      margin-right: 29px !important;
    }

    button {
      min-width: 90px;
    }
    .crx-generate-btn {
      width: 100% !important;
    }
    .gridFilterTextBox {
      display: block !important;
      width: 100%;
    }
  }

  .crxFooterEditFormBtn {
    &::after {
      content: "";
      background: #d1d2d4 !important;
      width: 93.89%;
      position: absolute;
      top: 0;
      height: 1px;
      /* padding: 0 49px; */
      left: 89px;
    }
  }

  @media screen and (max-width: 1026px) {
    .crxFooterEditFormBtn {
      &::after {
        width: 88.89%;
      }
    }
  }

  @media screen and (min-width: 2200px) {
    .grid_spacer {
      width: 193px;
    }
  }

  @media screen and (min-width: 1700px) and (max-width: 2200px) {
    .grid_spacer {
      width: 144px;
    }
  }

  @media screen and (max-width: 1786px) {
    .CrxEditForm {
      .crxRadioBtn {
        flex-direction: column;
      }
      .crxRadioBtn {
        .user-radio-group {
          padding-left: 70px;
          padding-top: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 1944px) {
    .crxRadioBtn {
      .crx-manually-generate-pass {
        .crx-requird-check {
          label {
            padding-right: 36px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1500px) {
    .crxRadioBtn {
      .crx-manually-generate-pass {
        .crx-requird-check {
          label {
            padding-right: 158px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1346px) {
    .crxRadioBtn {
      .crx-manually-generate-pass {
        .crx-requird-check {
          label {
            padding-right: 193px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1279px) {
    .grid_spacer {
      display: none;
    }
    .modalEditCrx {
      padding: 0 185px !important;
    }
    .crxRadioBtn {
      .crx-manually-generate-pass {
        .crx-requird-check {
          label {
            padding-right: 0px;
          }
        }
      }
    }
    .user-radio-group {
      padding-bottom: 90px;
    }
    .crxFooterEditFormBtn {
      &::before {
        width: 100%;
        top: 70px;
      }
    }
  }

  @media screen and (max-width: 1084px) {
    .crxRadioBtn {
      .crx-manually-generate-pass {
        .crx-requird-check {
          label {
            padding-right: 38px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1035px) {
    .crxRadioBtn {
      .crx-manually-generate-pass {
        .crx-requird-check {
          label {
            padding-right: 72px;
          }
        }
      }
    }
  }
}

.mr_L_10 {
  margin-left: 10px !important;
}
