.crx-unblock-modal {
  &.userConfirmationModal {
    .crx-message-alert {
      margin-top: 17px;
      margin-bottom: 35px;
    }
    .MuiDialog-container {
      align-items: flex-start;
    }
    .MuiPaper-root {
      border: 1px solid var(--color-707070);
      border-radius: 0px;
      // min-height: 291px;
      min-width: 445px !important;
      overflow-x: hidden;
      top: 126px;

      .MuiDialogContent-root {
        color: var(--color-333333);
        height: calc(100% - 97px);
        overflow-y: auto;
        font-size: 14px;
        overflow-x: hidden;
        font-family: var(--base-font-family);
        padding: 7px 51px 5px 27px;
        .crxUplockContent {
          p {
            &:last-child {
              margin-top: 34px;
              margin-bottom: 42px;
            }
          }
        }
      }
      .MuiDialogTitle-root {
        padding: 15px 26px;
        h6 {
          font-size: 18px;
          color: var(--color-333333);
          font-family: var(--base-font-family);
          font-weight: var(--Font-style-normal);
        }
      }

      .crxConfirmFooterModal {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 14px 27px;
        height: 74px;
        button.Mui-disabled {
          background: var(--color-e5e5e5);
          color: var(--color-979797);
        }
        button {
          font-size: 14px;
          border-radius: 0;
          height: 30px;
          text-transform: revert;
          font-family: var(--base-font-family);
          &.primary {
            background: var(--color-333333);
            color: var(--color-d1d2d4);
            min-width: 187px;
            padding: 0 11.5px;
            margin-right: 32px;
            box-shadow: none;
            &:hover {
              background: var(--color-6e6e6e);
              color: var(--color-f5f5f5);
            }
            &:focus {
              background: var(--color-231f20);
              color: var(--color-f5f5f5);
            }
          }
          &.secondary {
            border: 1px solid var(--color-878787);
            background: var(--color-White);
            color: var(--color-333333);
            box-shadow: none;
            min-width: 141px;
            padding: 0 11.5px;
            margin: 0;
            &:hover {
              border: 1px solid var(--color-333333);
              background: var(--color-f5f5f5);
              color: var(--color-333333);
            }
            &:focus {
              background: var(--color-231f20);
              color: var(--color-f5f5f5);
              border: 1px solid var(--color-transparent);
            }
          }
        }
      }
      .CRXDivider {
        background-color: var(--color-d1d2d4);
      }
    }
  }
}

.CrxCreateUser {
  .CRXContent {
    overflow-x: hidden;
  }
  .crxAlertUserEditForm {
    margin-bottom: 20px;
  }
  .MuiDialog-scrollPaper .MuiDialog-paperScrollPaper {
    max-width: 685px;
    min-width: 630px;
  }
  .modelTitle {
    h2 {
      font-size: 16px;
      color: var(--color-333333);
      font-family: var(--base-font-family);
      font-weight: var(--Font-style-normal);
    }
  }
  .CrxEditForm {
    //padding: 40px 52px 47px 26px;
    color: var(--color-333333);
    // height: calc(100% - 97px);
    // overflow-y: auto;
    // overflow-x: hidden;

    h6 {
      width: 168.66px;
    }
    > span {
      margin: 0 0 34px;
      display: flex;
      label.requiredLable {
        .inputLabelReq {
          line-height: 24px;
          margin-left: 5px;
          font-size: 20px;
          font-weight: var(--Font-style-bold);
          color: var(--color-333333);
        }
      }
      span {
        font-size: 14px;
        color: var(--color-333333);
        font-family: var(--base-font-family);
        .errors {
          .MuiInput-underline {
            input {
              outline: 2px solid var(--color-aa1d1d);
              border: 1px solid var(--color-transparent);
              height: 28px;
              &:focus,
              &:hover {
                border: 1px solid var(--color-d1d2d4);
              }
            }
          }
        }
      }
      .users-input {
        width: 380px;
      }

      .errorStateContent {
        font-size: 14px;
        color: var(--color-aa1d1d);
        margin: 7px 0 0;
        line-height: 16px;
        padding: 0;
        .crxErrorMsg {
          color: var(--color-aa1d1d) !important;
          font-size: 14px !important;
        }
      }
    }
    .crxCreateEditDate {
      margin-bottom: 33px;
      margin-top: 33px;
      label {
        width: 169px;
      }
      input {
        padding-right: 8px;
        text-indent: 8px;
      }
      .users-input {
        width: 380px;
        padding: 0;
        // left: -51px;
      }
    }
    .crxEditFilter {
      display: flex;
      > span {
        display: inline-flex;
        h6 {
          .requiredLable {
            font-size: 14px;
            color: var(--color-333333);
            font-family: var(--base-font-family);
            span {
              font-size: 20px;
              line-height: 24px;
              margin-left: 2px;
              color: var(--color-333333);
            }
          }
        }
      }
      .CrxUserEditForm {
        width: 439px !important;
        display: inline-flex;
        input {
          display: inline-block;
          height: auto;
          min-width: auto;
          margin-left: 5px;
          margin-top: -5px;
          font-size: 14px;
        }
        &.inputError {
          margin-bottom: 24px;
        }
        .MuiAutocomplete-tag {
          .MuiChip-label {
            padding-left: 9px;
            padding-right: 2px;
          }
        }
      }
      .crxDropdownValidationError {
        font-size: 14px;
        color: var(--color-aa1d1d);
        margin: 7px 0 0;
        line-height: 16px;
        padding: 0;
      }
      p {
        &.Mui-error {
          margin: 0 -7px;
        }
      }
    }
    
    .crxRadioBtn {
      padding-top: 27px;
      padding-bottom: 29px;
      label {
        margin-right: 45px;
      }
      .user-radio-group {
        width: 371px;
        fieldset {
          width: 100%;
          .crxCreateEditFormActivationLink {
            margin-bottom: 31px;
            .crxActivationLink {
              position: absolute;
              right: -2px;
              width: 142px;
              top: 2px;
              button {
                background: var(--color-transparent) !important;
                border: none !important;
                color: var(--color-c34400) !important;
                width: auto;
                display: flex;
                padding: 0;
                min-height: auto;
                height: 17px;
                font-size: 14px;
                span {
                  letter-spacing: 0;
                }
                &:hover {
                  border: none !important;
                }
              }
              label {
                color: var(--color-74767c);
                width: 150px;
                display: inline-flex;
                font-style: italic;
              }
            }
          }
        }
      }

      .crxEditRadioBtn {
        label {
          margin-bottom: 30px;
          .MuiButtonBase-root {
            padding: 0 13px 0 0;
            &:hover {
              background-color: var(--color-transparent);
            }
          }
          &:last-child {
            margin-bottom: 33px;
          }
        }

        .crx-Generate-pass {
          padding: 0 0 0 34px;
          display: block;
          width: 100%;
          .crxGeneratePassword {
            display: flex;
            h6 {
              width: auto;
            }
            .primary {
              margin-right: 33px;
              width: 90px;
              border: none;
            }
          }
          .crx-generate-btn {
            width: 212px;
          }
          .copyButton {
            background: none;
            color: var(--color-979797);
            border: none;
            padding: 0;
            justify-content: flex-end;
            text-align: right;
            font-size: 14px;
            color: var(--color-d74b00);
            padding-top: 4px;
            padding-bottom: 22px;
            font-family: var(--base-font-family);
            &:hover {
              background: none;
              border: none;
            }
            &:focus {
              background: none;
              border: none;
            }
          }
        }
        .MuiCheckbox-root {
          padding-left: 0;
          padding-right: 14px;
        }
        .crx-requird-check {
          label {
            width: 146px;
            display: inline-flex;
            margin-bottom: 27px;
            font-size: 14px;
          }
          .crxSelectedDark {
            color: var(--color-333333);
          }
          // .crxCheckBoxCreate  {
          //   .MuiIconButton-label {
          //     span[class*="makeStyles-icon-"] {
          //       &:hover {
          //         color:var(--color-333333) !important;
          //       }
          //     }
          //   }
          // }
        }
      }
      .crx-manually-generate-pass {
        padding: 0 0 0 35px;
        > span {
          margin: 2px 0 35px;
          display: flex !important;
        }
        h6 {
          font-size: 14px;
          display: inline-block;
          max-width: 132px;
          min-width: 132px;
          margin-right: 30px;
          .requiredLable {
            margin-bottom: 0;
            margin-right: 0;
            .inputLabelReq {
              line-height: 24px;
              margin-left: 7px;
              font-size: 20px;
              color: var(--color-333333);
            }
          }
        }
        .crx-requird-check {
          float: right;
          display: inline-flex;
          margin-top: -2px;
          label {
            margin: -2px 0 33px;
          }
          .CRXCheckBox {
            padding-top: 0;
            align-items: flex-start;
            padding-right: 13px;
          }
        }
        .crx-gente-field {
          width: 173px;
          float: right;
        }
        .errorStateContent {
          width: 224px;
          float: right;
          text-align: left;
          font-size: 14px;
          color: var(--color-aa1d1d);
          margin: 7px 0 -2px;
          line-height: 16px;
          padding: 0;
        }
      }
    }
  }
  .crxFooterEditFormBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--color-d1d2d4);
    width: 100%;
    background: var(--color-White);
    button {
      font-size: 14px;
      border-radius: 0;
      height: 30px;
      text-transform: revert;
      font-family: var(--base-font-family);
      width: 80px;
    }
    button.Mui-disabled {
      color: var(--color-979797);
      background: var(--color-e5e5e5);
      border: none;
    }

    .primary {
      background: var(--color-333333);
      color: var(--color-d1d2d4);
      margin-right: 32px;
      &:hover {
        background: var(--color-6e6e6e);
        color: var(--color-f5f5f5);
        border: 1px solid var(--color-transparent);
      }
      &:focus {
        background: var(--color-231f20);
        color: var(--color-f5f5f5);
      }
    }
    .secondary {
      border: 1px solid var(--color-878787);
      background: var(--color-White);
      color: var(--color-333333);
      box-shadow: none;
      margin: 0;
      &:hover {
        border: 1px solid var(--color-878787);
        background: var(--color-White) !important;
        color: var(--color-333333);
      }
      &:focus {
        background: var(--color-White) !important;
        color: var(--color-333333) !important;
        border: 1px solid var(--color-878787);
      }
    }
  }
  .CRXDivider {
    border: none;
    margin: 0;
    width: 100%;
    height: 1px;
    background: var(--color-d1d2d4);
  }

  .CRXPopupCrossButton {
    width: 46px;
    top: 7px;
    right: 7px;
    button {
      &:hover {
        background: var(--color-transparent);
      }
      i {
        &:hover {
          color: var(--color-333333);
        }
        &:focus {
          color: var(--color-333333);
        }
      }
    }
  }
  .modalEditCrx {
    padding-right: 11px;
    padding-top: 2px;
  }
  .CrxIndicates {
    margin-top: 2px;
    padding-bottom: 33px;
    padding-left: 0px;
    font-style: italic;
    position: sticky;
    top: 2px;
    background: var(--color-White);
    z-index: 1;
    font-size: 14px;
    sup {
      line-height: 17px;
    /* margin-right: 5px; */
    font-size: 20px;
    font-weight: var(--Font-style-bold);
    margin-top: 7px;
    position: relative;
    top: 6px;
    }
  }
}
.UserActionAlert {
  min-height: 40px !important;
}

.optionalSticky {
  position: absolute;
  background: var(--color-White);
  width: 96%;
  height: 96px;
  z-index: 1;
  content: " ";
  top: 40px;
}

.CRXContent_user {
  .crx-message-alert {
    top: 4px;
    z-index: 9999999;
    position: sticky;
  }
}

.CRXPopupCrossButton {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 46px;
  button {
    &:hover {
      background-color: var(--color-transparent);
    }
    .MuiButton-label {
      justify-content: center;
      .closeModalIconUnblock {
        font-size: 16px;
        color: var(--color-d1d2d4);
        &:hover {
          color: var(--color-333333);
        }
      }
    }
  }
}

.isExtEmail {
  input {
    outline: 2px solid var(--color-aa1d1d);
  }
}

.__set__Primary__Modal__ {
  &.__crx__Set_primary_Show {
    .crxUplockContent {
      p {
        margin-top: 10px !important;
        margin-bottom: 36px !important;
      }

      .crx-message-alert {
        display: flex;
        .CrxAlertNotificationGroup {
          max-width: 471px;
        }
      }
    }
  }
  &.__crx__Set_primary_Hide {
    .crxUplockContent {
      .crx-message-alert {
        display: none;
      }
      p {
        margin-top: 12px !important;
        margin-bottom: 40px !important;
      }
    }
  }
}
