.create_form_fields_form {
    .CRXContent {
        padding-bottom: 26px;
        .create_category_form_field_content{
            .cc_form_label{
                font-size: 14px;
                color: var(--color-333333);
                font-family: var(--base-font-family);
                span{
                    font-size: 18px;
                    position: relative;
                    font-weight: var(--Font-style-bold);
                    top: -5px;
                    &.error_staric{
                        color: var(--color-aa1d1d);
                    }
                }
            }
            .controle_type_select {
                width: 100%;
            }
            .crx_form_group_row {
                padding-bottom: 28px;
                .crx_formik_field {
                    width: 100%;
                    border:1px solid var(--color-d1d2d4);
                    outline: 2px solid transparent;
                    height: 30px;
                    border-radius: 0px;
                    text-indent: 12px;
                    color: var(--color-333333);
                    font-family:  var(--base-font-family);
                    &:hover {
                        border-color: var(--color-888787);
                    }
                    &:focus {
                        outline: 2px solid var(--color-888787);
                        border:1px solid var(--color-888787);
                    }
                }
                .errorTenantStyle {
                    color: var(--color-aa1d1d);
                    font-size: 14px;
                    font-weight: var(--Font-style-normal);
                    font-family: var(--Arial-font-family);
                    position: relative;
                    left: 0px;
                    top: 6px;
                    i{
                        margin-right: 4px;
                    }
                }
            }
        }
        .create_form_modal_footer {
            padding-top: 26px;
            border-top: 1px solid #dedede;
            .save_button_cc{
                margin-right: 30px;
            }
        }
    }
}