.CRXBucketPanel {
  .MuiDrawer-paper {
    top: 57px !important;
    background: var(--color-f5f5f5);
    overflow: visible;
    border-left: 1px solid var(--color-b7b8b9);
    box-shadow: -2px 5px 5px var(--color-00000029);
    width: 479px;
    padding: 7px 3px 5px;
    border-bottom: 4px var(--color-d74b00) solid;
    height: calc(100% - 60px);
    display: block;
    opacity: 1;
  }

  .bucketPanelTitle {
    text-align: left;
    font-size: 18px;
    color: var(--color-333333);
    padding-top: 4px;
  }

  .uploadContent {
    border: 1px dotted var(--color-333333);
    padding: 6px 8px;
    background: var(--color-White-1);
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-top: 31px;
    margin-bottom: 15px;
    height: 48px;
    place-items: center;

    .iconArea {
      font-size: 18px;
      color: var(--color-666666);
      position: relative;
      left: 4px;
    }

    .textArea {
      font-size: 12px;
      color: var(--color-666666);
      line-height: 14px;
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;

      b {
        color: var(--color-333333);
        font-weight: bold;
      }

      .textFileBrowser {
        color: var(--color-c34400);
        padding-left: 0px;
      }
    }
  }

  .bucketContent {
    text-align: center;
    padding-top: 49%;
    color: var(--color-333333);
    font-size: 14px;
  }

  .bucketViewLink {
    text-align: right;
    padding-top: 42px;
    padding-bottom: 13px;
    color: var(--color-c34400);
    font-size: 14px;
    font-weight: var(--Font-style-normal);
    position: relative;

    .bucketListCheckedAll {
      position: absolute;
      left: 0px;
      bottom: 6px;
    }

    .selectAllText {
      position: absolute;
      left: 53px;
      bottom: 14px;
      color: var(--color-333333);
    }
  }

  .topColumn {
    color: var(--color-d1d2d4);
    position: relative;
    top: 0px;

    &:hover {
      color: var(--color-333333);
      cursor: pointer;
    }

    &:focus {
      color: var(--color-333333);
      cursor: pointer;
    }
  }

  .divMainBucket {
    height: 100%;
    padding: 0px 18px !important;

    border: 2px solid var(--color-transparent);
    border-image-source: url(../../../Assets/Images/borderImage01.png);
    border-image-slice: 7 5;
    border-image-width: 0px;
    border-image-repeat: repeat;
    overflow-y: auto;
    overflow-x: hidden;

    #lightBgContent {
      background: var(--color-White);
      opacity: 0.5;
      width: calc(100% - 16px);
      height: calc(100% - 14px);
      position: absolute;
      top: 7px;
      left: 8px;
    }

    .uploading-text {
      text-align: left;
      font-size: 16px;
      font-family: var(--base-font-family);
      color: var(--color-333333);
      margin-bottom: 15px;
    }

    .crxProgressbarBucket {
      text-align: left;
      margin-bottom: 10px;
      width: 94.5%;

      &.mainProgressBar {
        .crx-progress-br {
          .loader {
            .loadingIcon {
              &.assetsLoadingBarIcon {
                top: 0px;
              }
            }
          }
        }
      }
    }

    .bucketScroll {
      // overflow-y: auto;
      // height: calc(100% - 210px);

    }
  }

  .bucketMessageHide {
    display: none;
  }

  .bucketMessageShow {
    display: block;
  }

  .MuiButton-containedPrimary {
    padding: 0px 12px;
    font-size: 12px;
    box-shadow: none;
    height: 22px;
    min-height: 22px;

    &:hover {
      box-shadow: none;

      span {
        color: var(--color-f5f5f5) !important;
      }
    }

    &:focus {
      box-shadow: none;

      span {
        color: var(--color-f5f5f5) !important;
      }
    }

    span {
      color: var(--color-d1d2d4) !important;
      font-size: 12px;
      font-family: var(--base-font-family);
      font-weight: normal !important;
      text-transform: none !important;
    }
  }
}

.crxBucketPanelStyle {
  .topColumn {
    i {
      color: var(--color-d1d2d4);
      font-size: 16px;

      &:hover {
        color: var(--color-333333);
      }
    }
  }
}

.bucketIcon {
  color: var(--color-d1d2d4);
  font-size: 18px !important;
  position: relative;

  &.crxTooltipAll {
    font-size: 14px !important;
    top: 3px;
  }
}

.crxSearchTooltip {
  &.crxTooltipAll {
    margin-left: -33px;
  }
}

.crxTooltipNotificationIcon {
  &.crxTooltipAll {
    margin-left: -42px;
  }
  text-transform: lowercase;
}

.bucketIconButton {
  padding: 2px 0px 4px 13px !important;
  line-height: 0px !important;
  width: 59px !important;
  border-radius: 0px !important;
  justify-content: left !important;
  top: 4px;
}

.bucketIconButton:hover,
.bucketIconButton:focus {
  position: relative;

  .bucketIcon {
    color: var(--color-333333);
  }
}

.bucketIconButton:after {
  position: absolute;
  background: var(--color-555555);
  width: 2px;
  height: 18px;
  top: 5px;
  right: -2px;
  content: "";
}

.bucketDataTable {
  overflow-y: auto !important;
  max-height: calc(73vh - 55px);
  overflow-x: hidden !important;

  &.hideScroll {
    overflow-y: hidden;

    table {
      display: inline-table !important;
    }
  }

  // &::before {
  //   content: "";
  //   background: var(--color-333333);
  //   width: 18px;
  //   right: 0;
  //   height: 92px;
  //   z-index: 3;
  //   position: absolute;
  // }
  // &::after {
  //   content: "";
  //   background: var(--color-ccc);
  //   width: 21px;
  //   top: 62px;
  //   right: 0;
  //   height: 1px;
  //   z-index: 3;
  //   position: absolute;
  // }
  .centerPosition {
    padding-left: 0;
    width: 116px;
    min-width: 116px;
    padding-right: 0;
  }

  th[class*="MuiTableCell-sizeSmall-"] {
    padding: 0;
  }

  table {
    &.CRXDataTableCustom {
      min-height: 180px;
      overflow: hidden;
      display: table;
    }

    tr {
      td {
        &:nth-child(2) {
          z-index: 3;
        }

        ul {
          &:first-child {
            left: 86px !important;
          }
        }
      }
    }
  }

  .crx-icon-filter {
    width: 100%;
    margin: auto;
    border: 1px solid var(--color-888787);
    background: var(--color-404041);

    button {
      margin: 0 10px !important;
      padding: 0;
    }
  }

  .Autocomplete_multi {
    .crx-getac-dropdown {
      position: inherit;

      // top: 14px;
      .selectBoxTextField {
        div[class*="MuiInputBase-adornedEnd-"] {
          &::after {
            border: transparent;
          }
        }
      }
    }
  }

  .getac-simple-select {
    .selectBoxTextFieldAssets {
      width: 107px !important;
    }
  }

  .crx-getac-dropdown {
    div[class*="MuiInputBase-adornedEnd-"] {

      // width: 142px;
      &::before {
        position: absolute;
        top: 20px;
        border: none;
      }
    }

    div[class*="MuiAutocomplete-endAdornment-"] {
      top: 3px;
      right: 7px;
      width: 100%;
      text-align: right;

      button {
        div[class*="MuiTouchRipple-root-"] {
          display: none;
        }
      }
    }

    &.openAutoMulti {
      position: relative;
      top: 12px;

      &::before {
        height: 24px;
        position: absolute;
        border: 2px solid var(--color-White);
        left: 0px;
        top: 0px;
        content: "";
        width: 96%;
      }

      .selectBoxTextField {
        div[class*="MuiInputBase-root-"] {
          position: absolute;
          top: 29px;
          background: var(--color-404041);
          padding: 13.5px 15px 13.5px 17px !important;
          border: none;

          &::before {
            position: absolute;
            top: 8px;
            background: var(--color-d1d2d4);
            border: 1px solid var(--color-888787);
            content: "";
            width: calc(100% - 20px);
            left: 10px;
            height: calc(100% - 18px);
          }

          &::after {
            border: none;
          }

          input {
            padding: 0;
          }

          div[class*="MuiChip-root-"] {
            svg {
              width: 13px;
              height: 17px;
              margin-left: 7px;
              color: var(--color-d1d2d4);
              margin-right: 7px;
              font-size: 14px;
              stroke: var(--color-d1d2d4);
              stroke-width: 2px;
            }
          }
        }
      }

      div[class*="MuiAutocomplete-endAdornment-"] {
        top: 2px;
        right: 2px;
        width: 100%;
        text-align: right;

        button[class*="MuiAutocomplete-popupIndicator-"] {
          width: 0px !important;
          position: absolute;
          top: -28px;
          right: 10.2px;
          text-align: right;
        }
      }
    }

    &.Mui-focused {
      position: relative !important;

      &::before {
        height: 24px;
        position: absolute;
        border: 2px solid var(--color-White);
        left: 0px;
        top: 0px;
        content: "";
        width: 96%;
      }

      div[class*="MuiInputBase-adornedEnd-"] {
        width: 100%;
        background: var(--color-d1d2d4);
        border: 1px solid var(--color-888787);
        top: 27px;
      }

      div[class*="MuiAutocomplete-endAdornment-"] {
        top: 2px;
        right: 5px;
        width: 100%;
        text-align: right;

        button[class*="MuiAutocomplete-popupIndicator-"] {
          width: 0px !important;
          position: absolute;
          top: -28px;
          right: 8.2px;
          text-align: right;
        }
      }

      .selectBoxTextField {
        div[class*="MuiInputBase-root-"] {
          position: absolute;
          top: 29px;
          background: var(--color-404041);
          padding: 13.5px 15px 13.5px 17px !important;
          border: none;

          input {
            position: relative;
            z-index: 1;
            padding: 0;
          }

          &::before {
            position: absolute;
            top: 8px;
            background: var(--color-d1d2d4);
            border: 1px solid var(--color-888787);
            content: "";
            width: calc(100% - 20px);
            left: 10px;
            height: calc(100% - 18px);
          }

          div[class*="MuiChip-root-"] {
            svg {
              width: 13px;
              height: 17px;
              margin-left: 7px;
              color: var(--color-d1d2d4);
              margin-right: 7px;
              font-size: 14px;
              stroke: var(--color-d1d2d4);
              stroke-width: 2px;
            }
          }
        }
      }
    }
  }

  table {
    tr {
      &:hover {
        td {
          .rc-menu-button {
            &:hover {
              color: var(--color-d1d2d4) !important;
            }
          }
        }
      }

      td {
        &:first-child {
          background-color: var(--color-White);
          padding-right: 9px !important;

          &:hover {
            background: var(--color-404041);
            border: none !important;
            border-right: 1px solid var(--color-ccc) !important;
            border-bottom: 1px solid var(--color-ccc) !important;
          }
        }

        &.col-two {
          left: 0px;
          position: static !important;
        }

        &.col-three {
          left: 60px;
          position: static;
        }
      }

      th {
        &.CRXDataTableLabelCell {
          &:first-child {
            left: 0px !important;
          }

          &:nth-child(2) {
            left: 58px !important;
          }
        }

        &.TableSearchAbleHead {
          &:first-child {
            left: 0px !important;
          }

          &:nth-child(2) {
            left: 58px !important;
          }
        }
      }

      th:nth-child(4) {
        padding: 0px 20px 0 !important;
        z-index: 1 !important;
        min-width: 143px;
      }

      th:nth-child(5) {
        padding: 0px 16px 0 16px !important;
        min-width: 80px !important;

        .gridSortResize {
          right: 4px;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 14px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0px;
    margin-left: 0px;
    border-right: 0px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--color-c8c8c8);
    outline: 0px solid var(--color-slategrey);
    border: 2px solid var(--color-black-3);
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: var(--color-f1f1f1);
    border: 1px solid var(--color-d1d2d4) !important;
    border-right: 0px;
    border-left: 0px;
  }

  &::-webkit-scrollbar-button:vertical:decrement {
    width: 30px;
    height: 107px;
    border: 0px solid var(--color-transparent);
    background: url("../../../Assets/Images/scrollBarVerTop.jpg") no-repeat center center;
    background-size: contain;
    background-clip: border-box;
    position: relative;
    background-position: 0 91px !important;
    top: 0 !important;
  }

  &::-webkit-scrollbar-button:vertical:increment {
    width: 50px;
    height: 45px;
    border: 1px solid var(--color-d1d2d4);
    background: url("../../../Assets/Images/scrollVerBottom.png") no-repeat center top var(--color-f1f1f1);
    background-size: contain;
    background-clip: border-box;
    position: relative;
    background-position: 0 0 !important;
    left: 0 !important;
  }

  &::-webkit-scrollbar:vertical {
    display: block !important;
  }

  table {
    tr.Mui-selected:nth-child(even) td[scope="row"]:first-child {
      background-color: var(--color-231f20) !important;
    }

    tr.Mui-selected:nth-child(odd) td.DataTableBodyCell[scope="row"]:first-child {
      background-color: var(--color-231f20);
    }

    tr.Mui-selected:nth-child(even) td[scope="row"]:hover {
      background: var(--color-333333) !important;
    }

    tbody tr td:first-child {
      background: var(--color-White);
    }

    tbody tr:nth-child(even) td:first-child {
      background: var(--color-f2f2f2);

      .fal {
        position: relative;

        &::after {
          content: "";
          color: var(--color-White);
          left: 0;
          position: absolute;
          font-family: "Font Awesome 5 Duotone";
          font-weight: 900;
          right: 0;
          top: 0px;
        }

        &.crxCheckForDarBg {
          &::after {
            color: var(--color-transparent);
          }
        }
      }
    }

    tbody tr:nth-child(even) td:nth-child(2) {
      background: var(--color-F2F2F2);
    }

    tr.Mui-selected:hover td[scope="row"]:not(:first-child) {
      background: var(--color-333333) !important;
    }

    tr td:first-child {
      background: var(--color-White);
    }
  }

  .autocompleteSpacer+.Autocomplete_multi {
    top: -42px !important;
  }

  table {
    thead {
      tr {
        th {
          left: 0px !important;
        }
      }
    }

    tbody {
      tr {
        td {
          left: 0px !important;
        }
      }

      .SelectedActionMenu {
        td:nth-child(2) {
          background-color: var(--color-333333) !important;
          color: var(--color-d1d2d4) !important;
        }

        .rc-menu-button {
          color: var(--color-d1d2d4);
        }
      }
    }
  }
}

.divMainBucket {
  .dataTablePages {
    position: fixed;
    overflow: hidden;
    right: 0;
    bottom: 6px;
    height: 44px;
    width: 474px;
    z-index: 4;
    padding-right: 19px !important;
    background: var(--color-f5f5f5);

    div[class*="MuiTablePagination-toolbar-"] {
      min-height: 100%;
    }
  }
}

.CRXAppBar {
  padding-right: 0px !important;
}

body {
  overflow: visible !important;
  padding-right: 0 !important;
}

#divMainBucket>.MuiGrid-item {
  position: relative;
}

@media only screen and (max-width: 1366px),
(max-height: 768px) {
  .bucketDataTable {
    max-height: calc(49vh + 25px);
  }

  .bucketDataTable.crxMessageShow {
    height: calc(42vh + 0px);
  }
}

.bucketDataTable.crxMessageShow {
  max-height: calc(73vh - 110px);
}

.crxAccordionBucket {
  border: 1px solid #d1d2d4 !important;

  .MuiTypography-root {
    font-size: 14px;
    position: relative;
    top: 1px;
    padding-left: 15px;
  }

  .MuiAccordionSummary-root {
    height: 36px !important;
    min-height: 36px;

    &.Mui-expanded {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .Mui-expanded {
    min-height: 36px !important;
    place-items: center;
  }

  .MuiButtonBase-root {
    padding-left: 15px;
    padding-right: 15px;

    .MuiIconButton-label {
      .fa-chevron-right {
        font-size: 14px;
        position: relative;
        top: 1px;
      }
    }
  }

  .MuiAccordionDetails-root {
    display: block;
    padding-top: 30px;

    .crxProgressbarBucket {
      width: 93%;
      text-align: left;
      padding: 20px 0;
      position: relative;

      .loader {
        // .MuiLinearProgress-root {
        //   width: 80%;
        // }
      }

      &:first-child {
        padding: 0;
      }

      .cencel-loading {
        button {
          background: transparent;
          border: 0px;
          position: relative;
          top: 1px;
          right: 33px;

          i {
            font-style: normal;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.btn-center {
  margin: 0 auto;
  text-align: left;
  margin-top: 13px;
  margin-bottom: 4px;
  position: relative;
  right: 58px;
}

.file-upload-hide {
  display: none !important;
}

.file-upload-show {
  display: block !important;

  .file-upload {
    place-items: initial;
    padding: 10px 14px 10px 15px;
    max-height: 100%;
  }


  .MuiAlert-message {
    span {
      display: flex;

      span {
        padding-right: 0px;
      }

      .check {
        .attentionPera {
          padding-left: 3px;
        }
      }
    }
  }
}

.add-metadata-window {
  .metaData-Station-Parent {
    padding-top: 41px;

    .CrxCreateUser {
      margin-bottom: 35px;

      .CrxIndicates {
        margin: 0;
        position: absolute;
        top: 70px;
        width: 100%;
        padding-top: 13px;
        height: 49px;
      }
    }

    padding-top: 45px;

    .metaData-station {
      margin-bottom: 32px;

      .metaData-inner {
        display: flex;

        font-size: 14px;
        color: #333333;
        font-family: "Helvetica", "Arial", sans-serif;

        label {
          font-size: 14px;
          color: #333333;
          font-family: "Helvetica", "Arial", sans-serif;

          span {
            line-height: 24px;
            margin-left: 5px;
            font-size: 20px;
            font-weight: bold;
            color: #333333;
          }
        }

        .metaData-Station-Select_ui_field {
           width: 100% !important; 
        }
        .metaData-Station-Select {
          width: 100%;

          .MuiSelect-select {
            color: var(--color-74767c);
          }
        }

        &.gepAddClass {
          .metaData-Station-Select {
            .MuiSelect-select {
              color: var(--color-333333);
            }
          }
        }

        .__CrX_Station__metaData__ {
            width: 380px;
            margin-left: 7px;
          .crxDropdownValidationError {
            color: var(--color-aa1d1d);
            margin-top: 3px;

            i {
              font-size: 12px;
            }
          }
        }
      }

      &.__Crx_MetaData__Station_Error {
        margin-bottom: 30px;

        label {
          span {
            color: var(--color-aa1d1d);
          }
        }

        .__CrX_Station__metaData__ {
          .metaData-Station-Select {
            outline: 2px solid var(--color-aa1d1d) !important;
            border: 1px solid var(--color-transparent);

            &:hover {
              border: 1px solid #888787;
              outline: none;
              transition: all 0.25s ease-in-out;
            }
          }
        }
      }
    }

    .metaData-masterAsset {
      margin-bottom: 32px;
      margin-top: 69px;
      font-size: 14px;
      color: #333333;
      font-family: "Helvetica", "Arial", sans-serif;

      .metaData-inner-masterAsset {
        display: flex;
        margin-top: 67px;
        align-items: center;
        font-size: 14px;
        color: #333333;
        font-family: "Helvetica", "Arial", sans-serif;

        label {
          font-size: 14px;
          color: #333333;
          font-family: "Helvetica", "Arial", sans-serif;

          span {
            line-height: 24px;
            margin-left: 5px;
            font-size: 20px;
            font-weight: bold;
            color: #333333;
          }
        }

        .metaData-Station-Select {
          width: 380px;
          margin-left: 7px;
        }
      }
    }

    .metaData-category {
      display: flex;
      margin-bottom: 32px;
      flex: 1;
      >span {
        width: 130px;
        font-size: 14px;
        color: #333333;
        font-family: "Helvetica", "Arial", sans-serif;
      }

      .requiredLable {
        width: 130px;
        font-size: 14px;
        color: #333333;
        font-family: "Helvetica", "Arial", sans-serif;

        span {
          line-height: 24px;
          margin-left: 5px;
          font-size: 20px;
          font-weight: bold;
          color: #333333;
        }
      }

      input {
        color: var(--color-333333);

        &::-webkit-input-placeholder {
          /* Edge */
          color: var(--color-74767c);
          opacity: 1;
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: var(--color-74767c);
          opacity: 1;
        }

        &::placeholder {
          color: var(--color-74767c);
          opacity: 1;
        }
      }

      .MuiIconButton-label {
        margin: 0;
      }

      .MuiFilledInput-adornedStart {
        input {
          &::placeholder {
            width: 0;
          }
        }
      }

      .crx_MultiSelectBoxLight {
        width: 380px;
      }
    }
    .metaDataModalFooter {
      .saveBtn {
        margin-right: 25px;
      }
    }
  }
  .label_Select_ui_field {
    width: 138px;
  }
  .masterAsset_label_ui {
    width: 138px;

  }

  .CRXContent_user {
    &::-webkit-scrollbar-button:vertical:increment {
      height: 15px;
    }
  }

  &.__Add__MetaData__Window__ {

    .__crx__Set_MetaData_Hide {
      display: none !important;
    }

    .__crx__Set_MetaData_Show {
      display: block !important;
    }

    .metaData-category {
      place-content: space-between;

      &.__metaData__Category__ {
        margin-bottom: 79px;
      }

      .requiredLable {
        span {
          margin-left: 0 !important;
        }
      }

      h6 {
        width: 135px;
      }

      p {
        margin-left: -7px;

        .crxDropdownValidationError {
          color: var(--color-aa1d1d);
          line-height: 20px;

          i {
            font-size: 12px;
          }
        }
      }

      &.__Crx_MetaData__Station_Error {
        margin-bottom: 52px;

        .requiredLable {
          span {
            color: var(--color-aa1d1d);
          }
        }
      }
    }

    .CRXContent_user {
      &::-webkit-scrollbar-button:vertical:increment {
        height: 88px !important;
      }
     
    }

 

    .__CRX__Asset_MetaData__Form__ {
      margin: -6px 0 80px 0;

      .__Crx__Choose_Asset__MetaData__ {
        margin-bottom: 55px;

        h4 {
          font-size: 14px;
          color: var(--color-333333);
          font-weight: bold;
          margin-bottom: 26px;

        }

        h6 {
          font-size: 14px;
          display: none;
        }

        .__CRX__Asset__MetaData__Field {
          margin-bottom: 28px;

          .gridFilterTextBox {
            padding: 0;
          }
        }
      }

      .dailogFormHeading {
        padding-top: 0;
      }
    }

    .optionalSticky {
      height: 30px;
    }
  }
}

.crxUplockContent {
  .uploadCancelText {
    padding-top: 12px;
    font-size: 14px;
    word-break:break-word;
    color: #333333;
  }

  .uploadCancelBottom {
    position: relative;
    top: 29px;
    font-size: 14px;
    color: #333333;
  }

  &.__CRX__Uploading__Content {
    .uploadCancelBottom {
      position: inherit;
      margin-top: 34px;
      margin-bottom: 39px;
    }
  }
}

#assetBucketLists {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding-top: 20px;

  // overflow-y: auto;
  // max-height: calc(100% - 210px);
  .bucketLister {
    display: flex;
    flex: 1 1;

    place-items: center;
    margin-bottom: 20px;

    .bucketThumb {
      margin: 0 20px;
      flex: 110px;
    }

    .bucketListTextData {
      text-align: left;
      flex: 250px;
      font-size: 14px;

      .bucketListAssetName {
        color: var(--color-333333);
        font-family: var(--App-font-family);
        font-size: 14px;
      }

      .bucketListRec {
        color: var(--color-333333);
        font-family: var(--App-font-family);
        font-size: 14px;
      }
    }

    .bucketActionMenu {
      .rc-menu-button {
        background: transparent;
        border: 0px;
        font-size: 23px;
        width: 40px;
        padding: 5px 0px;
        color: var(--color-333333);

        &.rc-menu-button--open {
          background: #333333;
          color: #d1d2d4;
        }
      }
    }

    .assetCheck {
      flex: 30px;
    }
  }
}

// .toasterMsg{
//   margin-top: 45px !important;
// }

.errorBadge {
  position: relative;

  span {
    position: absolute;
    padding: 0 6px;
    height: 13px;
    border-radius: 5px;
    line-height: 12px;
    color: var(--color-White);
    top: 0px;
    right: -13px;
    border: 1px solid var(--color-4c4c4d);
    background-color: var(--color-d74b00);
    font-size: 11px;
  }
}

.offline {
  color: (var(--color-d1d2d4));
  float: right
}

.online {
  color: green;
  float: right
}

.__Crx__Choose_Asset__MetaData__{
  .CBX-input {
    input{
      width: 100% !important;
      border: none;
    }
    .errorStyle{
      color: var(--color-aa1d1d);
      margin-top: 5px;
      height : 18px;
      font-size:14px;
      i {
        margin-right: 5px;
      }
      span {
          text-transform: capitalize;
      }
    }
    .errorBrdr {
      outline: 1px solid var(--color-aa1d1d);
    }
  }
}
// .cancelBtn{
//   margin-left: 33px;
// }
.skipButton{
    position: absolute;
    right: 0;
    height: 30px;
    border: 1px solid var(--color-transparent);
    position: relative;
    margin-right: 0px;
    left: 69px;
    font-size: 14px;
    font-weight: var(--Font-style-normal);
    font-family: var(--base-font-family);
    &:hover{
      background: var(--color-f5f5f5) !important;
      color: var(--color-333333);
      border: 1px solid var(--color-333333);
      font-size: 14px;
    }
}

#bucket_tooltip_asset_1 {
text-transform: lowercase;
}
#bucket_tooltip_asset_2 {
  text-transform: lowercase;
}

.popover_master_asset {
  z-index: 13001 !important;
}


  .bucketIcon_tooltip {
    color: var(--color-d1d2d4) !important;
    text-transform: lowercase !important;
  } 