.CRXBucketPanel {
  .MuiDrawer-paper {
    top: 57px !important;
    background: #f5f5f5;
    overflow: visible;
    border-left: 1px solid #b7b8b9;
    box-shadow: -2px 0px 5px #00000029;
    width: 479px;
    padding: 7px 3px 5px;
    border-bottom: 4px #d74b00 solid;
    height: calc(100% - 60px);
    display: block;
    opacity: 1;
  }
  .bucketPanelTitle {
    text-align: left;
    font-size: 18px;
    color: #333;
    padding-top: 4px;
  }

  .uploadContent {
    border: 1px dotted #333;
    padding: 6px 8px;
    background: rgba(250, 250, 250, 0.9);
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-top: 40px;
    // width: 425px;
    height: 48px;
    place-items: center;
    .iconArea {
      font-size: 18px;
      color: #666;
      position: relative;
      left: 4px;
    }
    .textArea {
      font-size: 12px;
      color: #666;
      line-height: 14px;
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;
      b {
        color: #333;
        font-weight: bold;
      }
      .textFileBrowser {
        color: #c34400;
        padding-left: 0px;
      }
    }
  }

  .bucketContent {
    text-align: center;
    padding-top: 51%;
    color: #333333;
    font-size: 14px;
  }
  .bucketViewLink {
    text-align: right;
    padding-top: 42px;
    padding-bottom: 13px;
    color: #c34400;
    font-size: 14px;
    font-weight: normal;
  }
  .topColumn {
    color: #d1d2d4;
    position: relative;
    top: 0px;
    &:hover {
      color: #333333;
      cursor: pointer;
    }
    &:focus {
      color: #333333;
      cursor: pointer;
    }
  }

  .divMainBucket {
    height: 100%;
    padding: 0px 18px !important;

    border: 2px solid transparent;
    border-image-source: url(../../../Assets/Images/borderImage01.png);
    border-image-slice: 7 5;
    border-image-width: 0px;
    border-image-repeat: repeat;

    &:before {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #f5f5f5;
      position: absolute;
      right: 112px;
      top: -7px;
      content: " ";
    }

    #lightBgContent {
      background: #fff;
      opacity: 0.5;
      width: calc(100% - 16px);
      height: calc(100% - 14px);
      position: absolute;
      top: 7px;
      left: 8px;
    }
  }

  .bucketMessageHide {
    display: none;
  }
  .bucketMessageShow {
    display: block;
  }
}
.crxBucketPanelStyle {
  .topColumn {
    i {
      color: #d1d2d4;
      font-size: 16px;
      &:hover {
        color: #333333;
      }
    }
  }
}
.bucketIcon {
  color: #d1d2d4;
  font-size: 18px !important;
}

.bucketIconButton {
  padding: 4px 0px 4px 13px !important;
  line-height: 0px !important;
  width: 59px !important;
  border-radius: 0px !important;
  justify-content: left !important;
}

.bucketIconButton:hover,
.bucketIconButton:focus {
  background-color: #1d1c1c !important;
  position: relative;
}

.bucketIconButton:after {
  position: absolute;
  background: #555;
  width: 2px;
  height: 18px;
  top: 5px;
  right: 0px;
  content: "";
}

.bucketDataTable {
  overflow-y: auto;
  max-height: calc(73vh - 55px);
  overflow-x: hidden !important;
  &.hideScroll {
    overflow-y: hidden;
    table {
      display: inline-table !important;
    }
  }
  &::before {
    content: "";
    background: #333;
    width: 16px;
    right: 1px;
    height: 92px;
    position: absolute;
  }
  &::after {
    content: "";
    background: #ccc;
    width: 17px;
    top: 36px;
    right: 0;
    height: 1px;
    position: absolute;
  }
  .centerPosition {
    padding-left: 0;
    width: 116px;
    padding-right: 0;
  }
  th[class*="MuiTableCell-sizeSmall-"] {
    padding: 0 12px;
  }
  table {
    &.CRXDataTableCustom {
      min-height: 180px;
      overflow: hidden;
      display: initial;
    }
    tr {
      td {
        &:nth-child(2) {
          z-index: 3;
        }
        ul {
          &:first-child {
            left: 86px !important;
          }
        }
      }
    }
  }
  .crx-icon-filter {
    width: 100%;
    margin: auto;
    border: 1px solid #888787;
    background: #404041;
    button {
      margin: 0 10px !important;
      padding: 0;
    }
  }
  .Autocomplete_multi {
    .crx-getac-dropdown {
      position: inherit;
      // top: 14px;
      .selectBoxTextField {
        div[class*="MuiInputBase-adornedEnd-"] {
          &::after {
            border: transparent;
          }
        }
      }
    }
  }

  .getac-simple-select {
    .selectBoxTextFieldAssets {
      width: 107px !important;
    }
  }

  .crx-getac-dropdown {
    div[class*="MuiInputBase-adornedEnd-"] {
      // width: 142px;
      &::before {
        position: absolute;
        top: 20px;
        border: none;
      }
    }
    div[class*="MuiAutocomplete-endAdornment-"] {
      top: 3px;
      right: 7px;
      width: 100%;
      text-align: right;
    }
    &.openAutoMulti {
      position: relative;
      top: 12px;
      &::before {
        height: 24px;
        position: absolute;
        border: 2px solid #fff;
        left: 0px;
        top: 0px;
        content: "";
        width: 98%;
      }
      .selectBoxTextField {
        div[class*="MuiInputBase-root-"] {
          position: absolute;
          top: 29px;
          background: #404041;
          padding: 13.5px 15px 13.5px 17px !important;
          border: none;
          &::before {
            position: absolute;
            top: 8px;
            background: #d1d2d4;
            border: 1px solid #888787;
            content: "";
            width: calc(100% - 20px);
            left: 10px;
            height: calc(100% - 18px);
          }
          &::after {
            border: none;
          }
          input {
            padding: 0;
          }
          div[class*="MuiChip-root-"] {
            svg {
              width: 13px;
              height: 17px;
              margin-left: 7px;
              color: #d1d2d4;
              margin-right: 7px;
              font-size: 14px;
              stroke: #d1d2d4;
              stroke-width: 2px;
            }
          }
        }
      }
      div[class*="MuiAutocomplete-endAdornment-"] {
        top: 2px;
        right: 2px;
        width: 100%;
        text-align: right;
        button[class*="MuiAutocomplete-popupIndicator-"] {
          width: 0px !important;
          position: absolute;
          top: -28px;
          right: 10.2px;
          text-align: right;
        }
      }
    }
    &.Mui-focused {
      position: relative !important;
      &::before {
        height: 24px;
        position: absolute;
        border: 2px solid #fff;
        left: 0px;
        top: 0px;
        content: "";
        width: 98%;
      }
      div[class*="MuiInputBase-adornedEnd-"] {
        width: 116px;
        background: #d1d2d4;
        border: 1px solid #888787;
        top: 27px;
      }
      div[class*="MuiAutocomplete-endAdornment-"] {
        top: 2px;
        right: 5px;
        width: 100%;
        text-align: right;

        button[class*="MuiAutocomplete-popupIndicator-"] {
          width: 0px !important;
          position: absolute;
          top: -28px;
          right: 10.2px;
          text-align: right;
        }
      }
      .selectBoxTextField {
        div[class*="MuiInputBase-root-"] {
          position: absolute;
          top: 29px;
          background: #404041;
          padding: 13.5px 15px 13.5px 17px !important;
          border: none;
          input {
            position: relative;
            z-index: 1;
            padding: 0;
          }
          &::before {
            position: absolute;
            top: 8px;
            background: #d1d2d4;
            border: 1px solid #888787;
            content: "";
            width: calc(100% - 20px);
            left: 10px;
            height: calc(100% - 18px);
          }
          div[class*="MuiChip-root-"] {
            svg {
              width: 13px;
              height: 17px;
              margin-left: 7px;
              color: #d1d2d4;
              margin-right: 7px;
              font-size: 14px;
              stroke: #d1d2d4;
              stroke-width: 2px;
            }
          }
        }
      }
    }
  }

  table {
    tr {
      &:hover {
        td {
          .rc-menu-button {
            &:hover {
              color: #d1d2d4 !important;
            }
          }
        }
      }

      td {
        &:first-child {
          background-color: #fff;
          padding-right: 9px !important;
          &:hover {
            background: #404041;
            border: none !important;
            border-right: 1px solid #ccc !important;
            border-bottom: 1px solid #ccc !important;
          }
        }
      }
      th:nth-child(4) {
        padding: 0px 20px 0 !important;
      }
      th:nth-child(5) {
        padding: 0px 16px 0 15px !important;
        .gridSortResize {
          right: 4px;
        }
      }
    }
  }
  &::-webkit-scrollbar {
    width: 1em;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0px;
    margin-left: 0px;
    border-right: 0px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #c8c8c8;
    outline: 0px solid slategrey;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #f1f1f1;
    border: 1px solid #d1d2d4 !important;
    border-right: 0px;
    border-left: 0px;
  }

  &::-webkit-scrollbar-button:vertical:decrement {
    width: 30px;
    height: 107px;
    border: 0px solid transparent;
    background: url("../../../Assets/Images/scrollBarVerTop.jpg") no-repeat
      center center;
    background-size: contain;
    background-clip: border-box;
    position: relative;
    background-position: 0 90.3px !important;
    top: 0 !important;
  }

  &::-webkit-scrollbar-button:vertical:increment {
    width: 50px;
    height: 25px;
    border: 1px solid #d1d2d4;
    background: url("../../../Assets/Images/scrollVerBottom.png") no-repeat
      center top #f1f1f1;
    background-size: contain;
    background-clip: border-box;
    position: relative;
    background-position: 0 0 !important;
    left: 0 !important;
  }

  &::-webkit-scrollbar:vertical {
    display: block !important;
  }
  table {
    tr.Mui-selected:nth-child(even) td[scope="row"]:first-child {
      background-color: #231f20 !important;
    }
    tr.Mui-selected:nth-child(odd)
      td.DataTableBodyCell[scope="row"]:first-child {
      background-color: #231f20;
    }

    tr.Mui-selected:nth-child(even) td[scope="row"]:hover {
      background: #333333 !important;
    }
    tbody tr td:first-child {
      background: #fff;
    }
    tbody tr:nth-child(even) td:first-child {
      background: #f2f2f2;
      .fal {
        position: relative;
        &::after {
          content: "ïƒˆ";
          color: #fff;
          left: 0;
          position: absolute;
          font-family: "Font Awesome 5 Duotone";
          font-weight: 900;
          right: 0;
          top: 0px;
        }
        &.crxCheckForDarBg {
          &::after {
            color: transparent;
          }
        }
      }
    }
    tbody tr:nth-child(even) td:nth-child(2) {
      background: #f2f2f2;
    }
    tr.Mui-selected:hover td[scope="row"]:not(:first-child) {
      background: #333333 !important;
    }
    tr td:first-child {
      background: #fff;
    }
  }
  .autocompleteSpacer + .Autocomplete_multi {
    top: -42px !important;
  }

  table {
    thead {
      tr {
        th {
          left: 0px !important;
        }
      }
    }

    tbody {
      tr {
        td {
          left: 0px !important;
        }
      }

      .SelectedActionMenu {
        td:nth-child(2) {
          background-color: #333 !important;
          color: #d1d2d4 !important;
        }
        .rc-menu-button {
          color: #d1d2d4;
        }
      }
    }
  }
}
.divMainBucket {
  .dataTablePages {
    position: fixed;
    overflow: hidden;
    right: 0;
    bottom: 6px;
    height: 44px;
    width: 474px;
    z-index: 4;
    padding-right: 19px !important;
    background: #f5f5f5;
    div[class*="MuiTablePagination-toolbar-"] {
      min-height: 100%;
    }
  }
}
.CRXAppBar {
  padding-right: 0px !important;
}
body {
  overflow: visible !important;
  padding-right: 0 !important;
}
#divMainBucket > .MuiGrid-item {
  position: relative;
}

@media only screen and (max-width: 1366px), (max-height: 768px) {
  .bucketDataTable {
    max-height: calc(49vh + 25px);
  }
  .bucketDataTable.crxMessageShow {
    height: calc(42vh + 0px);
  }
}
.bucketDataTable.crxMessageShow {
  max-height: calc(73vh - 110px);
}
.crxAccordionBucket {
.MuiAccordionDetails-root {
  display: block;
  padding-top: 30px;
  .crxProgressbarBucket {width: 100%;text-align: left;
    padding:  20px 0;
  &:first-child {
    padding: 0;
  }
  }

}
}

.btn-center{
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.crx-alert-notification.file-upload {
  place-items: initial;
  padding: 10px 15px;
  max-height: 100%;
}

.file-upload-hide{
  display: none !important;
}
.file-upload-show{
  display: block !important;
}
