.dateTimeLabel {
    font-size: 14px;
    color:#333333;
    padding:0px 0 0 14px;
    margin:0px;
    padding-bottom:11px;
    display: block;
    font-family: Arial;
  }

  
  .iconContent {
    position: absolute;
    top: 1px;
    right: 14px;

    .dateRangeButton {
      font-size: 18px;
    }

    .CRXDateRange {
      position: absolute;
      right: 3px;
      z-index: 9;
      top: 32px;
      height: 350px;
      padding: 0px;
    }

    .paperFooter {
      position: absolute;
      bottom: 0px;
      border-top:1px solid #dedede;
      padding: 15px 25px;
      width: 100%;
    }
  }
  
.calenderContent{
  .calenderDTP {
    display: flex;
    padding: 25px;
    .centerContent {
      padding: 0px 15px;
    }
  }
  .selectBoxContent {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    .daysSelection {
      margin-right: 15px;
      width: 247px;
    }
    i {
      top: 6px;
    }
  }
}
  .calenderInput {
    .MuiOutlinedInput-notchedOutline {
      border-radius: 0px;
    }
  }

  div[class*='makeStyles-menuT-']
  {
    min-width: 246px !important;
    margin-left: 1px;
    margin-top: 5px;
  }
  .crxTooltipdate {
    &.crxTooltipAll {
      padding: 8px 16px;
    }
  }