.userGroupCustom {
    .crxEditFilter{
        display: flex;
        justify-content: space-between;
        width: 100% ;
    }
    input {
        width: 184px !important;
        &::placeholder {
            padding-left: 12px;
        }
    }
}

.dataPickerCustom {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
   .CBX-inputDatePicker {
        border: 1px solid #d1d2d4;
        padding: 0 11px;
        width: 190px;
    }
}
