.AssetsDataGrid {
  border: 1px solid #cccccc;
  margin-top: 2px;
  box-shadow: none !important;
  border-radius: 0px !important;
  overflow-y: visible;
  // min-height: 550px;

  table {
    tr {
      th.MuiTableCell-sizeSmall {
        padding: 0px 11px;
      }
      th.MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox {
        padding-left: 15px !important;
      }
    }

    thead {
      tr {
        th.CRXDataTableLabelCell {
          border-bottom: 0px;
          border-right: 1px solid #ccc;
          z-index: 2;
        }
        th.TableSearchAbleHead {
          border-top: 1px solid #ccc;
          border-right: 1px solid #ccc;
          &:focus {
            outline: 0px;
            box-shadow: 0px;
          }
          .dateRangeContainer {
            .select {
              select {
                background: #d1d2d4;
              }
              .iconContent {
                height: 29px;
                top: 0px !important;
                right: 0;
                background: #d1d2d4;
                width: 40px;
              }
            }
          }
        }
      }
    }
    tbody {
      tr {
        td.MuiTableCell-root {
          color: #333;
        }
        td.DataTableBodyCell {
          border-right: 1px solid #ccc;
          padding: 0px 9px 2px 9px;
          font-size: 14px;
          color: #333;
          vertical-align: top;
          line-height: 38px;
          text-indent: 5px;
          .MuiListItemSecondaryAction-root {
            z-index: -1 !important;
          }
        }
        .CellCheckBox {
          vertical-align: middle;
        }
        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        &:nth-child(even) td:nth-child(3) {
          background: #f2f2f2;
        }
        &:nth-child(even) td:nth-child(2) {
          background: #f2f2f2;
          .fal {
            position: relative;
            &::after {
              content: "";
              color: #fff;
              left: 0;
              position: absolute;
              font-family: "Font Awesome 5 Duotone";
              font-weight: 900;
              right: 0;
            }
            &.crxCheckForDarBg {
              &::after {
                color: transparent;
              }
            }
          }
        }

        td {
          &:first-child {
            background: #333333;
            padding-left: 15px;
            padding-right: 15px;
            color: #d1d2d4;
            vertical-align: middle;
            &:hover {
              border: 3px solid #ddd;
              border-right: 0px;
            }
          }
          &:nth-child(2) {
            vertical-align: middle;
          }
          &:nth-child(3) {
            vertical-align: middle;
            text-align: center;
          }
          .gridDateTimeColumn {
            padding-top: 7px;
          }
        }
      }
    }

    .crxTableHeaderSize {
      height: 35px;
      align-items: center;
      justify-content: center;
      text-align: center;

      div {
        label {
          font-size: 14px;
          color: #d1d2d4;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
      .GridSortIcon {
        button {
          span {
            i {
              font-size: 18px;
              color: #d1d2d4;
            }
          }
        }
      }
      .gridSortResize {
        position: absolute;
        right: -1px;
        top: 0px;
        display: flex;

        .GridSortIcon {
          padding-right: 12px;
          position: relative;
          top: 5px;
        }

        .DragHandleIcon {
          flex: 0 0 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .tableSearchHead {
      height: 51px;
    }
  }

  .draggableCellIcon {
    padding: 13px 0 0;
    .grid-grip-icon {
      display: block;
      font-size: 20px;
      color: #d1d2d4;
      text-indent: 0;
      position: relative;
      top: -3px;
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.dataTablePages {
  color: #333333 !important;
  .MuiTablePagination-toolbar {
    border-bottom: 0px solid #cccccc;
  }
  .Mui-focused {
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
  }
  div[class*="MuiTablePagination-actions-"] {
    button {
      width: 36px;
      height: 36px;
      border-radius: 0;
      color: #333333;
      &:hover {
        background-color: #d1d2d4;
      }
      span {
        display: none;
      }
      &:first-child {
        &:before {
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          content: "\f104";
          font-size: 18px !important;
          padding-right: 2px;
        }
      }
      &:last-child {
        &:before {
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          content: "\f105";
          font-size: 18px !important;
          padding-left: 2px;
        }
      }
    }
    button.Mui-disabled {
      background-color: transparent;
      color: #d1d2d4;
      &:hover {
        background-color: transparent;
      }
    }
  }
  div[class*="MuiTablePagination-input-"] {
    svg {
      fill: #333333;
    }
  }
}

.checkedDataTable {
  .MuiPopover-paper {
    max-width: 550px;
    padding: 15px 25px 8px 25px;
    box-shadow: rgb(0 0 0 / 7%) 0px 6px 9px 0px;
    border: 1px solid #d1d2d4;
    border-radius: 0px;
  }

  .MuiGrid-item {
    padding: 1px 8px !important;
    &:focus {
      outline: 0px;
    }
    &.showHideList {
      padding-bottom: 3px !important;
      label {
        span.MuiFormControlLabel-label {
          font-size: 14px;
          color: #333;
        }
      }
    }
  }

  .MuiGrid-container {
    &:focus {
      outline: 0px;
    }
  }
}

.footerDRP {
  border-top: 1px solid #d1d2d4;
  padding: 15px 0px 0;
  margin-top: 32px;

  .closeDRP {
    width: 100%;
  }
}

.footerDRPReOrder {
  border-top: 1px solid #d1d2d4;
  padding: 21px 0px 15px 28px;
  margin-top: 0px;
  .closeDRP.Mui-disabled {
    background-color: #e5e5e5 !important;
    span {
      color: #979797 !important;
    }
  }
  .closeDRP {
    width: 128px;
    height: 30px;
    padding: 6px 0px;
    margin-right: 32px;
    background-color: #333333 !important;
    box-shadow: none !important;
    span {
      color: #d1d2d4;
      font-size: 14px;
    }
    &:hover {
      background-color: #6e6e6e !important;
      span {
        color: #f5f5f5;
      }
    }
    &:focus {
      background-color: #231f20 !important;
      span {
        color: #f5f5f5;
      }
    }
  }
  .MuiFormControlLabel-root {
    .MuiFormControlLabel-label {
      font-size: 14px;
      color: #333333;
    }
    .checkBoxDarkTheme {
      input {
        color: #333333;
        &:hover {
          & ~ {
            span {
              color: #333333 !important;
            }
          }
        }
      }
      .crxSelectedDark {
        color: #333333;
      }
    }
  }
}

.DRPTitle {
  font-size: 18px !important;
  color: #333;
  padding-bottom: 40px;
  padding-left: 11px;
}

.columnReOrderOpup {
  .MuiPopover-paper {
    width: 528px;
    margin-left: -35px;
    left: auto !important;
    right: 40px;
    padding: 0px;
    box-shadow: 0px 0px 5px #00000033;
    -webkit-box-shadow: 0px 0px 5px #00000033;
    -moz-box-shadow: 0px 0px 5px #00000033;
    -o-box-shadow: 0px 0px 5px #00000033;
    -ms-box-shadow: 0px 0px 5px #00000033;
    border: 1px solid #d1d2d4;
    border-radius: 0px;
  }
  .closePopup {
    padding-right: 7px;
    padding-top: 16px;
  }
}

.dataTabAssets {
  .MuiToolbar-regular {
    min-height: 42px;
  }
}

.dataTableColumnShoHide {
  .dataIconButton {
    font-size: 18px;
    color: #333;
    padding: 0px 7px 0px 26px;
    &:hover {
      background: transparent !important;
    }
    &.MuiIconButton-root {
      &:hover {
        background: transparent !important;
      }
    }
  }
}

.draggFocus {
  border: 2px solid #cccccc;
  cursor: grab;
}

.helperClass {
  border: 2px solid #ccc;
  cursor: move;
  padding: 3px 10px 0 10px;
  text-align: center;
  position: relative;
  width: auto !important;
  height: 35px !important;
  opacity: 0.7;
  align-items: center;
  .dragIcon {
    font-size: 18px;
    color: #d1d2d4;
    float: left;
    position: relative;
    top: 3px;
    margin-right: 10px;
  }

  label {
    float: right;
  }
}

// ---- Classes for Resizing Column
.DragHandle {
  cursor: col-resize;
  color: #337e05;
  height: 100vh;
  width: 2px;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  &:hover {
    background: #33ff00;
    &::before {
      height: 35px;
      width: 5px;
      background: #33ff00;
      position: absolute;
      top: 0px;
      right: -3px;
      content: "";
      z-index: 99;
    }
    &::after {
      height: 8px;
      width: 8px;
      border-radius: 100px;
      background: #33ff00;
      position: absolute;
      top: 34px;
      right: -3px;
      content: "";
    }
  }
  &:focus {
    background: #33ff00;
    &::before {
      height: 35px;
      width: 5px;
      background: #33ff00;
      position: absolute;
      top: 0px;
      right: -3px;
      content: "";
      z-index: 99;
    }
    &::after {
      height: 8px;
      width: 8px;
      border-radius: 100px;
      background: #33ff00;
      position: absolute;
      top: 34px;
      right: -3px;
      content: "";
    }
  }
}

/*On Dragable start */
.onSortDragable {
  z-index: 9999;
  list-style: none;
  border: 3px solid #cccccc !important;
  background: #f2f2f2;
  padding-left: 11px;
  position: relative;
  width: 469px !important;
  opacity: 0.9;
}

.ghostView {
  z-index: 9999;
  list-style: none;
  border: 3px solid #cccccc !important;
  background: #f2f2f2;
  padding-left: 11px;
  position: relative;
  width: 469px !important;
  opacity: 0.5;
}

.sortAbledragIcon {
  position: absolute;
  right: 13px;
  top: 10px;
  &:focus {
    cursor: move;
  }
}

.dragableGuide {
  position: relative;
  width: 480px;
  left: -6px;
  &:after {
    content: "";
    position: absolute;
    top: -11px;
    left: 0px;
    width: 100%;
    height: 4px;
    background: #33ff00;
  }
  .leftCircle {
    color: #33ff00;
    position: absolute;
    left: -3px;
    top: -14px;
    font-size: 10px;
  }

  .rightCircle {
    color: #33ff00;
    position: absolute;
    right: -3px;
    top: -14px;
    font-size: 10px;
  }
}
.ghostLi {
  z-index: 9999;
  list-style: none;
  border: 3px solid #cccccc !important;
  background: #f2f2f2;
  padding-left: 15px !important;
  position: relative;
  opacity: 0.5 !important;
  visibility: visible !important;

  .sortAbledragIcon {
    position: absolute;
    right: 15px;
    top: 8px;
    &:focus {
      cursor: move;
    }
  }
}
/* ---------*/

.clearAllFilterBtn {
  width: 129px;
}

//-------------------
// Freezing Colummn
//-------------------
.col-one {
  left: 0;
  position: sticky;
  z-index: 1;
}
.col-two {
  position: sticky !important;
  padding-left: 7px !important;
  z-index: 1;
  left: 59px;
}

.col-three {
  position: sticky;
  max-width: 80px;
  padding-left: 2px !important;
  z-index: 2;
  left: 117px;
}

tr:nth-child(even) td[scope="row"] {
  background-color: #fff;
}
tr:nth-child(odd) td[scope="row"] {
  background-color: #fff;
}

td.col-two:hover,
td.col-three:hover,
td.col-three:hover .rc-menu-button {
  background-color: #333 !important;
  color: #d1d2d4 !important;
}

td.CellCheckBox {
  &:hover {
    .CRXCheckBox {
      span {
        span {
          color: #d1d2d4;
          &::after {
            color:transparent !important;
          }
        }
      }
    }
  }
  .Mui-disabled {
    span {
      span {
        &::before {
          margin-left: -5px;
        }
      }
    }
  }
}

tr.Mui-selected:nth-child(odd) td[scope="row"]:not(:first-child) {
  background-color: #231f20;
  color: #d1d2d4;
  .MuiButton-root {
    color: #d1d2d4 !important;
  }
  &:hover {
    background-color: #333 !important;
  }
}
tr.Mui-selected:nth-child(even) td[scope="row"]:not(:first-child) {
  &:hover {
    background-color: #404041 !important;

    button {
      background-color: transparent !important;
    }
  }
}
tr.Mui-selected:nth-child(even) td[scope="row"] {
  // background-color: #231f20 !important;
  .MuiButton-root {
    color: #d1d2d4 !important;
  }
  &:hover {
    background-color: #333 !important;
  }
}
tr.Mui-selected:nth-child(even) td[scope="row"]:not(:first-child) {
  background-color: #231f20 !important;
  color: #d1d2d4;
}
.CRXDataTableCustom {
  tr {
    &.Mui-selected {
      background-color: #231f20 !important;
      td.DataTableBodyCell {
        color: #d1d2d4 !important;
        .linkColor {
          color: #ff6e20;
        }
        .rc-menu-button {
          color: #d1d2d4 !important;
        }
      }
    }
    &:hover {
      background-color: #333 !important;
      td.DataTableBodyCell {
        color: #d1d2d4 !important;
        .linkColor {
          color: #ff6e20;
        }
      }
    }
    td:nth-child(2):hover ~ td.col-three {
      background: #333 !important;
      color: #d1d2d4;
      .rc-menu-button {
        color: #d1d2d4 !important;
      }
    }
    td.col-one:hover ~ td.col-two,
    td.col-one:hover ~ td.col-three {
      background: #333 !important;
      color: #d1d2d4;
      .rc-menu-button {
        color: #d1d2d4 !important;
      }
      .CRXCheckBox span span {
        border-color: #d1d2d4;
        background-color: #333;
      }
    }

    td.DataTableBodyCell {
      .linkColor {
        top: 5px;
      }
      .dataTableSimpleText {
        top: 5px;
      }
    }
  }

  .rc-menu-button {
    background: none;
    border: none;
    font-size: 23px;
  }

  th {
    button {
      color: #b3b4b6;
      background: transparent;
      box-shadow: none;
      border: none;
    }
    .fa-filter {
      font-size: 14px;
      padding: 0;
      margin-right: 19px;
      color: #d1d2d4;
    }
    .fa-times {
      font-size: 12px;
      padding: 0;
      width: 12px;
    }
    .crx-icon-filter {
      height: 30px;
      line-height: 30px;
    }
  }
}

#resetCheckBox {
  border: 0px;
  margin-right: 46px;
  color: #333333;
  height: 30px;
  width: 130px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 0;
  &:hover {
    border: 1px solid #333333;
    background: #f5f5f5 !important;
  }
}

.col-three {
  position: sticky;
  ul {
    &:first-child {
      left: 80px !important;
      z-index: 99999 !important;
      box-shadow: 0px 0px 5px #00000040;
    }
  }

  .MuiButton-label {
    position: relative;
  }

  .rc-menu-button {
    background: none;
    border: none;
    font-size: 23px;
    color: #333;

    &:hover {
      background: none;
    }
  }

  .MuiButton-root {
    &:hover {
      background: none;
    }
  }
}

.sortDragHide {
  display: none;
}

.disableHeaderActionMenu {
  pointer-events: none;
  opacity: 0.4;
}

#CustomizeColumns {
  z-index: 999;
  border-radius: 0px;
  width: 521px;
  .MuiPaper-elevation1 {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }

  .MuiPaper-rounded {
    border-radius: 0px;
  }

  .subTItle {
    font-size: 14px !important;
    color: #333;
    padding-bottom: 27px;
    padding-left: 11px;
  }

  .popupFreezTitle {
    position: relative;
    padding-left: 15px;
    padding-top: 18px;
    background: #fff;
    z-index: 4;

    .closePopup {
      &:hover {
        background-color: transparent !important;
      }
      .MuiSvgIcon-fontSizeSmall {
        font-size: 16px;
        color: #d1d1d4;
        &:hover {
          color: #333;
        }
      }
      .croseIcon {
        width: 16px;
        height: 16px;
        color: #d1d2d4;
        font-size: 16px;
        &:hover {
          color: #333;
        }
      }
    }
  }

  .columnList {
    padding: 0px 0px 0px 15px;
    overflow: auto;
    ul.columnUlList {
      padding-left: 0px;
      margin-top: 0px;
      li {
        display: block;
        padding: 2px 0px;
        border: 3px solid transparent;
        margin-bottom: 0;
        transform: translate3d(0px, 0px, 0px) !important;
        cursor: move;
        .MuiFormControlLabel-root {
          margin-left: 0px !important;
          cursor: move;
          .customizeCheckBox {
            padding: 11px 15px 9px 9px;
          }
          .MuiFormControlLabel-label {
            font-size: 14px;
            color: #333;
          }
          .MuiIconButton-label {
            span.crxSelectedDark {
              font-size: 18px;
              color: #333333 !important;
              &:hover {
                color: #333333 !important;
              }
            }
            span {
              font-size: 18px;
              &:hover {
                color: #333333;
              }
            }
            input {
              &:hover {
                & ~ {
                  span {
                    color: #333333 !important;
                  }
                }
              }
            }
          }
        }
        &:hover {
          cursor: move;
          z-index: 9999;
          list-style: none;
          border: 3px solid #cccccc !important;
          background: #f2f2f2;
          position: relative;
          width: 469px !important;
          opacity: 0.9;
          position: relative;
          &:after {
            position: absolute;
            right: 13px;
            top: 10px;
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            content: "\f58e";
          }
        }
      }
    }
  }
}
.dateRangeContainer {
  .wrapper {
    margin: 0px 0 0 5px !important;
  }
}
@media screen and (max-width: 1366px), screen and (max-height: 768px) {
  .columnList {
    height: 338px;
  }
}
.crxClearfilter {
  place-content: flex-end;
}
