.AssetsDataGrid {
    border: 1px solid #cccccc;
    box-shadow: none !important;
    border-radius:0px !important;
    table {
        tr{
            th.MuiTableCell-sizeSmall{
                padding:0px 7px;
            }
            th.MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox{
                padding-left: 15px !important;
            }
        }

        thead {
            tr {
                th.CRXDataTableLabelCell{
                    border-bottom: 0px;
                    border-right:1px solid #ccc;
                    z-index: 3;
                }
                th.TableSearchAbleHead {
                    border-top:1px solid #ccc;
                    border-right:1px solid #ccc;
                    &:focus {
                        outline: 0px;
                        box-shadow: 0px;
                    }
                }
            }
        }
        tbody{
            tr{
                td.MuiTableCell-root{

                }
                td.DataTableBodyCell{
                    border-right:1px solid #ccc;
                    padding: 2px 7px;
                    font-size: 14px;
                    color:#333;
                    vertical-align: top;
                    line-height: 38px;
                    .MuiListItemSecondaryAction-root{
                        z-index: -1 !important;
                    }
                    
                }
                .CellCheckBox {
                    vertical-align: middle;
                }
                &:nth-child(even) {
                    background-color: #f2f2f2;
                }
                td {
                    &:first-child {
                        background: #333333;
                        padding-left: 15px;
                        padding-right: 15px;
                        color: #d1d2d4;
                        vertical-align: middle;
                    }
                    &:nth-child(2) {
                        vertical-align: middle;
                    }
                    &:nth-child(3) {
                        vertical-align: middle;
                    }
                }
            }
        }

        .crxTableHeaderSize {
            height: 35px;
            align-items: center;
            justify-content: center;
            // .makeStyles-headerStickness-8 {
                
            //         opacity: 1 !important;
            //         visibility: visible !important;
                
            // }
            div {
                label {
                   font-size: 14px;
                   color:#d1d2d4;
                }
            }
            .GridSortIcon{
                button {
                    span{
                        i {
                            font-size:18px;
                            color:#d1d2d4;
                        }
                    }
                }
            }
            .gridSortResize {
                position: absolute;
                right:-1px;
                top: 0px;
                display: flex;

                .GridSortIcon {
                    padding-right: 3px;
                    position: relative;
                    top: 5px;
                }
                
                .DragHandleIcon {
                    flex: 0 0 12px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .tableSearchHead {
            height: 51px;
        }
    }

    .draggableCellIcon {
        padding: 0px;
        
    }
}

.dataTablePages {
    border: 1px solid #cccccc;
    border-top:0px;
    .MuiTablePagination-toolbar {
        border-bottom: 1px solid #cccccc;
    }
}

.checkedDataTable {
    .MuiPopover-paper {
        max-width: 550px;
        padding: 15px 25px 8px 25px;
        box-shadow: rgb(0 0 0 / 7%) 0px 6px 9px 0px;
        border: 1px solid #d1d2d4;
        border-radius: 0px;
    }

    .MuiGrid-item {
        padding: 1px 8px !important;
        &:focus {
            outline: 0px;
        }
        &.showHideList {
            padding-bottom: 3px !important;
            label {
                span.MuiFormControlLabel-label {
                    font-size: 14px;
                    color:#333;
                }
            }
        }
    }
    

    .MuiGrid-container {
        &:focus {
            outline: 0px;
        }
    }
}

.footerDRP {
    border-top: 1px solid #d1d2d4;
    padding: 15px 0px 0;
    margin-top: 32px;

    .closeDRP  {
        width: 100%;
    }
}

.footerDRPReOrder {
    border-top: 1px solid #d1d2d4;
    padding: 15.5px 0px 0;
    margin-top: 19px;
    .closeDRP  {
        width: 142px;
        span {
            color:#d1d2d4
        }
    }
}

.DRPTitle {
    font-size: 20px !important;
    color:#333;
    padding-bottom: 45px;
}

ul.columnList {
    padding-left: 0px;
    li {
        display: block;
        padding:0px 0px;
        border:3px solid transparent;
        .MuiFormControlLabel-root{
            margin-left: 0px !important;
        }
    }

}

.columnReOrderOpup {
    .MuiPopover-paper {
        min-width: 450px;
        max-width: 600px;
        padding: 15px;
        box-shadow: rgb(0 0 0 / 7%) 0px 6px 9px 0px;
        border: 1px solid #d1d2d4;
        border-radius: 0px;
    }
}

.dataTabAssets {
    .MuiToolbar-regular{
        min-height: 42px;
    }
}

.dataTableColumnShoHide{
    .dataIconButton {
        font-size: 18px;
        color:#333;
        padding: 0px 7px;
        &:hover {
            background: transparent !important;
        }
        &.MuiIconButton-root {
            &:hover {
                background: transparent !important;
            }
        }
    }
}


.AssetsDataGrid::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    
}

.AssetsDataGrid::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}

.AssetsDataGrid::-webkit-scrollbar-thumb{
        background-color: #333333;
        border: 2px solid #555555;
}


.draggFocus {
    border:2px solid #cccccc;
    cursor: grab;
}

.helperClass {
    border: 2px solid #ccc;
    cursor: move;
    padding: 3px 10px 0 10px;
    text-align: center;
    position: relative ;
    width: auto !important;
    height: 35px !important;
    opacity: 0.7;
    align-items: center;
    .dragIcon {
        font-size: 18px;
        color: #d1d2d4;
        float: left;
        position: relative;
        top: 3px;
        margin-right: 10px;
    }

    label {
        float: right;
    }
}

// ---- Classes for Resizing Column
  .DragHandle {
    cursor: col-resize;
    color: #337e05;
    height: 100vh;
    width: 2px;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    &:hover {
        background: #33ff00;
        &::before {
            height: 35px;
            width: 5px;
            background: #33ff00;
            position: absolute;
            top: 0px;
            right: -3px;
            content: "";
            z-index: 99;
        }
        &::after {
            height: 8px;
            width: 8px;
            border-radius: 100px;
            background: #33ff00;
            position: absolute;
            top: 34px;
            right: -3px;
            content: "";
        }
    }
    &:focus {
        background: #33ff00;
        &::before {
            height: 35px;
            width: 5px;
            background: #33ff00;
            position: absolute;
            top: 0px;
            right: -3px;
            content: "";
            z-index: 99;
        }
        &::after {
            height: 8px;
            width: 8px;
            border-radius: 100px;
            background: #33ff00;
            position: absolute;
            top: 34px;
            right: -3px;
            content: "";
        }
    }
  }

  
  /*On Dragable start */
  .onSortDragable {
      z-index: 9999;
      list-style: none;
      border:3px solid #CCCCCC;
      background: #F2F2F2;
      padding-left: 15px;
      position: relative;
  }

  .sortAbledragIcon {
      position: absolute;
      right:15px;
      top:8px;
      &:focus {
          cursor: move;
      }
  }
 
  .onSortDragable::after {
      content: "";
      position: absolute;
      top:-11px;
      left: 0px;
      width: 100%;
      height: 4px;
      background: #33FF00;
  }
      .leftCircle {
        color: #33FF00;
        position: absolute;
        left: -3px;
        top: -14px;
        font-size: 10px;
      }

      .rightCircle {
        color: #33FF00;
        position: absolute;
        right: -3px;
        top: -14px;
        font-size: 10px;
    }

// ---------

