.BookmarkNotePopup {
    background-color: grey;
    width: 300px;
    height: 180px;
    margin-top: 140px;

    span.gridFilterTextBox {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .Popup-header {
    background-color: #0F0F0FCC;
    color: white;
    text-align: center;

    }
}