.jss17 {
    display: inline-block !important;
}

.jss19 {
    width: 100% !important;
}

.jss20, .jss23 {
    min-height: 16px !important;
}

.jss29 {
    min-width: auto !important;
}

.jss31 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.jss23 {
    visibility: visible !important; 
}
