.jss17 {
    display: inline-block !important;
}

.jss19 {
    width: 100% !important;
}

.jss20, .jss23 {
    min-height: 16px !important;
}

.jss29 {
    min-width: auto !important;
}

.jss31 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.jss23 {
    visibility: visible !important; 
}

.jss25 {
    width: auto !important;
    height: auto !important;  
    display: block !important;
    transform: rotate(0deg) !important; 
    align-items: center; 
    border-radius: 50% 50% 50% 0; 
    justify-content: center; 
    background-color: transparent  !important; 
}