

.showControllerBar {

  .video_player_hover_thumb {
    bottom:7px;
    max-width: 136px;
    max-height: 80px;
    background:var(--color-Black);
    padding: 4px;
    .video_thumb_line_time {
      position: absolute;
      bottom: 3px;
      font-size: 14px;
      color: #fff;
      text-align: center;
      width: 100%;
      background: var(--color-Black);
      font-family: var(--base-font-family);
      font-weight: var(--Font-style-bold);
      padding: 0px;
      width: 58px;
      height: 18px;
      left: calc(100% / 3.5);
    }
  }
}
.line .beforerecording
{
    background:rgb(163, 161, 161);
    height:100%;
    display:table-cell;
    
}

.line .afterrecording
{
    background:rgb(163, 161, 161);
    width:40%;
    height:100%;
    display:table-cell;
 
  
}
.dot {
    height: 100%;
    width: 2%;
    background:rgb(238, 224, 34);
    border-radius: 50%;
    display:table-cell;

    

  }

  .hovertext {
    position: relative;
    border-bottom: 1px dotted black;
    height: 100%;
    width: 2%;
    background:rgb(238, 224, 34);
    border-radius: 50%;
    display:table-cell;

  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: -280%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

  .canvas-width canvas{
    width: 100%;
  }
  .videoFastRw {
    width: 100%;
    position: absolute;
    bottom: 335px;
    padding: 0 60px;
    .videoFR_Screen {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        position: relative;
        video {
          width: 250px;
          height: auto;
          
        }
        p {
          right: 9px;
          bottom: 7px
        }
        #vid-2 {
          width: 450px;
        }
      }
    }
  }


  /*After demo it will be remove */

  .demo-bookMark {
    padding-left: 12px;
    padding-right: 12px;
    i{
      color: #fff;
      font-size: 12px;
    }
    span {
      font-family: var(--base-font-family);
      font-weight: var(--Font-style-bold);
      color: #fff;
      display: inline-block;
      padding-left: 19px;
      font-size: 12px;
    }
  }