#crx_video_player {
  .showControllerBar {
    display: block;
    margin-top: 10px;

    .video_player_hover_thumb {
      bottom: 17px;
      max-width: 136px;
      min-height: 80px;
      max-height: 96px;
      background: var(--color-Black);
      padding: 4px;
      padding-bottom: 0px;

      .video_thumb_line_time {
        position: absolute;
        bottom: 5px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        width: 100%;
        background: var(--color-Black);
        font-family: var(--base-font-family);
        font-weight: var(--Font-style-bold);
        padding: 0px;
        width: 58px;
        height: 18px;
        left: calc(100% / 3.5);
      }

      ._timeline_thumb_top_area {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        position: relative;
        top: -1px;
        font-family: var(--base-font-family);
      }
    }
  }
}

.line .beforerecording {
  background: rgb(163, 161, 161);
  height: 100%;
  display: table-cell;
}

.line .afterrecording {
  background: rgb(163, 161, 161);
  width: 40%;
  height: 100%;
  display: table-cell;
}

.dot {
  height: 100%;
  width: 2%;
  background: rgb(238, 224, 34);
  border-radius: 50%;
  display: table-cell;
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
  height: 100%;
  width: 2%;
  background: rgb(238, 224, 34);
  border-radius: 50%;
  display: table-cell;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: -280%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.canvas-width canvas {
  width: 100%;
}

.videoFastRw {
  position: absolute;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: 0px;
  z-index: 2;

  .videoForwardRewind {
    height: 70px;
    width: 124px;
    border: 4px solid #000000;
    object-fit: fill;
    margin-bottom: 17px !important;

    @media screen and (max-width:1000px) {
      height: 65px;
      width: 120px;
    }

    @media screen and (max-width:900px) {
      height: 65px;
      width: 110px;
    }

    @media screen and (max-width:821px) {
      height: 65px;
      width: 98px;
    }

    @media screen and (max-width:780px) {
      height: 60px;
      width: 90px;
    }
  }

  .videoForwardRewind+p {
    display: none;
  }

  .videoFRCTimeline {
    position: relative;

    p {
      position: absolute;
      bottom: -5px;
      background: black;
      color: white;
      padding: 0px 7px;
      right: 3px;
      font-weight: 700;
      padding-top: 1px;

      @media(max-width:821px) {
        font-size: 12px;
      }
    }
  }

  .videoForwardRewindCenter {
    height: 149px;
    width: 264px;
    border: 4px solid #000000;
    object-fit: fill;

    @media screen and (max-width:1000px) {
      width: 254px;
      height: 139px;

    }

    @media screen and (max-width:975px) {
      width: 233px;
      height: 122px;
    }

    @media screen and (max-width:940px) {
      width: 200px;
      height: 118px;
    }

    @media screen and (max-width:860px) {
      width: 160px;
      height: 110px;
    }

    @media screen and (max-width:780px) {
      width: 148px;
      height: 99px;
    }
  }

  #vid-0,
  #vid-1 {
    margin-right: 12px;
  }

  #vid-3,
  #vid-4 {
    margin-left: 12px;
  }

  .videoFR_Screen {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      position: relative;

      video {
        width: 250px;
        height: auto;

      }

      p {
        right: 9px;
        bottom: 7px
      }

      #vid-2 {
        width: 450px;
      }
    }
  }
}


/*After demo it will be remove */

.demo-bookMark {
  padding-left: 12px;
  padding-right: 12px;

  i {
    color: #fff;
    font-size: 12px;
  }

  span {
    font-family: var(--base-font-family);
    font-weight: var(--Font-style-bold);
    color: #fff;
    display: inline-block;
    padding-left: 19px;
    font-size: 12px;
  }
}

.main-control-bar {
  padding: 0px 0px;
  line-height: 0;
  position: relative;

  #SliderBookmarkNote {
    top: 1px;

    ._timeLine_bookMark_note_pip {
      .pip_icon {
        width: 2px;
        height: 4px;
        display: block;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        background-color: #D79903;
      }

    }

    &:hover+#SliderControlBar {
      .MuiSlider-rail {
        transform: scaley(2.5);
      }

      &::after {
        transform: scaley(2.5);
      }

      &::before {
        transform: scaley(2.5);
      }



    }
  }

  &:hover .pip_icon {
    transform: scaley(2.5);
    transition: all 0.25s ease-in-out;
  }

  .MuiSlider-thumb {
    &:active {
      cursor: grabbing;
    }
  }

  #SliderControlBar {
    position: relative;
    z-index: 1;

    &:hover {
      &::before,
      &::after {
        transform: scaley(2.5);
      }
    }

    .Mui-focusVisible {
      visibility: visible;
    }
    .MuiSlider-active {
      visibility: visible;
    }
  
  }

  ._hover_timeLine_pipeGray {
    width: 2px;
    height: 140px;
    background: var(--color-333333);
    position: absolute;
    display: none;
    top: -12px;
    cursor: pointer;
    z-index: 0;

    &::before {
      width: inherit;
      height: 8px;
      background: #FFFFFF;
      position: absolute;
      content: " ";
      top: 11px;
      z-index: 4;
    }
  }

  ._fwrw_timeLine_pipeRed {
    width: 2px;
    height: 140px;
    background: var(--color-red);
    position: absolute;
    top: -12px;
    cursor: pointer;
    z-index: 0;

    &::before {
      width: inherit;
      height: 8px;
      background: #FFFFFF;
      position: absolute;
      content: " ";
      top: 11px;
      z-index: 4;
    }
  }

  &:hover {
    ._hover_timeLine_pipeGray {
      display: block;
    }

    #SliderControlBar {
      .MuiSlider-rail {
        transform: scaley(2.5);
      }

      .MuiSlider-track {
        transform: scaley(2.5);
      }
    }
  }

  &:focus-within {
    ._hover_timeLine_pipeGray {
      visibility: hidden;
      display: none;
     
    }
  }

}

.thumbnailHeaderBar {
  display: flex;
  align-items: center;
  height: 20px;
  background: var(--color-Black);
  position: absolute;
  top: -16px;
  left: 0px;
  text-align: center;
  width: 136px;
  justify-content: center;
  font-size: 12px;
  color: var(--color-White);
  font-weight: 700;

  #Thumbnail-Desc {
    height: 20px;
    background: transparent !important;
    text-transform: capitalize;
    padding-top: 1px;
    margin-right: 1px;
  }

  .fa-bookmark,
  .fa-comment-alt-plus {
    position: absolute;
    left: 13px;
  }
}

.hideHeaderBar {
  display: none;
}

.showHeaderBar {
  display: block;
}