#video-player{
    margin-top: 142px;
    margin-left: 120px;
    width: 50%;
    // height: 610px;
    box-shadow: 0 0 11px 1px;
    padding: 10px 10px;
    position: relative;
    border: 2px solid #333333;
    video {
        outline: 2px solid #d74b00;
        // margin-top: 68px;
        margin-top: 16px;
        margin-bottom: 6px;
    }
    .videoPlayerBtn {
        color: white !important;
        margin: 0 5px !important;
    }
    #controls {
        margin: 4px -5px;
        bottom: 12px;
        left: -12px;
    }
    .MuiGrid-grid-xs-1 {
        display: none;
    }
    .videoContainer {
        padding: 0 14px;
    }
    .MuiGrid-grid-xs-3 {
        margin-bottom: 12px;
    }
    .GridCointainerBlock {
        display: block;
    }
    .GridCointainerHide {
        display: none ;
    }
    .videoTransformApply {
        margin-top: -162px ;
    }
    .pictureViewGrid {
        margin-left: auto;
        margin-top: -126px;
    }
    #video-player-screens
    {
        background-color: rgba(0, 0, 0, 0.70);
        
    }
    .PlayPause-container{
        margin-top: 8px;
    }
    .main-control-bar
    {
        padding: 0px 14px;
    }
  
}

@media(max-width:1890px) {
    #video-player  {
        .pictureViewGrid {
           margin-top: -157px ;
        }
    }
   
} 