._video_player_layout_main {
  height: calc(100vh - 150px);
  background: #000;
  display: table;
  width: 100%;
  ._video_player_container {
    position: relative;
    #crx_video_player {
      // width: 91%;
      background-color: var(--color-Black);
      position: relative;
      border: 0px solid var(--color-333333);
      border-bottom: 0px;
      width: 100%;
      //height:calc(100% - 148px);
      // min-width: 507px;
      // min-height: 538px;
      padding: 9px 10px 10px 7px;

      #screens {
        position: relative;

        .videoFrontLayer {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          display: flex;
          height: calc(100vh - 296px);
          width: calc(100% - 34%);
          place-content: center;
          align-items: center;
          &.fullWidthOverLay {
            width: 100%;
          }
          ._video_button_size {
            width: 134px;
            height: 134px;
            border-radius: 100%;
            text-align: center;
            background: rgba($color: #ffffff, $alpha: 0.15);
            font-size: 92px;
            color: var(--color-White);
            transition: transform 1s ease-in-out;

            .video_PauseButton,
            .video_playButton {
              line-height: 150px;
              transition: transform 1s ease-in-out;
            }
          }

          #_video_play {
            transition: transform 1s ease-in-out;
            opacity: 1;
          }

          #_video_pause {
            // transform: scale(1.2,1.2);
            // font-size: 92px;
            transition: transform 1s ease-in-out;
            opacity: 1;
            //animation: fadeinout 1s ease-in-out;
          }

          .showAnimation {
            animation: fadein 1s ease-in-out;
          }

          .hideAnimation {
            animation: fadeOut 1s ease-in-out;
          }

          @keyframes fadein {
            0% {
              opacity: 1;
              transform: scale(1, 1);
              font-size: 80px;
            }

            50% {
              opacity: 1;
              transform: scale(1.2, 1.2);
              font-size: 92px;
            }

            100% {
              opacity: 0;
              transform: scale(1, 1);
              font-size: 80px;
            }
          }

          @keyframes fadeOut {
            0% {
              opacity: 1;
              transform: scale(1, 1);
              font-size: 80px;
            }

            50% {
              opacity: 1;
              transform: scale(1.2, 1.2);
              font-size: 92px;
            }

            100% {
              opacity: 0;
              transform: scale(1, 1);
              font-size: 80px;
            }
          }
        } //Play paused end here
      }

      video {
        margin-top: 0px;
        height: auto;
        // object-fit: cover;
      }

      .videoPlayerBtn {
        color: var(--color-White) !important;
        background-color: transparent !important;

        svg {
          circle {
            display: none;
          }
        }
      }

      #CRX_Video_Player_Controls {
        margin: 0px;
        bottom: 12px;
        left: -12px;
        padding-left: 13px;
        padding-right: 6px;
        padding-top: 8px;
        .player_controls_inner {
          .dummy_audio_image {
            width: 100%;
            height: 75px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .dummy_audio_zoomIn_zoomOut {
            padding-top: 11px;
          }
        }
        .crx_video_graph {
          height: 80px;
        }

        .videoPlayer_Timeline_Time {
          display: flex;
          justify-content: space-between;
          flex: 1;
          padding: 5px;
          color: #ffffff;
          font-size: 14px;
          font-family: var(--base-font-family);
        }

        .V_timeline_end_time {
          .V_timeline_end_time {
          }
        }
      }

      .MuiGrid-grid-xs-1 {
        display: none;
      }

      .videoContainer {
        padding: 0 8px;
        position: relative;
        height: auto;
        width: 100%;
      }

      .MuiGrid-grid-xs-3 {
        margin-bottom: 12px;
      }

      .GridCointainerBlock {
        display: block;
      }

      .GridCointainerHide {
        display: none;
      }

      .videoTransformApply {
        margin-top: -162px;
      }

      .pictureViewGrid {
        margin-left: auto;
        margin-top: -126px;
      }

      #video-player-screens {
        background-color: var(--color-black-11);

        margin-bottom: 10px;

        ._videoPlayer_grid_customize {
          height: 100%;
          padding-right: 4px;
          position: relative;
          margin: 0 auto;
          margin-right: 22px;
          &._video_all_player_center {
            margin: 0 auto;
          }
          // &._container_column_video_2 {
          //   width: 100%;
          // }
        }

        &._videPlayer_height_AU {
          height: calc(100vh - 294px);
          padding: 0 5px;
          &.removeEXHeight {
            height: calc(100vh - (100px + 368px));
          }
        }
        ._video_player_grid {
          ._video_grid_col {
            ._empty_video {
              background: var(--color-333333);
              width: 100%;
              height: auto;
              aspect-ratio: 16 / 9;
            }
          }
        }
      }

      .PlayPause-container {
        margin-top: 8px;
      }

      .playerViewFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        height: 60px;

        .player_right_responsive {
          position: relative;
          left: 2px;
          top: 2px;
        }
        .playerViewRight {
          display: flex;
          justify-content: space-between;
          align-items: center;

          height: 60px;

          .SettingGrid {
            width: 30px;
            margin-right: -11px;
            margin-top: 9px;

            .faCogIcon {
              position: relative;
              z-index: 8;
            }
          }

          .playerView {
            position: relative;
            z-index: 8;
            margin-right: 20px;
            top: 2px;
          }

          &.clickViewRightBtn {
            position: absolute;
            bottom: -4px;
            right: 0px;
            z-index: 24;
            border-top: 1px solid var(--color-333333);
            &::before {
              position: absolute;
              content: "";
              background: black;
              width: 315px;
              height: 55px;
              right: 0px;
              z-index: 0;
              top: 0px;
            }
          }

          .playerView {
            div {
              i {
                color: var(--color-White);
                font-size: 32px;
                transition: 0.1s all;

                &:hover {
                  // font-size: 36px;
                  transform: scale(1.3);
                  cursor: pointer;
                }
              }
            }
          }

          .MenuListGrid {
            border: 1px solid transparent;
            margin-top: -7px;
            margin-right: 2px;
            button {
              border: 1px solid transparent;
            }
            .rc-menu-button {
              background: var(--color-333333) !important;
              color: var(--color-White);
              border: none;
              font-family: var(--base-font-family);
              font-weight: 500;
              line-height: 1.75;
              padding: 7px 7px;
            }

            .rc-menu__item {
              color: var(--color-White);
              padding: 9px 8px !important;
            }

            .rc-menu-container {
              top: 0;
            }
          }
        }

        .timeLineBar {
          margin-top: 15px;

          .MuiLinearProgress-root {
            margin-bottom: 15px;
          }

          .linearbarThird {
            div {
              background-color: var(--color-olive);
            }
          }

          .linearbarfourth {
            div {
              background-color: var(--color-coral);
            }
          }
        }

        .trueshow {
          display: block !important;
        }

        .notShowFRicon {
          display: none;
        }

        .showFRicon {
          display: block;
          position: absolute;
        }

        .iconTableClr {
          color: white;
          font-size: 28px;
          transition: 0.2s all;

          &:hover {
            // font-size: 36px;
            transform: scale(1.3);
            cursor: pointer;
          }
        }

        .caretLeftIcon {
          font-size: 42px;
          transition: 0.1s all;
          position: absolute;

          &:hover {
            // font-size: 48px;
            transform: scale(1.3);
            cursor: pointer;
          }
        }

        .caretRightIcon {
          position: absolute;
          left: 118px;
          font-size: 42px;
          transition: 0.1s all;

          &:hover {
            // font-size: 48px;
            transform: scale(1.3);
          }
        }

        .backwardRightBtn {
          left: 36px;
          top: -3px;
          .backward3Icon {
            font-size: 34px;
            transition: 0.1s all;

            &:hover {
              // font-size: 42px;
              transform: scale(1.4);
            }
          }
        }

        .backwardBtn {
          left: 20px;
          top: -2px;
          .backward2Icon {
            font-size: 34px;
            transition: 0.1s all;

            &:hover {
              // font-size: 42px;
              transform: scale(1.4);
            }
          }
        }

        .playBtn {
          top: -2px;
          left: 29px;
        }
        .pauseBtn {
          top: 0px;
          left: 29px;
          margin-left: 3px !important;
          margin-right: 3px !important;
        }
        .iconPlay4 {
          font-size: 34px;
          transition: 0.1s all;

          &:hover {
            // font-size: 42px;
            transform: scale(1.3);
          }
        }

        .iconPause2 {
          font-size: 30px;
          transition: 0.1s all;
          &:hover {
            // font-size: 42px;
            transform: scale(1.3);
          }
        }

        .volume-icon {
          > span {
            color: white;
            font-size: 28px;
          }
          .VolumeBarHover {
            transform: scale(1);
            transition: 0.2s all;

            &:hover {
              // font-size: 34px;
              transform: scale(1.3);
              margin-top: -7px;
            }
          }
        }

        .commentAltBtn {
          right: -26px;
          .commentAltpPlus {
            font-size: 26px;
            transition: 0.1s all;
          }
        }

        .faCogIcon {
          font-size: 28px;
          color: white;
          transition: 0.1s all;

          &:hover {
            cursor: pointer;
            // font-size: 36px;
            transform: scale(1.3);
          }
          &:active,
          &:focus,
          &:visited {
            transform: scale(1.3);
          }
        }

        .bookmarkBtn {
          right: -5px;
          top: -2px;
          .faBookmarkIcon {
            font-size: 26px;
            transition: 0.1s all;

            &:hover {
              // font-size: 34px;
              transform: scale(1.3);
            }
          }
        }

        .commentAltpPlus {
          font-size: 26px;
          transition: 0.1s all;

          &:hover {
            // font-size: 34px;
            transform: scale(1.3);
          }
        }

        .playerViewLeft {
          margin-top: -10px;
          width: 273px;
          button {
            min-width: auto;
            padding: 0 0;
            margin: 0 0;
          }
          .videoControleBFButton {
            width: 30px;
            top: 9px;
          }
          #volume-controls {
            left: 228px;
            top: 39px;
          }
        }

        .videoFR_Screen {
          video {
            border: 10px solid black;
          }
        }

        .overlayVideo {
          ul {
            li {
              display: inline-block;
              margin: 0 20px;
              padding: 10px 0;
            }
          }
        }

        .screenViewsSingle {
          background: #d1d2d4;
          height: 32px;
          width: 54px;
          border: 1px solid #707070;
        }

        .screenViewsSideBySide {
          display: flex;

          p {
            background: #d1d2d4;
            height: 30px;
            width: 53px;
            border: 1px solid #707070;
          }
        }

        .screenViewsVideosOnSide {
          display: flex;
          align-items: center;

          .first {
            background: #d1d2d4;
            height: 30px;
            width: 53px;
            border: 1px solid #707070;
          }

          .second {
            span {
              background: #d1d2d4;
              height: 15px;
              width: 26px;
              display: block;
              border: 1px solid #707070;
            }
          }
        }

        .screenViewsGrid {
          display: flex;
          align-items: center;

          p {
            span {
              width: 26px;
              height: 15px;
              display: block;
              background: #d1d2d4;
              border: 1px solid #707070;
            }
          }
        }

        .screenViewsGrid6 {
          display: flex;
          align-items: center;

          p {
            span {
              width: 26px;
              height: 15px;
              display: block;
              background: #d1d2d4;
              border: 1px solid #707070;
            }
          }
        }
        .assetTimelineSync {
          min-width: 161px;
          margin-left: 14px;
        }
      }
    } /*_video_player_container close */

    // ._Multiview_Grid_Spacer_2 {
    //   padding-bottom: 140px !important ;
    // }
    // ._Multiview_Grid_Spacer_3 {
    //   padding-bottom: 160px !important ;
    // }
    // ._Multiview_Grid_Spacer_4 {
    //   padding-bottom: 180px !important ;
    // }
    // ._Multiview_Grid_Spacer_6 {
    //   padding-bottom: 200px !important ;
    // }
  }
}

.handleReverseIcon {
  position: relative;
  top: 9px;
  left: 8px;

  svg {
    transition: 0.1s all linear;
  }

  &:hover {
    svg {
      transform: scale(1.5);
    }
  }
}

.handleforwardIcon {
  left: 58px;
  top: 9px;
  svg {
    transition: 0.1s all linear;
  }

  &:hover {
    svg {
      transform: scale(1.5);
    }
  }
}

.playerViewMiddle {
  margin-top: 5px;
  position: relative;
  left: -2.1%;
  .playBackMode {
    .MinusIconPosition {
      margin-left: -1px;
      margin-right: 1px;
      i {
        transition: 0.1s all;
        display: inline-block;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
    button {
      margin: 0 4px;
      background: var(--color-transparent);
      border: none;

      &:disabled {
        i {
          color: #979797;
        }
      }

      i {
        color: var(--color-White);
        font-size: 28px;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        span {
          top: 10px;
          position: absolute;
          left: -3px;
          font-size: 8px;
          background: white;
          padding: 5px 3px;
          border-radius: 28px;
          color: black;
          border: 1px solid black;
        }
      }

      .undoRedoIcon {
        span {
          top: 5px;
          left: -3px;
        }

        &:hover {
          span {
            font-size: 10px;
          }
        }
      }

      .undoAltIcon {
        span {
          top: 3px !important;
          transform: rotate(306deg) !important;
          left: 13px !important;
        }

        &:hover {
          span {
            font-size: 10px;
          }
        }
      }

      .fa-undo-alt {
        transform: rotate(55deg);

        span {
          transform: rotate(-50deg);
        }
      }

      .fa-redo-alt {
        transform: rotate(-38deg);

        span {
          transform: rotate(42deg);
        }
      }
    }

    .modeIconUndoLinker {
      background: white;
      position: absolute;
      color: black;
      border-radius: 31px;
      padding: 2px 3px;
      border: 1px solid #333;
      z-index: 1;
      font-weight: 700;
      font-size: 10px;
      margin-left: 5px;
      margin-top: 5px;

      span {
        font-size: 12px;
      }
    }

    .modeIconRedoLinker {
      background: white;
      position: absolute;
      color: black;
      border-radius: 31px;
      padding: 2px 3px;
      border: 1px solid #3333;
      z-index: 1;
      font-weight: 700;
      font-size: 10px;
      margin-top: 6px;
      margin-left: 2px;

      span {
        font-size: 12px;
      }
    }

    .UndoIconHover {
      i {
        transition: 0.1s all linear;

        &:hover {
          .modeIconUndoLinker {
            // font-size: 13px;
            cursor: pointer;
          }

          .modeIconRedoLinker {
            // font-size: 13px;
            cursor: pointer;
          }

          .undoAltIcon,
          .undoRedoIcon {
            // font-size: 30px !important;
            cursor: pointer !important;
          }

          transform: scale(1.3);
        }
      }
    }
  }
}

.custom-class {
  display: inline-flex !important;
  padding-left: 6px;
}

.custom-class img {
  margin-left: 48px !important;
  margin-bottom: 15px;
}

.videoMenuCss {
  position: absolute;
  right: 10px;
  top: 6px;
  color: var(--color-White) !important;
  ._select_video_button {
    background: transparent;
    color: var(--color-White) !important;
    border: 0px;
    cursor: pointer;
    &:hover,
    &:focus {
      border: 0px;
    }
    i {
      font-size: 20px;
      color: var(--color-White) !important;
    }
  }
}

.longArrowLeftUi {
  font-size: 14px;
  margin-left: 25px;
  color: white;
}

.RewindToolTip {
  color: white;
  margin-left: 23px;
  font-size: 14px;
}

.playPause {
  font-size: 14px;
  color: white;
  margin-left: 23px;
}

.MuteTool {
  margin: 0 0;

  span {
    color: white;
    margin-left: 77px;
    font-size: 14px;
  }

  i {
    color: white;
    font-size: 14px;
  }

  .fa-long-arrow-up {
    margin-left: 44px;
  }

  .fa-long-arrow-down {
    margin-left: 30px;
  }
}

.MuteTool_1 {
  margin-bottom: 8px;
}

.MuteTool_3 {
  margin-top: 14px;
}

.playBackTooltip {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}

.UnMuteSpacer {
  margin-left: 59px !important;
}

.normalSped {
  color: white;
  margin-left: 23px;
  font-size: 14px;
}

span.playBackTooltipUp {
  color: white;
  margin-left: 23px;
  font-size: 14px;
}

.settingsTooltip {
  font-size: 14px;
  color: white;
  margin-left: 25px;
}

.notesTooltip {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}

.BookmarksTooltip {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}

.LayoutsTooltips {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}

.FullScreenTooltip {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}

.triangleRightSetter {
  color: white;
  font-size: 42px;
  position: absolute;
  left: 50%;
  transition: 0.1s all;
  bottom: 4px;

  svg {
    circle {
      display: none;
    }
  }
}

.___CRXBookMark__ {
  &.___CRXBookNote__ {
    .CrxEditForm {
      margin-bottom: 80px;
    }
  }

  &.crx-model {
    .gridFilterTextBox {
      min-width: 470px;
      max-width: 470px;
      padding: 0;

      .errors {
        .MuiInput-underline {
          textarea {
            outline: 2px solid #aa1d1d;
            border: 1px solid transparent;

            &:focus {
              border: 1px solid #888787;
              outline: 2px solid #aa1d1d;
            }
          }
        }
      }

      h6 {
        height: 25px;
        margin-top: 2px;

        .inputLabelReq {
          margin-left: 6px;
          line-height: 24px;
        }
      }

      textarea {
        width: 100%;
        height: 73px !important;
        min-height: 73px;
        overflow: auto !important;
        text-indent: 0;
        padding: 15px 15px;
        max-height: 73px;
        font-family: var(--Arial-font-family);

        &::-webkit-scrollbar {
          width: 1em;
          height: 15px;
        }

        &::-webkit-scrollbar-track {
          border-radius: 0px;
          margin-left: 0px;
          border-right: 0px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 0px;
          background-color: var(--color-c8c8c8);
          outline: 0px solid var(--color-slategrey);
          border: 2px solid var(--color-black-3);
          background-clip: content-box;
        }

        &::-webkit-scrollbar-track-piece {
          background-color: var(--color-f1f1f1);
          border: 1px solid var(--color-d1d2d4) !important;
          border-right: 0px;
          border-left: 0px;
        }

        &::-webkit-scrollbar-button:vertical:decrement {
          width: 30px;
          height: 15px;
          border: 0px solid var(--color-transparent);
          background: url("../../Assets/Images/scrollBarVerTop.jpg") no-repeat
            center center;
          background-size: contain;
          background-clip: border-box;
          position: relative;
          background-position: 0 0 !important;
          top: 0 !important;
        }

        &::-webkit-scrollbar-button:vertical:increment {
          width: 30px;
          height: 15px;
          border: 1px solid var(--color-d1d2d4);

          background: url("../../Assets/Images/scrollVerBottom.png") no-repeat
            center top var(--color-f1f1f1);
          background-size: contain;

          background-clip: border-box;
          position: relative;
          background-position: 0 0 !important;
          left: 0 !important;
        }

        &::-webkit-scrollbar:vertical {
          display: block !important;
        }

        &::-webkit-scrollbar:horizontal {
          display: none !important;
        }
      }

      .requiredLable {
        .inputLabel {
          font-size: 13px;
        }
      }

      .errorStateContent {
        padding: 0;
        margin: -2px 0;
      }
    }

    .crx-requird-check {
      margin-bottom: 69px;
      margin-top: 16px;

      label {
        vertical-align: middle;
        margin-left: 7px;
      }

      .crxCheckBoxCreate {
        padding-left: 3px;
      }
    }

    .modelTitle {
      h2 {
        font-size: 16px;
      }
    }

    .crx-message-alert {
      .crxAlertSnapShotEditForm {
        height: 35px;
      }
    }
  }

  .__CRXAlertDes__ {
    .crx-message-alert {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .categoryModalFooter {
    padding: 22px 25px 25px !important;
    height: auto;
    display: block;
  }
}

.cursorAdded {
  cursor: grabbing;
}

.fontSizeIn {
  width: 134px !important;
  height: 134px !important;

  i {
    font-size: 60px !important;
    transition: 1s all;
    margin-right: -3px;
  }

  .volume_percent_text {
    margin-bottom: -28px !important;
  }
}

.BookmarkNotePopupMain {
  position: absolute;
  top: 0;
  right: 0;
}
.faCogIconScale {
  transform: scale(1.3);
}

// .main-control-bar {
//   .MuiSlider-track {
//     &::after {
//       position: absolute;
//       content: "";
//       height: 30px;
//       width: 3px;
//       background: red;
//       right: 0;
//     }
//   }

// }

.player_right_responsive {
  display: none;
  .CrxchevronDown {
    font-size: 28px;
    top: -6px;
  }
}

.modeButton {
  position: absolute;
  left: 48%;
  margin-left: 3px;
  bottom: 23px;

  @media (max-width: 780px) {
    margin-top: -11px;
  }

  i {
    color: white;
    transition: 0.5s all linear;
    font-size: 33px;
  }
}

.modeNumCount {
  font-size: 16px;
}

.modeBtnIconLeft {
  transform: rotate(330deg);
  font-size: 28px;
  display: block;

  &::before {
    position: absolute;
    content: "";
    background: #ffff;
    height: 50px;
    width: 50px;
    z-index: -1;
    opacity: 15%;
    left: -9px;
    top: -9px;
    border-radius: 207px;
    transform: rotate(30deg);
  }

  .circleRedo {
    position: absolute;
    font-size: 8px;
    left: -4px;
    top: 4px;
    background: white;
    color: black;
    border-radius: 31px;
    padding: 5px 4px;
    border: 1px solid #3333;
    transform: rotate(28deg);

    span {
      font-size: 12px;
    }
  }
}

.modeBtnIconRight {
  transform: rotate(54deg);
  font-size: 28px;
  display: block;

  &::before {
    position: absolute;
    content: "";
    background: #ffff;
    height: 50px;
    width: 50px;
    z-index: -1;
    opacity: 15%;
    left: -9px;
    top: -9px;
    border-radius: 207px;
    transform: rotate(30deg);
  }

  .circleRedo {
    position: absolute;
    font-size: 8px;
    left: 11px;
    top: 3px;
    background: white;
    color: black;
    border-radius: 31px;
    padding: 5px 4px;
    border: 1px solid #3333;
    transform: rotate(303deg);

    span {
      font-size: 12px;
    }
  }
}

._Asset_View_Reason_Modal {
  .wrapper {
    margin: 0 0 0 0;
  }
  ._Footer_Edit_Form_Main_Btn {
    margin-top: 20px;
    display: flex;
    button {
      margin-right: 18px;
    }
  }
}

.__CRX__Reason__Modal__ {
  .modalEditCrx {
    .CrxEditForm {
      margin-bottom: 80px;
      margin-top: 40px;
      .wrapper {
        margin-left: 0;
      }
    }
  }
  .crx-message-alert {
    .crxAlertNoteEditForm {
      display: none;
    }
  }
  .__CRX__ErrorReason__ {
    .crx-message-alert {
      .crxAlertNoteEditForm {
        display: block;
        margin-top: 45px;
        margin-bottom: 43px;
      }
    }
  }
}

._Player_Layout_Menu_ {
  position: absolute !important;
  .MuiMenu-paper {
    width: 360px;
    height: 341px;
    border-radius: 0px;
    background-color: #404041;
    color: #d1d2d4;
    font-size: 14px;
    font-family: var(--base-font-family);
    overflow: hidden;
    position: absolute !important;
    top: auto !important;
    right: 99px !important;
    left: auto !important;
    bottom: 139px !important;
    // margin-bottom: 134px !important;
    // margin-right: 97px;
    ul {
      li {
        height: 51px;
        position: relative;
        font-size: 14px;
        font-family: var(--base-font-family);
        .MuiTouchRipple-root {
          display: none;
        }
        &:first-child {
          text-align: center;
          height: 35px;
          width: 100%;
          display: block;
          font-size: 14px;
          font-family: var(--base-font-family);
          padding: 8px 0;
          border-bottom: 1px solid #69696a;
          &:hover,
          &:active,
          &:focus {
            background-color: #404041 !important;
          }
        }
        &:last-child {
          border-top: 1px solid #69696a;
          &:hover,
          &:active,
          &:focus {
            background-color: #404041 !important;
          }
        }
        ._side_panel_grid_ {
          display: flex;
          align-items: center;
          position: absolute;
          left: 166px;
          div {
            background: #d1d2d4;
            height: 30px;
            width: 61px;
            border: 1px solid #707070;
          }
          p {
            background: #a7a9ac;
            height: 30px;
            width: 18px;
            border: 1px solid #611d1d;
          }
        }
        ._layout_check_icon_ {
          font-size: 14px;
          margin-left: -1px;
        }
        ._layout_text_content_ {
          position: absolute;
          left: 44px;
        }
        ._view_box_ {
          position: absolute;
          left: 166px;
          display: flex;
          align-items: center;
          p {
            background: #d1d2d4;
            height: 30px;
            width: 53px;
            border: 1px solid #707070;
          }
          div {
            span {
              background: #d1d2d4;
              height: 15px;
              width: 26px;
              border: 1px solid #707070;
              display: block;
            }
          }
        }
        &:not(:first-child),
        &:not(:last-child) {
          &:hover,
          &:focus {
            background-color: #231f20;
          }
          &:active {
            background-color: #6e6e6e;
          }
        }
      }
      ._Side_panel_menu_ {
        ._layout_menu_switcher_ {
          position: absolute;
          right: 18px;
        }
      }
      .activeLayout {
        background-color: #231f20;
      }
    }
  }
}

.multiVideoEnabled_ON {
  .MuiMenu-paper {
    bottom: 163px !important;
  }
}

.mainFullView {
  .multiVideoEnabled_ON {
    .MuiMenu-paper {
      bottom: 163px !important;
    }
  }
}
._Player_Layout_Menu_Multi {
  .MuiMenu-paper {
    top: auto !important;
    right: 0px !important;
    left: auto !important;
    bottom: 0px !important;
    margin-bottom: 239px !important;
    margin-right: 97px;
  }
}
._contaoner_flex {
  display: flex;
}

._video_player_grid {
  display: flex;

  &._container_column_dir {
    flex-direction: column;
    flex-wrap: wrap;
    .vid_col_4:nth-child(2) {
      padding-bottom: 8px;
    }
    .vid_col_4:nth-child(3) {
      padding-top: 8px;
    }
    .vid_col_4 {
      width: 33.33%;
      // flex: 1 1 80px;
      display: block;
      height: auto;
      margin: auto auto;
      .viewOnSideVideos {
        width: 100%;
        height: auto;
        margin: auto;
        aspect-ratio: 16 / 9;
        &:nth-child(1) {
          margin-bottom: 16px;
        }
      }
      video {
        margin-bottom: 0px !important;
      }
    }
    ._video_grid_col {
      &.vid_col_8 {
        .videoContainer {
          video {
            margin-bottom: 14px;
          }
        }
      }
    }
  }

  &._container_column_video_4 {
    flex-wrap: wrap;
    // width: 42%;
    justify-content: center;
    margin: auto 22px 0 auto !important;
    &._contaoner_75 {
      .vid_col_6 {
        width: 50%;
      }
    }
    .vid_col_6 {
      height: calc(100% / 2);
      margin: 0;
      width: auto;
      &:nth-child(1) {
        padding-bottom: 8px;
        justify-content: flex-end;
      }
      &:nth-child(2) {
        padding-bottom: 8px;
        justify-content: flex-start;
      }
      &:nth-child(3) {
        padding-top: 8px;
        justify-content: flex-end;
      }
      &:nth-child(4) {
        padding-top: 8px;
        justify-content: flex-start;
      }
      .videoContainer {
        height: 100% !important;
        video {
          margin-bottom: 0px !important;
          height: 100% !important;
        }
      }
    }
    // &._contaoner_75 {
    //   width: 43%;
    // }
  }
  &._container_column_video_6 {
    flex-wrap: wrap;
    &._contaoner_75 {
      .vid_col_4 {
        height: auto;
        .videoContainer {
          height: auto !important;
        }
      }
    }
    .vid_col_4 {
      flex-basis: 33.33%;
      height: 50%;
      &:nth-child(1) {
        padding-bottom: 8px;
        align-items: flex-end;
      }
      &:nth-child(2) {
        padding-bottom: 8px;
        align-items: flex-end;
      }
      &:nth-child(3) {
        padding-bottom: 8px;
        align-items: flex-end;
      }
      &:nth-child(4) {
        padding-top: 8px;
        align-items: flex-start;

        .videoContainer {
          .CRXCheckPopper {
            .CRXMultipleViewPopover {
              left: 6px;
              top: -1px;
            }
          }
        }
      }
      &:nth-child(5) {
        padding-top: 8px;
        align-items: flex-start;
      }
      &:nth-child(6) {
        padding-top: 8px;
        align-items: flex-start;
      }

      video {
        //object-fit: cover;
        // width: auto;
        // height: 100%;
        // aspect-ratio: 16 / 9;
      }
      .videoContainer {
        height: 100% !important;
      }
    }
  }
  ._video_grid_col {
    height: 100%;
    display: flex;
    align-items: center;
    .videoContainer {
      &:hover,
      &:focus {
        .CRXVideoMultiView {
          ._select_video_button {
            visibility: visible !important;
          }
        }
      }
      .videoFrontLayer {
        height: auto !important;
      }
      .CRXVideoMultiView {
        ._select_video_button {
          visibility: hidden !important;
          &.rc-menu-button--open {
            visibility: visible !important;
          }
        }
        &.CRXCheckPopper {
          ._select_video_button {
            display: block !important;
            visibility: visible !important;
          }
          .CRXMultipleViewPopover {
            display: block !important;
            visibility: visible !important;
          }
        }
        .rc-menu-container {
          ul {
            &.rc-menu {
              width: 184px;
              .rc-menu__item {
                padding-left: 5px !important;
                padding-right: 16px !important;
                &.rc-menu__item--hover {
                  color: var(--color-d1d2d4);
                }
                .crx-spac {
                  height: 33px;
                  line-height: 33px;
                  .crx-menu-icon {
                    display: none;
                  }
                  .crx-menu-list {
                    border: none;
                    display: flex;
                    width: 100%;
                    place-content: space-between;
                    flex-direction: row;
                    .CRXVideoViewArrow {
                      display: flex;
                    }
                  }
                }
                &:last-child {
                  border-top: 1px solid var(--color-69696a);
                  .crx-spac {
                    height: 42px;
                    line-height: 42px;
                  }
                  .crx-menu-list {
                    display: flex;
                    align-items: center;
                  }
                }
                &:first-child {
                  .crx-spac {
                    height: 42px;
                    line-height: 42px;
                    .crx-menu-list {
                      place-content: baseline;
                      align-items: center;
                    }
                  }
                }
                ._CBX_customized_Switcher {
                  .MuiSwitch-root {
                    height: 18px;
                    width: 30px;
                    .MuiButtonBase-root {
                      margin-left: -2px;
                      padding-top: 1px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .vid_col_12 {
    width: 100%;
    .videoContainer {
      height: 100% !important;
      video {
        height: 100% !important;
      }
    }
  }
  .vid_col_1 {
    width: 0px;
    display: none;
  }
  .vid_col_2 {
    width: 12%;
  }
  .vid_col_3 {
    width: 25%;
  }

  .vid_col_5 {
    width: 40%;
  }
  .vid_col_6 {
    width: 50%;
    height: auto;
    margin: auto;
  }
  .vid_col_7 {
    width: 25%;
  }
  .vid_col_8 {
    width: 66.66%;
  }

  .vid_col_9 {
    width: 75%;
  }
  &._contaoner_75 {
    width: 66.66%;
  }
}

.pathVideoPlayer,
.pathAssetDetail {
  overflow: hidden !important;
  padding-right: 0 !important;
  .crx-main-container {
    padding: 24px 0px 0px;
    &.makeStyles-content-9,
    &.jss9 {
      &.makeStyles-contentShift-10,
      &.jss10 {
        .searchComponents {
          padding-right: 0px;
          padding-left: 63px;
        }
      }
    }
  }
  .bottomLine {
    display: none;
  }
  .CRXPageTitle {
    &::after {
      background: transparent;
    }
  }
}

.showUp_audio {
  height: 75px;
  transition: all 1s ease-in-out;
}

.showDown_audio {
  height: 0px;
  transition: all 1s ease-in-out;
}

.slideOutDown_zoom {
  display: none;
  height: 0px;
  padding: 0px;
}
.slideInUp_zoom {
  display: block;
  height: auto;
  padding: 11px 0 0 0;
}

._audio_graph_container {
  height: 117px;
  position: relative;
  z-index: 0;
}

._play_timeLine_pipeRed {
  width: 2px;
  height: 35px;
  background-color: red;
  position: absolute;
  z-index: 9999;
  top: -11px;
}

.CRXAssetViewRequirement {
  z-index: 8 !important;
  .crx-message-alert {
    margin-top: 47px;
    margin-bottom: 39px;
    .CRXViewReasonAlert {
      padding-top: 2.1px;
      padding-bottom: 2.2px;
      .MuiAlert-message {
        span {
          span {
            margin-right: 4px;
          }
        }
      }
    }
    .MuiAlert-icon {
      top: 0;
      margin-right: 9px;
    }
  }
  p {
    margin-bottom: 79px;
    color: var(--color-333333);
    font-size: 14px;
  }
  .CRXFooter {
    button {
      padding: 0 16px;
    }
  }
  .CRXPopupCrossButton {
    margin-top: 5px;
    display: none;
  }
}
.CRXAssetReason {
  z-index: 8 !important;
  .CRXContent_user {
    .modalEditCrx {
      .CrxEditForm {
        margin-bottom: 79px;
        .wrapper {
          margin-left: 0;
        }
        .CrxCreateUser {
          display: flex;
          position: sticky;
          z-index: 8;
          top: 5px;
        }
        p {
          margin-top: 35px;
          margin-bottom: 44px;
        }
        label {
          margin-bottom: 14px;
          display: flex;
          sup {
            line-height: 13px;
            margin-left: 8px;
            font-size: 20px;
            font-weight: var(--Font-style-bold);
          }
          &.requiredLable {
            margin-bottom: 5px;
            .inputLabelReq {
              height: 19px;
              top: -7px;
              left: 8px;
            }
          }
        }
        .CRXViewReasonDropdown {
          width: 100%;
          padding-left: 16px;
          .MuiSelect-select {
            font-size: 14px;
            color: var(--color-74767c);
            font-family: var(--Arial-font-family);
          }
          &.CRXChangeColor {
            .MuiSelect-select {
              color: var(--color-333333);
            }
          }
        }
        .gridFilterTextBox {
          margin-top: 30px;
          margin-bottom: -7px;
          padding: 0;
          .crx-category-scroll {
            textarea {
              width: 100%;
              border: none;
              min-height: 81px;
              height: 81px !important;
              resize: none;
              padding: 12px 16px;
              text-indent: 0;
              overflow: auto !important;
              line-height: 16px;

              &::-webkit-scrollbar {
                width: 1em;
                height: 15px;
              }

              &::-webkit-scrollbar-track {
                border-radius: 0px;
                margin-left: 0px;
                border-right: 0px;
              }

              &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                background-color: var(--color-c8c8c8);
                outline: 0px solid var(--color-slategrey);
                border: 2px solid var(--color-black-3);
                background-clip: content-box;
              }

              &::-webkit-scrollbar-track-piece {
                background-color: var(--color-f1f1f1);
                border: 1px solid var(--color-d1d2d4) !important;
                border-right: 0px;
                border-left: 0px;
              }

              &::-webkit-scrollbar-button:vertical:decrement {
                width: 30px;
                height: 15px;
                border: 0px solid var(--color-transparent);
                background: url("../../Assets/Images/scrollBarVerTop.jpg")
                  no-repeat center center;
                background-size: contain;
                background-clip: border-box;
                position: relative;
                background-position: 0 0 !important;
                top: 0 !important;
              }

              &::-webkit-scrollbar-button:vertical:increment {
                width: 30px;
                height: 15px;
                border: 1px solid var(--color-d1d2d4);

                background: url("../../Assets/Images/scrollVerBottom.png")
                  no-repeat center top var(--color-f1f1f1);
                background-size: contain;

                background-clip: border-box;
                position: relative;
                background-position: 0 0 !important;
                left: 0 !important;
              }

              &::-webkit-scrollbar:vertical {
                display: block !important;
              }
              &::-webkit-scrollbar:horizontal {
                display: none !important;
              }
            }
          }
        }
      }
      .CRXFooter {
        .nextBtn {
          button {
            padding: 0 15px;
          }
        }
        .cancelBtn {
          button {
            padding: 0 25px;
          }
        }
      }
    }
  }
  .optionalSticky {
    height: 75px;
  }
  .CRXPopupCrossButton {
    margin-top: 5px;
    display: none;
  }
  .__CRX__ErrorReason__ {
    .modalEditCrx {
      .CrxEditForm {
        margin-bottom: 82px;
        .gridFilterTextBox {
          .crx-category-scroll {
            textarea {
              outline: 2px solid var(--color-aa1d1d);
            }
          }
          .inputLabelReq {
            color: var(--color-aa1d1d);
          }
          .errorStateContent {
            padding-top: 0;
            margin: 0;
          }
        }
        .CRXViewReasonDropdown {
          outline: 2px solid var(--color-aa1d1d);
          border: none;
        }
        label {
          sup {
            color: var(--color-aa1d1d);
          }
        }
      }
    }
  }
}
.CrxAssetSelectModal {
  margin-top: 7px;
  width: calc(522px - 52px);
  &.MuiPaper-rounded {
    border-radius: 0;
  }
}

.CRXTooltipMultiView {
  &.crxTooltipAll {
    margin-left: 82px;
    margin-top: 24px;
  }
}

.CRXMultipleViewPopover {
  z-index: 999;
  position: absolute;
  right: 30px;
  top: 0px;
  display: none;
  .MuiPaper-root {
    background: rgba(64, 64, 65, 0.97);
    padding: 18px 0 0;
    border: none;
    position: relative;
    top: -5px;
    left: 12px;
    min-width: 443px;
    border-radius: 0;
    box-shadow: 0px 0px 5px #00000033;
    ._popover_content {
      &._popover_title {
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 17px;
        position: relative;
        .title_text {
          color: var(--color-d1d2d4);
          font-family: var(--Arial-font-family);
          font-size: 18px;
          margin: auto;
          text-align: center;
        }
        ._cbx_PopupCloseIcon {
          position: absolute;
          right: 13px;
          width: 16px;
          display: none;
          height: 16px;
          left: auto;
          align-content: center;
          padding: 0;
        }
      }
    }

    .CRXMultiBackIcon {
      position: absolute;
      top: 1px;
      left: 0;
      color: var(--color-d1d2d4);
      cursor: pointer;
      padding: 0 25px;
      font-size: 18px;
    }
    .CRXPopupInnerDiv {
      margin-top: 2px;
      .CRXPopupHeader {
        padding: 0 25px;
        .DRPTitle {
          color: var(--color-d1d2d4);
          padding: 0;
          font-family: var(--Arial-font-family);
          font-weight: normal;
          font-size: 14px !important;
        }
      }
      .CRXPopupTableDiv {
        margin-top: 12px;
        .CRXMultiViewFooter {
          height: 72px;
          display: flex;
          align-items: center;
          padding: 0 25px;
          border-top: 1px solid var(--color-69696a);
          button {
            height: 30px;
            padding: 0 16px;
            border: 1px solid transparent;
            background: var(--color-e7e7e7) !important;
            color: var(--color-333333) !important;
            &.Mui-disabled {
              background-color: var(--color-333333) !important;
              color: var(--color-6a6a6a) !important;
            }
            &:hover {
              border: 1px solid transparent !important;
              outline: 1px solid var(--color-d74b00) !important;
            }
            &:focus {
              border: 1px solid transparent !important;
              outline: 2px solid var(--color-d74b00) !important;
            }
          }
        }
      }
      .CRXMultiViewList {
        width: 100%;
        &.crx-category-scroll {
          height: 274px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 1em;
            height: 15px;
          }

          &::-webkit-scrollbar-track {
            border-radius: 0px;
            margin-left: 0px;
            border-right: 0px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            background-color: var(--color-c8c8c8);
            outline: 0px solid var(--slategrey);
            border: 2px solid var(--color-black-3);
            background-clip: content-box;
          }

          &::-webkit-scrollbar-track-piece {
            background-color: var(--color-f1f1f1);
            border: 1px solid var(--color-d1d2d4) !important;
            border-right: 0px;
            border-left: 0px;
          }

          &::-webkit-scrollbar-button:vertical:decrement {
            width: 30px;
            height: 32px;
            border: 0px solid var(--color-transparent);
            background: url("../../Assets/Images/scrollBarVerTop1.jpg")
              no-repeat center center;

            background-size: contain;
            background-clip: border-box;
            position: relative;
            background-position: 0px 14px !important;
            top: 0 !important;
          }

          &::-webkit-scrollbar-button:vertical:increment {
            width: 30px;
            height: 25px;
            border: 1px solid var(--color-d1d2d4);

            background: url("../../Assets/Images/scrollVerBottom.png") no-repeat
              center top var(--color-f1f1f1);
            background-size: contain;

            background-clip: border-box;
            position: relative;
            background-position: 0 0 !important;
            left: 0 !important;
          }

          &::-webkit-scrollbar:vertical {
            display: block !important;
          }
          &::-webkit-scrollbar:horizontal {
            display: none !important;
          }
        }
        .CRXMultiViewDetail {
          height: 90px;
          display: flex;
          align-items: center;
          padding: 0 25px;
          margin-top: 1px;
          &.CRXMultiViewDetailActive {
            background: var(--color-6e6e6e) !important;
            cursor: pointer;
            .CRXMultiViewDetailList {
              color: var(--color-d1d2d4) !important;
            }
            .CRXMultiViewRadioBtn {
              .iconGrey {
                color: var(--color-d1d2d4) !important;
              }
            }
          }
          &:first-child {
            margin-top: 2px;
          }
          &:hover {
            background: var(--color-231f20);
            cursor: pointer;
            .CRXMultiViewDetailList {
              color: var(--color-f5f5f5);
            }
            .CRXMultiViewRadioBtn {
              background: transparent;
              &.Mui-checked {
                background: transparent;
              }
              .iconGrey {
                color: var(--color-f5f5f5);
              }
            }
          }
          &:active {
            background: var(--color-6e6e6e);
            cursor: pointer;
            .CRXMultiViewDetailList {
              color: var(--color-d1d2d4);
            }
            .CRXMultiViewRadioBtn {
              .iconGrey {
                color: var(--color-d1d2d4);
              }
            }
          }
          .CRXMultiViewRadio {
            .CRXMultiViewRadioBtn {
              margin-right: 9px;
              margin-left: -9px;
              color: transparent;
            }
          }
          .CRXMultiViewthumb {
            position: relative;
            width: 110px;
            height: 61px;
            video {
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
          .CRXMultiViewDetailList {
            color: var(--color-d1d2d4);
            font-size: 14px;
            margin-left: 31px;
            width: 199px;
            font-family: var(--Arial-font-family);
            div {
              line-height: 16px;
            }
            .CRXMultiViewName {
              color: var(--color-ff6e20);

              font-size: 14px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}

.mainFullView {
  &.fullscreen {
    &.fullscreen-enabled {
      #screens {
        ._videPlayer_height_AU {
          height: 100vh !important;
          padding: 0 0 !important;

          //SBS videos layout for fullscreen
          ._container_column_video_4 {
            .vid_col_6 {
              width: 50%;
            }
          }
        }
      }
    }
  }
  &::backdrop {
    background: transparent !important;
  }
  #screens {
    video {
      padding-bottom: 0px;
    }
    #video-player-screens {
      ._videoPlayer_grid_customize {
        &._contaoner_75 {
          padding-right: 12px;
          &._container_column_video_4 {
            height: 96%;
            .vid_col_6 {
              .videoContainer {
                height: auto !important;
              }
              &:first-child {
                align-items: flex-end;
              }
              &:nth-child(2) {
                align-items: flex-end;
              }
              &:nth-child(3) {
                align-items: flex-start;
              }
              &:nth-child(4) {
                align-items: flex-start;
              }
            }
          }
        }
        ._video_grid_col {
          &.vid_col_6 {
            &:first-child {
              padding-right: 12px;
            }
            &:nth-child(3) {
              padding-right: 12px;
            }
          }
          &.vid_col_8 {
            padding-right: 12px;
          }
        }
        &._container_column_video_6 {
          ._video_grid_col {
            &.vid_col_4 {
              &:nth-child(1) {
                padding-right: 6px;
              }
              &:nth-child(2) {
                padding-right: 6px;
                padding-left: 6px;
              }
              &:nth-child(3) {
                padding-left: 6px;
              }
              &:nth-child(4) {
                padding-right: 6px;
              }
              &:nth-child(5) {
                padding-right: 6px;
                padding-left: 6px;
              }
              &:nth-child(6) {
                padding-left: 6px;
              }
              .videoContainer {
                height: auto !important;
              }
            }
          }
        }
      }
      ._video_Player_Right_Panel {
        height: calc(100vh - 118px);
        margin-right: 0px;

        ._bookMark_list_items {
          height: calc(100vh - 264px);
        }
      }
    }
  }
  .videoContainer {
    margin-bottom: 0px;
    padding: 0px !important;
  }
  #CRX_Video_Player_Controls {
    bottom: 0px !important;
    left: 0px !important;
    z-index: 999;
    position: absolute;
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    .playerViewFlex {
      margin-bottom: 2px;
    }
    .view_Main_Controller_Bar {
      background: rgba(0, 0, 0, 0.5);
      padding-left: 25px !important;
      padding-right: 25px !important;
      padding-top: 14px !important;
      .playerViewFlex {
        margin-bottom: 0px !important;
      }
    }
  }
  ._video_player_container {
    #crx_video_player {
      padding: 0px 0px 0px;
      #screens {
        #video-player-screens {
          height: calc(100vh - 0px);
        }
      }
    }
  }

  #CRX_Video_Player_Controls {
    .player_controls_inner {
      .dummy_audio_image {
        width: 100%;
      }
    }
  }

  #timelines {
    position: absolute;
    bottom: 146px;
    width: 100%;
    padding-left: 50px;
    padding-right: 59px;
  }

  #counter {
    color: var(--color-White);
  }

  .volume-icon {
    span {
      color: var(--color-White);
    }
  }
  .showControlConatiner {
    visibility: visible;
  }
  .removeControlContainer {
    visibility: hidden;
    transition: 3s all;
  }
  ._Player_Layout_Menu_ {
    .MuiMenu-paper {
      margin-bottom: 53px !important;
      margin-right: 99px;
    }
  }
  ._bottom_arrow_seeMore {
    display: none;
  }
  .video_player_hover_thumb {
    top: -18px;
    transform: translate(-92px, 0px) !important;
  }
}

.video_with_multiple_timeline {
  &._Multiview_Grid_Spacer_6 {
    padding-bottom: 23px !important;
    #screens {
      #video-player-screens {
        //height: calc(100vh - 595px) !important;
      }
    }
  }
  .assetTimelineSync {
    background: transparent;
    font-size: 14px;
    height: 30px;
    color: #d1d2d4;
    padding: 0 16px;
    border: 1px solid transparent;
    margin-left: 356px;
    i {
      margin-right: 14px;
    }
    &:hover {
      border: 1px solid var(--color-d74b00);
      background: #d1d2d4;
      color: #333;
    }
  }
}

._beforeline_Main {
  position: relative;
  .video_pointer_line {
    position: absolute;
    top: 0px;
    z-index: 5;
    height: 100%;
    &:after {
      height: 100%;
      width: 1px;
      background: #fff;
      position: absolute;
      content: "";
    }
  }
  margin: 0 auto;
  .time_line_container {
    ._before_line {
      .line {
        padding: 0 168px 0 177px;
        margin-bottom: 23px;
        .beforerecording {
          background-color: #333;
          height: 100%;
          display: table-cell;
        }
        .afterrecording {
          background-color: #333;
          display: table-cell;
        }
        .camraName_timeline {
          font-size: 14px;
          padding-right: 16px;
          white-space: nowrap;
          color: var(--color-d1d2d4);
          width: 199px;
          min-width: 100px;
        }
        .canvas-width {
          border: 1px solid #f5f5f5;
          .buffer_button {
            border: 0px;
            background: #e7e7e7;
            width: 20px;
            height: 19px;
            font-size: 14px;
            color: #333;
            text-align: center;
            padding: 0;
            margin-right: 12px;
          }
          .buffer_btn_container {
            display: flex;
            padding-left: 33px;
            .buffer_left_btn {
              margin-right: 51px;
              display: flex;
            }
          }
        }
        .video_player_hover_thumb {
          width: 136px;
          height: 76px;
          padding: 4px;
          background: #000;
          bottom: 143px !important;
          z-index: 99;
          video {
            aspect-ratio: 16/9;
          }
        }
      }
    }
  }
} /*_beforeline_Main*/

.scroll_to_see_timeline {
  font-size: 14px;
  text-align: center;
  color: var(--color-White);
  font-family: var(--Arial-font-family);
  margin-bottom: 38px;
}
