
#crx_video_player {
  // width: 91%;
  background-color: var(--color-Black);
  position: relative;
  border: 2px solid var(--color-333333);
  max-width: 899px;
  max-height: 810px;
  min-width: 507px;
  min-height: 538px;
  padding: 25px 10px 10px 10px;
  video {
    // margin-top: 68px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .videoPlayerBtn {
    color: var(--color-White) !important;
    margin: 0 5px !important;
    background-color: transparent !important;
  }
  #CRX_Video_Player_Controls {
    margin: 0px;
    bottom: 12px;
    left: -12px;
    padding-left: 15px;
    padding-right: 15px;
    .crx_video_graph {
      height: 80px;
    }
    .videoPlayer_Timeline_Time {
      display: flex;
      justify-content: space-between;  
      flex: 1;
      padding-top: 5px;
      color: #FFFFFF;
      font-size: 14px;
      font-family: var(--base-font-family);
      .V_timeline_start_time {

      }
      .V_timeline_end_time{

      }
    }
    .main-control-bar {
      #SliderControlBar {
        position: relative;
        &::before {
          position : absolute;
          content : "";
          width: 2px;
          height : inherit;
          background : #D79903;
          left:0px;
          top: 0px;
          z-index: 9;
          transition: all 0.25s ease-in-out,
        }
        &::after {
          position : absolute;
          content : "";
          width: 2px;
          height : inherit;
          background : #D79903;
          right:0px;
          top: 0px;
          z-index: 9;
          transition: all 0.25s ease-in-out,
        }

        &:hover {
          &::before, &::after{
            transform: scaley(2.5),
          }
        }
        .MuiSlider-thumb {
          &::after {
            visibility: hidden !important;
          }
        }
      }
    
      &:hover {
        .MuiSlider-thumb {
          visibility: visible !important;
        }
      }
      
      
    }
  }

  .MuiGrid-grid-xs-1 {
    display: none;
  }
  .videoContainer {
    padding: 0 14px;
    position: relative;
  }
  .MuiGrid-grid-xs-3 {
    margin-bottom: 12px;
  }
  .GridCointainerBlock {
    display: block;
  }
  .GridCointainerHide {
    display: none;
  }
  .videoTransformApply {
    margin-top: -162px;
  }
  .pictureViewGrid {
    margin-left: auto;
    margin-top: -126px;
  }
  #video-player-screens {
    background-color: var(--color-black-11);
  }
  .PlayPause-container {
    margin-top: 8px;
  }
  .main-control-bar {
    padding: 0px 0px;
  }

  .playerViewFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 17px;
    height: 60px;
    .playerViewRight {
      display: flex;
      margin-top: 14px;
      margin-right: -1px;
      align-items: center;
      position: relative;
      .SettingGrid {
        width: 30px;
        .faCogIcon {
          position: absolute;
          right: 229px;
        }
      }
      .playerView {
        position: absolute;
        right: 0px;
      }
    }
    .player_right_responsive {
      display: none;
      .CrxchevronDown {
        color: white;
        font-size: 32px;
        top: -3px;
        transition: .1s all linear;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
    @media  only screen and (max-width:900px ) and (min-height:500px) {
      .playerViewRight {
        display: none;
      }
      .player_right_responsive {
        display: block;
        position: relative;
        right: -25px;
      }
      .playerView {
        top: -2px !important;
      }
    }
    .clickViewRightBtn {
      position: absolute;
      bottom: -46px;
      right: 43px;
      z-index: 24;
      display: flex !important;
    }
    .clickViewRightBtn {
      &::before {
          position: absolute;
          content: "";
          background: black;
          width: 315px;
          height: 55px;
          right: -44px;
          z-index: 0;
          top: -14px;
      }
  }


    .MenuListGrid {
      margin-bottom: -4px;
      margin-right: -24px;
    }
    #volume-controls {
      top: 29px;
      left: 196px;
    }
    .playerView {
      div {
        i {
          color: var(--color-White);
          font-size: 32px;
          transition: .1s all;
          &:hover {
            // font-size: 36px; 
            transform: scale(1.3);
            cursor: pointer;
          }
        }
      }
    }

    .MenuListGrid {
      .rc-menu-button {
        background: var(--color-333333) !important;
        color: var(--color-White);
        border: none;
        font-family:var(--base-font-family);
        font-weight: 500;
        line-height: 1.75;
        padding: 7px 7px;
      }
      .rc-menu__item {
        color: var(--color-White);
        padding: 9px 8px !important;
      }
      .rc-menu-container {
        top: 0;
      }
    }
    .playerViewMiddle {
      position: relative;
      top: -1px;
      left:20px;
      @media only screen and (max-width:1025px) {
        left: 26px;
      }
      @media only screen and (max-width:800px) {
        left: 80px;
      }
      @media only screen and (max-width:730px) {
        left: 87px;
      }
      .UndoIconPosition {
        position: absolute;
        left: -31px;
        top: -4px;
      }
      .RedoIconPosition {
        position: absolute;
        left: 55px;
        top: -4px;
      }
      .MinusIconPosition {
        position: absolute;
        top: -7px;
        left: 10px;
        transition: .1s all linear;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }

  .timeLineBar {
    margin-top: 15px;
    .MuiLinearProgress-root {
      margin-bottom: 15px;
    }
    .linearbarThird {
      div {
        background-color: var(--color-olive);
      }
    }
    .linearbarfourth {
      div {
        background-color: var(--color-coral);
      }
    }
  }
  .showControllerBar {
    display: block;
  }
  .hideControllerBar {
    display: none;
  }

  .trueshow {
    display: block !important;
  }
  .notShowFRicon {
    display: none;
  }
  .showFRicon {
    display: block;
    position: absolute;
  }

  .ClickerIcons {
    position: absolute;
    z-index: 6;
    left: 50%;
    top: 50%;
    margin-top: 88px;
    p {
      color: white;
    }
    i {
      font-size:34px;
      position: relative;
      top: 8px;
    }
    .iconFSSpan {
      font-size: 16px;
    }
  }
  .iconTableClr {
    color: white;
    font-size: 28px;
    position: absolute;
    right: 51px;
    transition: .2s all;
    &:hover {
      // font-size: 36px;
      transform: scale(1.3);
      cursor: pointer;
    }
  }
  .caretLeftIcon  {
    font-size: 42px;
    transition: .1s all;
    position: absolute;
    &:hover {
      // font-size: 48px;
      transform: scale(1.3);
      cursor: pointer;
    }
  }
   .caretRightIcon {
    position: absolute;
    left: 118px;
    font-size: 42px;
    transition: .1s all;
    &:hover {
      // font-size: 48px;
      transform: scale(1.3);
    }
  }
   .backward3Icon   {
    font-size: 34px;
    transition: .1s all;
    position: absolute;
    left: 85px;
    top: 4px;
    &:hover {
      // font-size: 42px;
      transform: scale(1.4);
    }
  }
  .backward2Icon  {
    font-size: 34px;
    transition: .1s all;
    position: absolute;
    left: 18px;
    top: 3px;
    &:hover {
      // font-size: 42px;    
      transform: scale(1.4);
    }
  }
  .iconPlay4 {
    font-size: 34px;
    position: absolute;
    left: 53px;
    top: 4px;
    transition: .1s all;
    &:hover {
      // font-size: 42px;    
      transform: scale(1.3);
    }
  }
  .iconPause2 {
    font-size: 30px;
    transition: .1s all;
    left: 53px;
    top: 5px;
    position: absolute;
    &:hover {
      // font-size: 42px;    
      transform: scale(1.3);
    }
  }
  .volume-icon {
    span {
      color: white;
      font-size: 28px;
      transition: .2s all;
      &:hover {
      // font-size: 34px;
      transform: scale(1.3);
      margin-top: -7px;
      }
    }
  }
  .iconMinusUndo {
    font-size: 28px;
    transition: .1s all linear;
    &:hover {
      // font-size: 36px;
      transform:scale(1.3);
    }
  }
  .undoAltIcon , .undoRedoIcon  {
    font-size: 25px;
    transition: .1s all;
  
  }
  .faCogIcon {
    font-size: 28px;
    color: white;
    margin-right: -15px;
    transition: .1s all;
    &:hover {
      cursor: pointer;
      // font-size: 36px;
      transform: scale(1.3);
    }
  }
  .faBookmarkIcon {
    font-size: 26px;
    position: absolute;
    right: 133px;
    transition: .1s all;
    &:hover {
      // font-size: 34px;
      transform: scale(1.3);
    }
  }
  .commentAltpPlus {
    font-size: 26px;
    position: absolute;
    right: 99px;
    transition: .1s all;
    &:hover {
      // font-size: 34px;
      transform: scale(1.3);
    }
  }
  .modeButton {
    position: absolute;
    left: 48%;
    top: 49%;
    margin-top: 64px;
    margin-left: 3px;
    @media(max-width:730px) {
      margin-top: 10px;
    }
    i {
      color: white;
      transition: .5s all linear;
      font-size: 33px;
    }
  }
  .modeNumCount {
    font-size: 16px;
  }
  .modeBtnIconLeft{
    transform: rotate(330deg);
    font-size: 28px;
    display: block;
    &::before {
      position: absolute;
      content: "";
      background: #ffff;
      height: 50px;
      width: 50px;
      z-index: -1;
      opacity: 15%;
      left: -9px;
      top: -9px;
      border-radius: 207px;
      transform: rotate(30deg);
    }
    .circleRedo {
      position: absolute;
      font-size: 8px;
      left: -4px;
      top: 4px;
      background: white;
      color: black;
      border-radius: 31px;
      padding: 5px 4px;
      border: 1px solid #3333;
      transform: rotate(28deg);
        span {
          font-size: 12px;
        }
    }
    
  }

  .modeBtnIconRight{
    transform: rotate(54deg);
    font-size: 28px;
    display: block;
    &::before {
      position: absolute;
      content: "";
      background: #ffff;
      height: 50px;
      width: 50px;
      z-index: -1;
      opacity: 15%;
      left: -9px;
      top: -9px;
      border-radius: 207px;
      transform: rotate(30deg);
    }
    .circleRedo {
      position: absolute;
      font-size: 8px;
      left: 11px;
      top: 3px;
      background: white;
      color: black;
      border-radius: 31px;
      padding: 5px 4px;
      border: 1px solid #3333;
      transform: rotate(303deg);
      span {
        font-size: 12px;
      }
    }
  }
  .playerViewLeft {
    margin-left: -5px;
    button {
      min-width: auto;
      padding: 0 0;
      margin: 0 0;
    }
  }
  .videoFR_Screen {
    video 
    {
      border: 10px solid black;
     }
  }
}

.mainFullView {
  #CRX_Video_Player_Controls {
    position: absolute;
    width: 100%;
    padding-left: 58px;
    padding-right: 27px;
  }
  #timelines {
    position: absolute;
    bottom: 146px;
    width: 100%;
    padding-left: 50px;
    padding-right: 59px;
  }
  #counter {
    color: var(--color-White);
  }
  .volume-icon {
    span {
      color: var(--color-White);
    }
  }
}

.handleReverseIcon {
  position: relative;
  top: 9px;
  left: 8px;
  svg {
    transition: .1s all linear;
  }
    &:hover {
      svg {
        transform: scale(1.5);
      }
    }
  
}
.handleforwardIcon  {
  position: relative;
  left: 133px;
  top: 10px;
  svg {
    transition: .1s all linear;

  }
  &:hover {
    svg {
      transform: scale(1.5);
    }
  }
}

.playBackMode {

  button {
    margin: 0 4px;
    background: var(--color-transparent);
    border: none;
    &:disabled {
      i {
      color: #979797;
      }
    }
    i {
      color: var(--color-White);
      font-size: 37px;
      position: relative;
      &:hover {
        cursor: pointer;
      }
 
      span {
        top: 10px;
        position: absolute;
        left: -3px;
        font-size: 8px;
        background: white;
        padding: 5px 3px;
        border-radius: 28px;
        color: black;
        border: 1px solid black;
      }
    }
    .undoRedoIcon {
      span {
        top: 5px;
        left: -3px;
      }
      &:hover {
        span {
          font-size: 10px;
        }
      }
    }
    .undoAltIcon  {
      span {
        top: 3px !important;
        transform: rotate(306deg) !important;
        left: 13px !important;
      }
      &:hover {
        span {
          font-size: 10px;
        }
      }
    }
    .fa-undo-alt {
      transform: rotate(55deg);
      span {
        transform: rotate(-50deg);
      }

    }
    .fa-redo-alt {
      transform: rotate(-38deg);
      span {
        transform: rotate(42deg);
      }
    }
  }
  .modeIconUndoLinker {
    background: white;
    position: absolute;
    color: black;
    border-radius: 31px;
    padding: 2px 3px;
    border: 1px solid #333;
    z-index: 1;
    font-weight: 700;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 5px; 
    span {
      font-size: 12px;
    }
  }
  .modeIconRedoLinker {
    background: white;
    position: absolute;
    color: black;
    border-radius: 31px;
    padding: 2px 3px;
    border: 1px solid #3333;
    z-index: 1;
    font-weight: 700;
    font-size: 10px;
    margin-top: 6px;
    margin-left: 2px;
    span {
      font-size: 12px;
    }

  }
  .UndoIconHover {
    transition: .1s all linear;
    &:hover {
      .modeIconUndoLinker {
          // font-size: 13px;
        cursor: pointer;
      }
      .modeIconRedoLinker {
        // font-size: 13px;
        cursor: pointer;
      }
    .undoAltIcon , .undoRedoIcon   {
        // font-size: 30px !important;
        cursor: pointer !important;
      
       }
       transform: scale(1.3);
    }
  }
}

@media (max-width: 1890px) {
  #crx_video_player {
    .pictureViewGrid {
      margin-top: -157px;
    }
  }
}

.gridFilterTextBox{
  // display: inline-flex !important;
  // margin-bottom: 15px;
}
// .gridFilterTextBox input{
//   margin-left: 20px !important;
//   width: 300px !important;
// }
.custom-class{
  display: inline-flex !important;
  padding-left: 6px;
}
.custom-class img{
  margin-left: 48px !important;
  margin-bottom: 15px;
}
.mapContainerhh {
  width: 200px;
 background-color: red;
display: inline-block;
}
.videoMenuCss {
  position: absolute;
  top: 34px;
  right: 42px;
}

.longArrowLeftUi {
  font-size: 14px;
  margin-left: 25px;
  color: white;
}
.RewindToolTip {
  color: white;
  margin-left: 23px;
  font-size: 14px;
}
.playPause {
  font-size: 14px;
  color: white;
  margin-left: 23px;
}
.MuteTool {
  margin: 0 0;
  span  {
    color: white;
    margin-left: 77px;
    font-size: 14px;
  }
  i {
    color: white;
    font-size: 14px;

  }
  .fa-long-arrow-up {
    margin-left: 44px;
  }
  .fa-long-arrow-down {
    margin-left: 30px;
  }
}
.MuteTool_1 {
  margin-bottom: 8px ;
} 
.MuteTool_3 {
  margin-top: 14px ;
} 
.playBackTooltip {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}
.UnMuteSpacer {
  margin-left: 59px !important;
}
.normalSped {
  color: white;
  margin-left: 23px;
  font-size: 14px;
}
span.playBackTooltipUp {
  color: white;
  margin-left: 23px;
  font-size: 14px;
}
.settingsTooltip {
  font-size: 14px;
  color: white;
  margin-left: 25px;
}
.notesTooltip {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}
.BookmarksTooltip {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}
.LayoutsTooltips {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}
.FullScreenTooltip {
  color: white;
  font-size: 14px;
  margin-left: 23px;
}
.triangleRightSetter {
  color: white;
  font-size: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 5%;
  transition: .1s all ;
  svg {
    circle {
      display: none;
    }
  }
}
