.drawerButton{
    min-width: 80px;
    top: 1px;
    height: 25px;

    &:hover, &:focus  {
        background-color: var(--color-f5f5f5) !important;
        position: relative;
        .bucketIcon{
            color: var(--color-333333);
          }
    }

    &.active {
        background-color: var(--color-f5f5f5) !important;
        position: relative;
        .bucketIcon{
            color: var(--color-333333);
          }
    }
}