.drawerButton{
    min-width: 80px;
    top: 2px;
    height: 25px;

    &:hover  {
        background-color: var(--color-White) !important;
        position: relative;
        .bucketIcon{
            color: var(--color-333333) !important;
          }
    }

    &.active {
        background-color: var(--color-f5f5f5) !important;
        position: relative;
        .bucketIcon{
            color: var(--color-333333) !important;
          }
    }
}