
.CRXGlobalSearchPanel {
    .MuiDrawer-paper {
        top:57px  !important;
        background: var(--color-f5f5f5);
        overflow: visible;
        border-left:1px solid var(--color-b7b8b9);
        box-shadow: var(--color-black-8) 0px 10px 10px 0px;
        min-width: 560px;
        max-width: 560px;
        padding: 10px;
        border-bottom:3px var(--color-d74b00) solid;
        height: 350px;
    }
}

.bucketIcon {
    color:var(--color-d1d2d4);
    font-size: 16px !important;
}

.GlobalSearchIconButton {
    padding:4px 0px !important;
    line-height: 0px !important;
    position: relative;
    min-width: 39px !important;
    border-radius: 0px  !important;
}
