.getac-simple-select {
  border: 2px solid rgb(206, 206, 206);
  transition: all 0.25s ease-in-out;
  select {
    padding: 5px;
    min-width: 250px;
    font-size: 14px;
    color: #444;
  }
  &:hover {
    border: 2px solid #888787;
    transition: all 0.25s ease-in-out;
  }
  &:focus {
    border: 3px solid #888787;
    transition: all 0.25s ease-in-out;
  }
  .MuiFormControl-root {
    border-width: 0px !important;
    &:hover,
    &:focus {
      border-width: 0px !important;
    }
  }
  fieldset {
    border-width: 0px !important;
    &:hover,
    &:focus {
      border-width: 0px !important;
    }
  }

  .MuiInputBase-root {
    padding: 0px !important;
  }

  .selectBoxTextField {
    input {
      font-size: 14px;
      color: #74767c;
    }
  }

  .selectBoxTextFieldAssets {
    width: 287px;
    margin-left: -2px;
    .Mui-focused {
      margin-top: 41px !important;
      margin-bottom: 12px !important;
      padding: 0px 10px !important;
      min-height: 30px;
      max-height: 150px;
    }
  }
  .MuiChip-root {
    background-color: #d7efff;
    border-radius: 4px;
  }
  div[class*="MuiChip-root-"] {
    background-color: #d7efff;
    border-radius: 4px;
  }
}
.error {
  border: 2px solid #aa1d1d;
}

.MuiInput-underline {
  &::before {
    border: 0px !important;
  }
  &::after {
    border: 0px !important;
  }
}
div[class*="MuiInput-underline"] {
  &::before {
    border: 0px !important;
  }
  &::after {
    border: 0px !important;
  }
}

.topLevel {
  margin-top: 25px;
}
.crx-getac-dropdown.Mui-focused {
  &:focus {
    min-height: 28px;
  }
}
.crx-getac-dropdown {
  background: #333333;
  position: relative;
  border: transparent;
  color: #333;
  height: 30px;
  box-sizing: border-box;
  margin-top: -2px;
  margin-left: 0.5px;
  min-height: 30px;
  font-family: Arial;

  &:hover {
    border: transparent;
  }
  &:focus {
    border: transparent;
  }
  .MuiChip-root {
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid #bebebe;
    height: 20px;
    order: 2;
    font-size: 14px;
    margin: 4px 4px !important;
    .MuiChip-label {
      padding-left: 6px;
      font-size: 14px;
      padding-right: 0;
      color: #333333;
    }
    svg {
      width: 13px;
      height: 17px;
      margin-left: 7px;
      color: #d1d2d4;
      margin-right: 7px;
      font-size: 14px;
      stroke: #d1d2d4;
      stroke-width: 2px;
    }
  }
  div[class*="MuiChip-root-"] {
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid #bebebe;
    height: 20px;
    order: 2;
    font-size: 14px;
    margin: 4px 4px !important;
    div[class*="MuiChip-label-"] {
      padding-left: 6px;
      font-size: 14px;
      padding-right: 0;
      color: #333333;
    }
    svg {
      width: 13px;
      height: 17px;
      margin-left: 7px;
      color: #d1d2d4;
      margin-right: 7px;
      font-size: 14px;
      stroke: #d1d2d4;
      stroke-width: 2px;
    }
  }
  .MuiInputBase-adornedStart {
    margin-top: 42px;
    margin-bottom: 12px;
    border-bottom: 1px solid #888787;
    min-height: 30px !important;
    max-height: 150px !important;
    input {
      height: 18px !important;
      &::placeholder {
        color: transparent;
      }
    }
  }
  div[class*="MuiInputBase-adornedStart-"] {
    margin-top: 42px;
    margin-bottom: 12px;
    border-bottom: 1px solid #888787;
    min-height: 30px !important;
    max-height: 150px !important;
    input {
      height: 18px !important;
      &::placeholder {
        color: transparent;
      }
    }
  }
  .MuiInputBase-adornedEnd {
    background: #d1d2d4;
    margin-left: 11px;
    margin-right: 12px;
    position: inherit;
    width: 92%;
    padding: 0 6px !important;
    border: 1px solid #888787;
    outline: 2px solid transparent;

    input {
      outline: none !important;
      color: #666666;
      margin-left: 3px;
      padding: 0;
      order: 3;
      padding: 0;
      height: 0;

      &:focus {
        outline: none !important;
      }
    }
  }
  div[class*="MuiInputBase-adornedEnd-"] {
    background: #d1d2d4;
    margin-left: 11px;
    margin-right: 12px;
    position: inherit;
    width: 92%;
    padding: 0 6px !important;
    border: 1px solid #888787;
    outline: 2px solid transparent;

    input {
      outline: none !important;
      color: #666666;
      margin-left: 3px;
      padding: 0;
      order: 3;
      padding: 0;
      height: 0;

      &:focus {
        outline: none !important;
      }
    }
  }

  .MuiAutocomplete-endAdornment {
    .MuiAutocomplete-clearIndicator {
      display: none;
    }
    .MuiAutocomplete-popupIndicator.MuiAutocomplete-popupIndicatorOpen {
      justify-content: flex-start !important;
      border: 2px solid #fff;
      outline: 1px solid #888787;
    }
    .MuiAutocomplete-popupIndicator {
      text-align: right;
      right: 5px;
      height: 30px;
      order: 1;
      top: 0;
      justify-content: flex-end;
      border-radius: 0;
      position: absolute;
      width: 285px;
      background: #d1d2d4;
      outline: 1px solid #888787;
      border: 2px solid transparent;

      svg {
        color: #333333;
      }
    }
  }

  div[class*="MuiAutocomplete-endAdornment-"] {
    left: 0;
    button[class*="MuiAutocomplete-clearIndicator-"] {
      display: none;
    }
    button[class*="MuiAutocomplete-popupIndicatorOpen-"] {
      justify-content: flex-start !important;
      border: 2px solid #fff !important;
      outline: 1px solid #888787 !important;
    }
    button[class*="MuiAutocomplete-popupIndicator-"] {
      text-align: right;
      right: 0;
      left:0;
      height: 30px;
      order: 1;
      top: 0;
      justify-content: flex-end;
      border-radius: 0;
      position: absolute;
      width: 285px;
      background: #d1d2d4;
      outline: 1px solid #888787;
      border: 2px solid transparent;

      svg {
        color: #333333;
      }
    }
  }
  .MuiFormControl-root {
    position: inherit;
    background: #404041 0% 0% no-repeat padding-box;
  }
  div[class*="MuiFormControl-root-"] {
    position: inherit;
    background: #404041 0% 0% no-repeat padding-box;
  }
}
.AssetsDataGrid {
  .centerPosition {
    border: none !important;
    margin-bottom: 0;
    .croseIcon {
      width: 12px;
      height: 12px;
      color: #d1d2d4;
      font-size: 12px;
      font-weight: bolder;
    }
  }
  .CBX-input {
    padding: 0 6px;
  }
  .wrapper {
    .select {
      padding-right: 30px;
      select {
        &:hover {
          border: none;
          outline: none;
        }
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
}
.Autocomplete_multi {
  position: relative;
  top: -14px;
  .crx-getac-dropdown {
    position: absolute;
    width: 100%;
  }
  div[class*="MuiAutocomplete-root"] {
    width: auto !important;
  }
}

.openAutoMulti {
  .Mui-focused {
    display: none;
  }
}
.autocompleteSpacer {
  height: 30px;
  line-height: 30px;
}
.autocompleteSpacer + .Autocomplete_multi {
  top: -28px;
}

.autocompleteSpacer + .Autocomplete_multi {
  .MuiInputBase-root {
    margin-top: 41px !important;
    margin-bottom: 12px !important;
    padding: 0px 6px !important;
    min-height: 30px;
    max-height: 150px;
    overflow: auto;
  }
}
.autocompleteSpacer + .Autocomplete_multi {
  div[class*="MuiInputBase-root-"] {
    margin-top: 41px !important;
    margin-bottom: 12px !important;
    padding: 0px 6px !important;
    min-height: 30px;
    max-height: 150px;
    overflow: auto;
  }
}
.dataTabAssets_table {
  .CRXPaper {
    padding: 0px 6px;
  }
}
.applyFieldBoreder {
  .MuiInputBase-root {
    outline: 2px solid #fff;
    border: 1px solid transparent;
  }
}
.applyFieldBoreder {
  div[class*="MuiInputBase-root-"] {
    outline: 2px solid #fff;
    border: 1px solid transparent;
  }
}
.removeFieldBoreder {
  .MuiInputBase-root {
    border: 1px solid #888787;
    outline: 2px solid transparent;
  }
}
.removeFieldBoreder {
  div[class*="MuiInputBase-root-"] {
    border: 1px solid #888787;
    outline: 2px solid transparent;
  }
}
