.CRXAppBar{
    background: var(--color-Black) url('../assets/images/headerBg.jpg') repeat center center;
    border-top: 4px solid var(--color-d74b00);
    border-bottom: 2px solid var(--color-282828);
    height: 57px;

    .topBarMenu{
        position: relative;
        top:-3px;
        padding-right: 20px;
        &:after {
            height: 13px;
            width: 0.090rem;
            background-color: var(--color-58585a);
            position: absolute;
            content: " ";
            top:2px;
            right:8px;
        }
    }

    .getacDropDownBtn{
        padding: 0px 5px;
        border-radius: 0px;
        margin-left: 5px;
        font-size: 13px;
        position: relative;
        top: -4px;
    }

    .appLogo {
        display: inline-block;
        width: 100px;
        position: relative;
        top: -3px;
    }

    .appTitle {
        position: relative;
        &::before {
            content: " ";
            position: absolute;
            left: 7px;
            background-color: var(--color-d1d2d4);
            width: 1px;
            height: 37px;
            top: 3px;
        }
    }
}

.navPanelButton{
    padding: 0px !important;
    position: relative !important;
    top: 8px;
    .panelIcon{
        font-size: 24px;
        color:var(--color-d1d2d4);
    }
}.active  {
    background: var(--color-transparent) !important;
    &::before {
        border-left: 10px solid var(--color-transparent) !important;
        border-right: 10px solid var(--color-transparent) !important;
        border-bottom: 10px solid var(--color-transparent) !important;
    }
}

.getacMaterHeadMenu{
    display: inline-block;
    vertical-align: top;
}