.CRXBreadcrumb {
  height: 32px;
  line-height: 28px !important;

  li {
    color: #333333;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    a {
      color: #c34400;
      font-size: 12px;
      text-decoration: none;

      &:hover {
        color: #c34400;
        text-decoration: underline;
        cursor: pointer;
      }
      &:focus {
        color: #c34400;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  span {
    .breadCrumbItem {
      color: #333333;
      &:hover {
        color: #333333;
        text-decoration: none;
        cursor: default;
      }
      &:focus {
        color: #333333;
        text-decoration: none;
        cursor: default;
      }
    }
  }

  .breadCrumbItem {
    font-size: 12px;
    color: #c34400;
    font-family: Arial, Helvetica, sans-serif !important;

    &:hover {
      color: #c34400;
      text-decoration: underline;
      cursor: pointer;
    }
    &:focus {
      color: #c34400;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .MuiBreadcrumbs-separator {
    position: relative;
    top: 1px;
    font-size: 12px;
    color: #333333;
  }
}
