.CRXBreadcrumb {
  line-height: 35px !important;
  height: 30px;
  li {
    color: var(--color-333333);
    font-size: 12px;
    font-family:var(--base-font-family);
    a {
      color: var(--color-c34400);
      font-size: 12px;
      text-decoration: var(--Text-decoration-none);

      &:hover {
        color: var(--color-c34400);
        text-decoration: var(--Text-decoration-underline);
        cursor: pointer;
        box-shadow: none !important;
      }
      &:focus {
        color: var(--color-c34400);
        text-decoration: var(--Text-decoration-underline);
        cursor: pointer;
        box-shadow: none !important;
      }
    }
  }

  span {
    .breadCrumbItem {
      color: var(--color-333333);
      &:hover {
        color: var(--color-333333);
        text-decoration: var(--Text-decoration-none);
        cursor: default;
      }
      &:focus {
        color: var(--color-333333);
        text-decoration: var(--Text-decoration-none);
        cursor: default;
      }
    }
  }

  .breadCrumbItem {
    font-size: 12px;
    color: var(--color-c34400);
    font-family:var(--base-font-family) !important;

    &:hover {
      color: var(--color-c34400);
      text-decoration: var(--Text-decoration-underline);
      cursor: pointer;
      box-shadow: none !important;
    }
    &:focus {
      color: var(--color-c34400);
      text-decoration: var(--Text-decoration-underline);
      cursor: pointer;
      box-shadow: none !important;
    }
  }

  .MuiBreadcrumbs-separator {
    position: relative;
    top: 1px;
    font-size: 12px;
    color: var(--color-333333);
  }
}
